@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('caslon-antique-regular/font/css/caslon-antique-regular.css');

body { background-color: #f3e3c1; }

.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;
    padding: 10px 0;
    z-index: 1;
    top: 0;
}

.main { background-color: #f3e3c1; }
.theme-color { color: #5e1a05; }
.insister { color: #5e1a05; font-weight: bold; }

.tgroupe {
    background-color: #5e1a05;
    color: white;
    font-family: 'calecon-antique', fantasy;
    font-weight: 500;
    font-size: large;
}
.saisie-score { width: 25px; text-align: center; }
.table thead th { border-bottom: none; }
.table td, .table th { padding: .10rem; border-top: none; }
.table td ul { margin-bottom: 0; }
tbody.alternate-color-dark tr:nth-child(even) { background-color: #cebfb5; }
tbody.alternate-color-light tr:nth-child(even) { background-color: #f3e3c1; }

a, .btn-link {
    color: #562f08;
}

.decal-top-1 { z-index: 1; position: relative; top: -5px; }
.decal-top-2 { z-index: 2; position: relative; top: -5px; }
.decal-top-3 { z-index: 3; position: relative; top: -5px; }
.top-row { box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05),inset 0 -1px 0 rgba(0,0,0,0.15); }

.bulle { padding: 8px; background-color: #fff7f2; border: 1px dotted #80390f; border-radius: .75em; }
.bulle > .table { margin-bottom: 0; }
.bulle.sortilege { width:500px; }

.item-icon { font-size: .800rem; color: #80390f; }

.alert-danger{
    padding: .12rem .60rem;
    letter-spacing: -1px;
    margin-bottom: 2px;
    line-height: 1.4;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #83761c;
}

.invalid {
    outline: 1px solid #9c3c04;
}

.validation-message {
    color: #9c3c04;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}