@code{
    [Parameter, EditorRequired] public ICollection<AptitudeDto> Items { get; set; } = null!;
    [Parameter] public AptitudeDto[][] ItemsChoix { get; set; } = Array.Empty<AptitudeDto[]>();
    [Parameter] public bool PasDeTooltip { get; set; }
}
<ul class="list-inline">
    @foreach (var item in Items)
    {
        <li class="list-inline-item"><AptitudeItem Item=@item PasDeTooltip=@PasDeTooltip /></li>
    }
    @foreach (var choix in ItemsChoix)
    {
        <li class="list-inline-item"><ChoixDAptitudeItem Choix=@choix PasDeTooltip=@PasDeTooltip /></li>
    }
</ul>