@code{
    [Parameter, EditorRequired] public AptitudeAcquiseDto[] Items { get; set; } = null!;
    [Parameter] public bool AfficherBonusDeCompetence { get; set; }
}
<ul class="list-inline">
    @foreach (var item in Items)
    {
        <li class="list-inline-item"><AptitudeAcquiseItem Item=@item AfficherBonusDeCompetence=@AfficherBonusDeCompetence /></li>
    }
</ul>