@using BlazorWjdr.Models
@using BlazorWjdr.Services
@code{ [Parameter] public AptitudeAcquise Item { get; set; } = null!; }

<a href="competences/@Item.Aptitude.Id.ToString()/" class="btn btn-light btn-item">
    <ItemIcon Icon="@Item.Icon" Classes="mr-1"/>
    @if (Item.Resume == "") {
        @Item.Detail
    } else {
        <Tooltip Text="@Item.Resume">@Item.Detail</Tooltip>
    }
</a>