@using BlazorWjdr.Components.Carriere

<tr>
    <td>
        @if (_carrieresLiees.Any())
        {
            <span class="btn btn-primary btn-item-action table-btn mr-1" @onclick="_ => AfficherCarrieres = !AfficherCarrieres">
                <span class="oi oi-badge" aria-hidden="true"></span>
            </span>
        }
    </td>
    <td>
        @if (Item.SousElements.Any())
        {
            <span class="btn btn-primary btn-item-action table-btn mr-1" @onclick="_ => AfficherSousElements = !AfficherSousElements">
                <span class="oi oi-layers" aria-hidden="true"></span>
            </span>
        }
    </td>
    <td>
        @if (Item.Parent != null)
        {
            <SousElement/>
        }
        <AptitudeItem Item="Item"/>
    </td>
    <td>@Item.CaracteristiqueAssociee</td>
    <td><CheckedIfTrue Condition="@Item.EstUneCompetenceDeBase"/> </td>
    <td><AptitudeItemList Items="@Item.TalentsLies.ToArray()"/></td>
</tr>
@if (AfficherCarrieres && _carrieresLiees.Any())
{
    <tr class="zone-detail">
        <td colspan="6" class="p-3">
            <CarriereItemList Items="_carrieresLiees"/>
        </td>
    </tr>
}
@if (AfficherSousElements && Item.SousElements.Any())
{
    @foreach (var sousElement in Item.SousElements)
    {
        <CompetenceRow Item="@sousElement" />
    }
}