@using BlazorWjdr.Models
@using BlazorWjdr.Services
@code{
    [Parameter, EditorRequired] public AptitudeAcquiseDto Item { get; set; } = null!;
    [Parameter] public bool AfficherBonusDeCompetence { get; set; }
    
    private string _hrefBase = null!;
    private string _titre = null!;
    private string _toolTipText = null!;

    protected override void OnParametersSet()
    {
        if (Item.Aptitude.EstUneCompetence)
        {
            _hrefBase = "competences";
            _titre = Item.Detail(AfficherBonusDeCompetence);
            _toolTipText = "["+Item.Aptitude.CaracteristiqueAssociee+"] " + Item.Aptitude.Resume;
        }
        else if (Item.Aptitude.EstUnTalent)
        {
            _hrefBase = "talents";
            _titre = Item.Detail(false);
            _toolTipText = Item.Aptitude.Resume;
        }
        else if (Item.Aptitude.EstUnTrait)
        {
            _hrefBase = "traits";
            _titre = Item.Detail(false);
            _toolTipText = string.IsNullOrWhiteSpace(Item.Aptitude.Resume) ? Item.Aptitude.Description : Item.Aptitude.Resume;
        }
        
        base.OnParametersSet();
    }
}

<a href="@_hrefBase/@Item.Aptitude.Id.ToString()/" class="btn btn-light btn-item">
    <ItemIcon Icon="@Item.Aptitude.Icon" Classes="me-1" />
    @if (_toolTipText == "") {
        @_titre
    } else {
        <Tooltip Text="@_toolTipText">@_titre</Tooltip>
    }
</a>