@using BlazorWjdr.Models

<a href="@_hrefBase/@Item.Id.ToString()/" class="btn btn-light btn-item">
    <ItemIcon Icon="@Item.Icon" Classes="me-1" />
    @if (PasDeTooltip || string.IsNullOrWhiteSpace(_toolTipText)) {
        @Item.Nom
    } else {
        <Tooltip Text="@(_toolTipText)">@Item.Nom</Tooltip>
    }
</a>

@code{
    [Parameter, EditorRequired] public AptitudeDto Item { get; set; } = null!;
    [Parameter] public bool PasDeTooltip { get; set; }

    private string _hrefBase = null!;
    private string _toolTipText = null!;

    protected override void OnParametersSet()
    {
        var resumeComplet = Item.Resume == "" ? Item.Description : Item.Resume;
        if (Item.EstUneCompetence)
        {
            _hrefBase = "competences";
            _toolTipText = "["+Item.CaracteristiqueAssociee+"] " + resumeComplet;
        }
        else if (Item.EstUnTalent)
        {
            _hrefBase = "talents";
            _toolTipText = resumeComplet;
        }
        else if (Item.EstUnTrait)
        {
            _hrefBase = "traits";
            _toolTipText = resumeComplet;
        }
        
        base.OnParametersSet();
    }
}