@using BlazorWjdr.Models

<a href="@_hrefBase/@Item.Id.ToString()/" class="btn btn-light btn-item">
    <ItemIcon Icon="@_oiIcon" Classes="mr-1"/>
    @if (PasDeTooltip || string.IsNullOrWhiteSpace(_toolTipText)) {
        @Item.Nom
    } else {
        <Tooltip Text="@(_toolTipText)">@Item.Nom</Tooltip>
    }
</a>

@code{
    [Parameter] public AptitudeDto Item { get; set; } = null!;
    [Parameter] public bool PasDeTooltip { get; set; }

    private string _hrefBase = null!;
    private string _oiIcon = null!;
    private string _toolTipText = null!;

    protected override void OnParametersSet()
    {
        if (Item.EstUneCompetence)
        {
            _hrefBase = "competences";
            _oiIcon = "target";
            _toolTipText = "["+Item.CaracteristiqueAssociee+"] " + Item.ResumeComplet;
        }
        else if (Item.EstUnTalent)
        {
            _hrefBase = "talents";
            _oiIcon = "brush";
            _toolTipText = Item.ResumeComplet;
        }
        else if (Item.EstUnTrait)
        {
            _hrefBase = "traits";
            _oiIcon = "droplet";
            _toolTipText = string.IsNullOrWhiteSpace(Item.ResumeComplet) ? Item.Description : Item.ResumeComplet;
        }
        
        base.OnParametersSet();
    }

}