@code {
    [Parameter, EditorRequired] public AptitudeDto[] Aptitudes { get; set; } = null!;
    [Parameter] public bool CompetencesAvanceesUniquement { get; set; }
    [Parameter] public bool GrosTitres { get; set; }

    private IEnumerable<AptitudeDto> _competences = null!;
    private IEnumerable<AptitudeDto> _talents = null!;
    private IEnumerable<AptitudeDto> _traits = null!;
    private string HeaderClass = "h5";

    protected override void OnParametersSet()
    {
        _competences = Aptitudes.Where(a => a.Categ == "skill" && (!CompetencesAvanceesUniquement || !a.EstUneCompetenceDeBase)).OrderBy(a => a.NomComplet);
        _talents = Aptitudes.Where(a => a.Categ == "talent").OrderBy(a => a.NomComplet);
        _traits = Aptitudes.Where(a => a.Categ == "trait").OrderBy(a => a.NomComplet);
        HeaderClass = GrosTitres ? "h5" : "h4";
    }
}
@if (_competences.Any())
{
    <span class="@HeaderClass">Compétences</span>
    <p><AptitudeItemList Items=@_competences /></p>
}
@if (_talents.Any())
{
    <span class="@HeaderClass">Talents</span>
    <p><AptitudeItemList Items=@_talents /></p>
}
@if (_traits.Any())
{
    <span class="@HeaderClass">Traits</span>
    <p><AptitudeItemList Items=@_traits /></p>
}
