@code{
    [Parameter, EditorRequired] public IEnumerable<AptitudeDto> Items { get; set; } = null!;
    [Parameter] public IEnumerable<IEnumerable<AptitudeDto>> ItemsChoix { get; set; } = Array.Empty<AptitudeDto[]>();
    [Parameter] public bool PasDeTooltip { get; set; }
}
<div class="list-btn-item">
    @foreach (var item in Items)
    {
        <AptitudeItem Item=@item PasDeTooltip=@PasDeTooltip />
    }
    @foreach (var choix in ItemsChoix)
    {
        <ChoixDAptitudeItem Choix=@choix PasDeTooltip=@PasDeTooltip />
    }
</div>