@using BlazorWjdr.Models

@for (var i = 0; i < Choix.Length; i++)
{
    @if (i != 0)
    {
        <span>&nbsp;<em>ou</em>&nbsp;</span>
    }
    <AptitudeItem Item="@Choix[i]"/>
}

@code{
    [Parameter]
    public AptitudeDto[] Choix { get; set; } = null!;
}