@using BlazorWjdr.Components.Reference
@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Shared.Oi

@code{
    [Parameter, EditorRequired] public BestioleDto Item { get; set; } = null!;
    
    private bool AfficherFiche { get; set; }
}
<tr>
    <td>
        <span class="btn btn-primary btn-item-action table-btn me-1" @onclick="_ => AfficherFiche = !AfficherFiche">
            <OiIcon Icon="eye"/>
        </span>
        <BestioleItem Item=@Item />
    </td>
</tr>
@if (AfficherFiche)
{
    <tr>
        <td colspan="2" class="p-3">
            <div class="bulle shadow-sm">
                <BestioleFiche Item=@Item />
            </div>
        </td>
    </tr>
}