@using BlazorWjdr.Models
@using BlazorWjdr.Components.Arme
@using BlazorWjdr.Components.Sortilege
@using BlazorWjdr.Services
@using System.ComponentModel.Design

@inject RacesService _racesService
@code{
    [Parameter] public BestioleDto Item { get; set; } = null!;
}
@if (Item.Sorts.Any())
{
    <h5 class="card-title">Sortilèges</h5>
    <p>
        <SortilegeItemList Items="@Item.Sorts"/>
    </p>
}
@if (Item.Armes.Any() || Item.Armures.Any() || Item.EquipementDeCarrieres != "")
{
    <h4 class="card-title">Equipement</h4>
    <p>
        @if (Item.Armes.Any())
        {
            <ArmeItemList Items="@Item.Armes"/>
        }
        @if (Item.Armures.Any())
        {
            <ArmureItemList Items="@Item.Armures"/>
        }
        @if (Item.EquipementDeCarrieres != "")
        {
            <span>@Item.EquipementDeCarrieres</span>
        }
    </p>
}