@using BlazorWjdr.Models
<ul class="list-inline">
    @foreach (var bestiole in Items.OrderBy(c=>c.Nom))
    {
        <li class="@ItemClass">
            <BestioleItem Item="@bestiole" Nom="@(NomCourt ? bestiole.NomCourt : bestiole.Nom)" MasquerCarriere="@NomCourt"/>
        </li>
    }
</ul>
@code {
    [Parameter] public string ItemClass { get; set; } = "list-inline-item";
    [Parameter] public BestioleDto[] Items { get; set; } = null!;
    [Parameter] public bool NomCourt { get; set; }
}