@using BlazorWjdr.Models

<p class="card-text">
    <Blessures Item="@Item"/>
    @if (Item.ProfilActuel.M > 0)
    {
        <br/>
        <strong>Mouvement :&nbsp;</strong><span>&nbsp;@Item.ProfilActuel.M</span>
    }
</p>
@code{
    [Parameter]
    public BestioleDto Item { get; set; } = null!;
}