@using BlazorWjdr.Components.Reference
@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Models
@using BlazorWjdr.Shared.Oi

<tr>
    <td>
        <span class="btn btn-primary btn-item-action table-btn mr-1" @onclick="_ => AfficherFiche = !AfficherFiche">
            <span class="oi oi-eye" aria-hidden="true"></span>
        </span>
        <BestioleItem Item="@Item"/>
    </td>
</tr>
@if (AfficherFiche)
{
    <tr>
        <td colspan="2" class="p-3">
            <div class="bulle" style="padding-bottom: 0;">
                <BestioleFiche Item="@Item"/>
            </div>
        </td>
    </tr>
}
@code{
    [Parameter]
    public BestioleDto Item { get; set; } = null!;
    
    private bool AfficherFiche { get; set; }
}