@code {
    [Parameter, EditorRequired] public BestioleDto Bestiole { get; set; } = null!;
}
<div class="card-body">
    <div class="bulle px-3">
        <h3>@Bestiole.Nom</h3>
        <BestioleFiche Item=@Bestiole NAfficherQueLeProfilActuel=true />
    </div>
</div>