@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Aptitude
@using System.ComponentModel.Design

@inject RacesService _racesService
@code{
    [Parameter, EditorRequired] public BestioleDto Item { get; set; } = null!;
    [Parameter] public bool NAfficherQueLeProfilActuel { get; set; }
    [Parameter] public bool NePasAfficherMatosEtSorts { get; set; }
}
<p>
    <BestioleProfil Item=@Item NAfficherQueLeProfilActuel=@NAfficherQueLeProfilActuel />
</p>
<BestioleBlessMouvProt Item=@Item />
<h5 class="card-title">Aptitudes</h5>
<AptitudesAcquises Item=@Item MasquerTitres=@true />
@if (NePasAfficherMatosEtSorts == false)
{
    <BestioleFicheMatosSorts Item=@Item />
}