@using BlazorWjdr.Models
@code {
    /*
     * CC (mélée - ...)
     * BF / BE
     * arme / dégâts
     * compétences de combat
     * compteur de round (next)
     * compteur d'avantages
     * ajouter/retirer des conditions
     * compteur de blessures / blessures totales
     * déclarer mort
     *
     * + tables coups critiques
     */
    [Parameter] public CombattantDto[] Combattants { get; set; } = null!;
}
<ul>
@foreach (var combattant in Combattants)
{
    <li>
        <CombattantItem Item="@combattant"/>
    </li>
}
</ul>