@code{
    [Parameter, EditorRequired] public CombattantDto Item { get; set; } = null!;
    [Parameter] public bool Ennemi { get; set; }
}
<BestioleItem Item=@Item.Combattant Nom=@Item.Nom>
    <span class="ms-2"></span>
    <Tooltip Text=@Item.DetailDuJet>
        <span class="insister">@Item.JetDInitiative</span>
    </Tooltip>
</BestioleItem>