@using BlazorWjdr.Models

<ul>
@foreach (var combattant in Combattants)
{
    <li>
        <InitiativeDeCombatItem Item="@combattant"/>
    </li>
}
</ul>

@code {
    /*
     * CC (mélée - ...)
     * BF / BE
     * compétences de combat
     * compteur de round (next)
     * compteur d'avantages
     * ajouter/retirer des conditions
     * compteur de blessures
     * déclarer mort
     */
    [Parameter]
    public InitiativeDeCombatDto[] Combattants { get; set; } = null!;
}