@using BlazorWjdr.Models
@code{
    [Parameter] public InitiativeDeCombatDto Item { get; set; } = null!;
}
<BestioleItem Item="@Item.Combattant">
    <Tooltip Text="@Item.DetailDuJet">
        <strong class="ml-2">@Item.JetDInitiative</strong>
        <span class="oi oi-info ml-1" style="color:#aa0101" aria-hidden="true"></span>
    </Tooltip>
</BestioleItem>