@using BlazorWjdr.Models
<span class="row-profil">
    <ProfilCol IsBonus="true" Pourcent="false" Value="@Caracteristiques.A"/>
    <ProfilCol IsBonus="true" Pourcent="false" Value="@Caracteristiques.B"/>
    <ProfilCol IsBonus="true" Pourcent="false" Value="@Caracteristiques.M"/>
    <ProfilCol IsBonus="true" Pourcent="false" Value="@Caracteristiques.Mag"/>
</span>
@code{
    [Parameter]
    public ProfilDto Caracteristiques { get; set; } = null!;
}