@code {
    [Parameter] public ProfilDto? ProfilInitial { get; set; }
    [Parameter] public ProfilDto? PlanDeCarriere { get; set; }
    [Parameter] public ProfilDto? ProfilActuel { get; set; }
}
<div class="z-0">
    <div class="d-inline-block">
        <ProfilHeaderRow/>
    </div>
</div>
@if (ProfilInitial is not null)
{
    <div class="decal-top z-1">
        <div class="d-inline-block">
            <ProfilValueRow Profil="ProfilInitial"/>
        </div>
    </div>
}
@if (PlanDeCarriere is not null)
{
    <div class="decal-top z-2">
        <div class="d-inline-block">
            <ProfilBonusRow Profil="PlanDeCarriere"/>
        </div>
    </div>
}
@if (ProfilActuel is not null)
{
    <div class="decal-top z-3">
        <div class="d-inline-block">
            <ProfilValueRow Profil="ProfilActuel"/>
        </div>
    </div>
}