.col-profil-header {
    min-width: 44px;
    max-width: 44px;
    padding: 0;
    border: 2px solid #5e1a05;
    background-color: #5e1a05;
    height: 27px;
    color: White;
    text-align: center;
}