<div class="profile-row">
    <div class="profile-columns-title">
        <div class="profile-column-header">CC</div>
        <div class="profile-column-header">CT</div>
        <div class="profile-column-header">F</div>
        <div class="profile-column-header">E</div>
        <div class="profile-column-header">Ag</div>
        <div class="profile-column-header">Int</div>
        <div class="profile-column-header">FM</div>
        <div class="profile-column-header">Soc</div>
    </div>
</div>