<div class="profile-row">
    <div class="profile-row-title"></div>
    <div class="profile-columns-title">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td class="profile-column-header">CC</td>
                <td class="profile-column-header">CT</td>
                <td class="profile-column-header">F</td>
                <td class="profile-column-header">E</td>
                <td class="profile-column-header">Ag</td>
                <td class="profile-column-header">Int</td>
                <td class="profile-column-header">FM</td>
                <td class="profile-column-header">Soc</td>
            </tr>
        </table>
    </div>
</div>