<div class="row row-profil row-profil-header">
    <ProfilCellHeader Carac="CC"/>
    <ProfilCellHeader Carac="CT"/>
    <ProfilCellHeader Carac="F"/>
    <ProfilCellHeader Carac="E"/>
    <ProfilCellHeader Carac="Ag"/>
    <ProfilCellHeader Carac="Int"/>
    <ProfilCellHeader Carac="FM"/>
    <ProfilCellHeader Carac="Soc"/>
</div>