@using BlazorWjdr.Models
@code {
    [Parameter] public ProfilDto? ProfilInitial { get; set; }
    [Parameter] public ProfilDto? PlanDeCarriere { get; set; }
    [Parameter] public ProfilDto? ProfilActuel { get; set; }
}
<div style="z-index: 0;">
    <div style="display:inline-block;">
        <ProfilHeaderRow/>
    </div>
</div>
@if (ProfilInitial != null)
{
    <div class="decal-top-1">
        <div style="display:inline-block;">
            <ProfilValueRow Profil="ProfilInitial"/>
        </div>
    </div>
}
@if (PlanDeCarriere != null)
{
    <div class="decal-top-2">
        <div style="display:inline-block;">
            <ProfilBonusRow Profil="PlanDeCarriere"/>
        </div>
    </div>
}
@if (ProfilActuel != null)
{
    <div class="decal-top-3">
        <div style="display:inline-block;">
            <ProfilValueRow Profil="ProfilActuel"/>
        </div>
    </div>
}