@using BlazorWjdr.Models
<span class="row-profil">
    <ProfilCol IsBonus="true" Pourcent="false" Value="@Profil.A"/>
    <ProfilCol IsBonus="true" Pourcent="false" Value="@Profil.B"/>
    <ProfilCol IsBonus="true" Pourcent="false" Value="@Profil.M"/>
    <ProfilCol IsBonus="true" Pourcent="false" Value="@Profil.Mag"/>
</span>
@code{
    [Parameter]
    public ProfilDto Profil { get; set; } = null!;
}