/*
.table-profil { display: inline-block; }
*/

/*
.row-profil { border: 1px solid #5e1a05; }
.row-profil-header { background-color: #5e1a05; height: 27px; color: White; }
.row-profil-bonus { }

.col-profil { border: 1px solid #5e1a05; display: inline-block; text-align: center; }
.col-profil-header { }
 */