<span class="row-profil row-profil-header">
    <ProfilCol Carac="CC"/>
    <ProfilCol Carac="CT"/>
    <ProfilCol Carac="F"/>
    <ProfilCol Carac="E"/>
    <ProfilCol Carac="Ag"/>
    <ProfilCol Carac="Int"/>
    <ProfilCol Carac="FM"/>
    <ProfilCol Carac="Soc"/>
</span>