.col-profil {
    min-width: 44px;
    max-width: 44px;
    padding: 0;
    border: 2px solid #5e1a05;
    border-radius: .45rem;
    text-align: center;
}
.col-profil-bonus {
    letter-spacing: -1px;
}