@using CharHammer.Components.Reference

@inject TableDesCarrieresInitialesService Service
@code {
    [Parameter, EditorRequired] public int RaceId { get; set; }

    int _split;
    int _nbColonnes = 4;

    IEnumerable<LigneDeCarriereInitialeDto> _allLines = null!;
    List<LigneDeCarriereInitialeDto> _col1Lines = [];
    List<LigneDeCarriereInitialeDto> _col2Lines = [];
    List<LigneDeCarriereInitialeDto> _col3Lines = [];
    List<LigneDeCarriereInitialeDto> _col4Lines = [];

    protected override void OnParametersSet()
    {
        _allLines = Service.GetByRace(RaceId);

        var nb = _allLines.Count() / _nbColonnes;
        if (_allLines.Count() % _nbColonnes != 0)
            nb++;
        _split = nb;

        _col1Lines = [];
        _col2Lines = [];
        _col3Lines = [];
        _col4Lines = [];

        for (var i = 0; i < _allLines.Count(); i++)
        {
            if (i < _split)
                _col1Lines.Add(_allLines.ElementAt(i));
            else if (i < (_split * 2))
                _col2Lines.Add(_allLines.ElementAt(i));
            else if (i < (_split * 3))
                _col3Lines.Add(_allLines.ElementAt(i));
            else
                _col4Lines.Add(_allLines.ElementAt(i));
        }
    }
}
<table>
    <tbody>
    @for (var i = 0; i < _split; i++)
    {
        <tr>
            @if (i == 0 || _col1Lines[i - 1].Carriere.Groupe != _col1Lines[i].Carriere.Groupe)
            {
                <CarriereInitialeGroupeCol Groupe=@_col1Lines[i].Carriere.Groupe />
                <CarriereInitialeRow Item=@_col1Lines[i] BorderTop=true />
            }
            else
            {
                <td class="vocation"></td>
                <CarriereInitialeRow Item=@_col1Lines[i] />
            }
            @if (i < _col2Lines.Count)
            {
                if (i == 0 || _col2Lines[i - 1].Carriere.Groupe != _col2Lines[i].Carriere.Groupe)
                {
                    <CarriereInitialeGroupeCol Groupe=@_col2Lines[i].Carriere.Groupe />
                    <CarriereInitialeRow Item=@_col2Lines[i] BorderTop=true />
                }
                else
                {
                    <td class="vocation"></td>
                    <CarriereInitialeRow Item=@_col2Lines[i] />
                }
                
            }
            @if (i < _col3Lines.Count)
            {
                if (i == 0 || _col3Lines[i - 1].Carriere.Groupe != _col3Lines[i].Carriere.Groupe)
                {
                    <CarriereInitialeGroupeCol Groupe=@_col3Lines[i].Carriere.Groupe />
                    <CarriereInitialeRow Item=@_col3Lines[i] BorderTop=true />
                }
                else
                {
                    <td class="vocation"></td>
                    <CarriereInitialeRow Item=@_col3Lines[i] />
                }
            }
            @if (i < _col4Lines.Count)
            {
                if (i == 0 || _col4Lines[i - 1].Carriere.Groupe != _col4Lines[i].Carriere.Groupe)
                {
                    <CarriereInitialeGroupeCol Groupe=@_col4Lines[i].Carriere.Groupe />
                    <CarriereInitialeRow Item=@_col4Lines[i] BorderTop=true />
                }
                else
                {
                    <td class="vocation"></td>
                    <CarriereInitialeRow Item=@_col4Lines[i] />
                }
            }
        </tr>
    }
    </tbody>
</table>
