@using CharHammer.Components.Aptitude
@code {
    [Parameter, EditorRequired] public CulteDto Culte { get; set; } = null!;
}
<div class="section">
    <h5>@Culte.Nom</h5>
    @if (Culte.Mineur)
    {
        <strong><em>Ordre mineur</em></strong>
    }
    
    @if (Culte.Aptitudes.Any())
    {
        <AptitudeItemList Items=@Culte.Aptitudes />
    }
    
    <CardParagraphes Text="@Culte.Description"/>
    
    @if (!string.IsNullOrWhiteSpace(Culte.Ambiance))
    {
        <p class="text-justify">
            <em class="p-4">@Culte.Ambiance</em>
        </p>
    }
</div>
