/* /Components/Carriere/CarriereRestriction.razor.rz.scp.css */
.alert[b-rraq0b0f9n] {
    padding: .12rem .60rem;
    letter-spacing: -1px;
    margin-bottom: 2px;
    line-height: 1.4;
}
/* /Components/Carriere/TableDeDepart.razor.rz.scp.css */
.vocation[b-jqomepxlyj] {
    width: 80px;
    font-size: small;
}
/* /Components/Index/CreationPerso/IndexCreationPersoRaces.razor.rz.scp.css */
.hstack:not(:last-child)[b-lcch9hx2ua] {
    margin-bottom: 0.25rem;
}
[b-lcch9hx2ua] .btn {
    width: 2rem;
}
[b-lcch9hx2ua] .btn-race {
    width: 7rem;
}
[b-lcch9hx2ua] .btn-race.disabled {
    opacity: unset;
}
/* /Components/Index/IndexDernieresRecrues.razor.rz.scp.css */
.list-item-v .btn-item[b-b2iqjtceb8] { display: block; }
/* /Components/Profil/Profil.razor.rz.scp.css */
.decal-top[b-nplfmbjmz6] { position: relative; top: -5px; }
/* /Components/Regle/TraitsRaciauxHumains.razor.rz.scp.css */
button[b-33fbycr4ot] {
    width:120px;
}
button.btn-sm[b-33fbycr4ot] {
    width:100px;
}
/* /Pages/Campagne/IndexScenarios.razor.rz.scp.css */
.form-control[b-cve9yfjogx], .form-select[b-cve9yfjogx], .form-check-input[b-cve9yfjogx] {
    --bs-body-bg: #fff;
}
.form-check-input:checked[b-cve9yfjogx] {
    background-color: var(--theme-orange);
    border-color: var(--theme-orange);
}
/* /Pages/Campagne/Scenarios/PageLaFleurDeSang.razor.rz.scp.css */
.replique[b-jmvq4la4t9] { margin-bottom:0.4em; }
.pnj-christian[b-jmvq4la4t9] { color:#0056b3; }
.pnj-estalien[b-jmvq4la4t9] { color:#5e1a05; }
.pnj-kanter[b-jmvq4la4t9], .pnj-initie[b-jmvq4la4t9] { color:darkslategrey; }
.pnj-maitre[b-jmvq4la4t9] { color: #a65a09 }
/* /Pages/Matos/EquipementArmures.razor.rz.scp.css */
.table tbody[b-0z5pwvloxm] { font-size: 14px; }
[b-0z5pwvloxm] .btn.btn-item { font-size: 14px; }
/* /Pages/Matos/GuideDuConsommateur.razor.rz.scp.css */
.navbar a[b-tp4ywmrg04] {
    width: 8rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
}
/* /Shared/Citation.razor.rz.scp.css */
.blockquote[b-eqph7dlh6y] {
    font-size: .95rem;
}
/* /Shared/Compteur.razor.rz.scp.css */
.ajuster:hover[b-2rnoz6s6p7] { cursor: pointer; }
.saisie-score[b-2rnoz6s6p7] { width: 25px; text-align: center; }
/* /Shared/FluidLayout.razor.rz.scp.css */
.page[b-5ds9875m9p] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-5ds9875m9p] {
    flex: 1;
}

/*
.sidebar {
    background-image: linear-gradient(180deg, #270404 0%, #5d342d 70%);
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
*/
/* /Shared/GodMode.razor.rz.scp.css */
input[b-vjhg3kucya] {
    font-size: .7rem;
    width: 4rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
}
/* /Shared/ImageMax.razor.rz.scp.css */
.career-img[b-swacsjmkup] { float:right; margin-left:15px; }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-ptappyth0t] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-ptappyth0t] {
    flex: 1;
}

/*
.sidebar {
    background-image: linear-gradient(180deg, #270404 0%, #5d342d 70%);
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
*/
/* /Shared/MainTopRow.razor.rz.scp.css */
.navbar[b-krtw6lgy92] {
    --bs-navbar-padding-y: 0.2rem;
    background-color: var(--theme-orange-dark);
    border-bottom: 1px solid #dbcfc8;
}
/* /Shared/MainTopRowSearchBar.razor.rz.scp.css */
h6[b-6s9dd3rq9w] { font-size: medium; margin-top: .25rem; }
input[b-6s9dd3rq9w] {
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
}
/* /Shared/PageSectionRowTitle.razor.rz.scp.css */
/* /Shared/SousMenu.razor.rz.scp.css */
[b-uriq1gqfvi] a {
    width: 8rem;
}
[b-uriq1gqfvi] a:not(:last-child) {
    margin-right: 2rem;
}
/* /Shared/Tooltip.razor.rz.scp.css */
.tooltip-wrapper[b-n0eqg1tdss] {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
    /*cursor: help;*/
}
a:-webkit-any-link .tooltip-wrapper[b-n0eqg1tdss] { cursor:pointer; }

span[b-n0eqg1tdss] {
    visibility: hidden;
    position: absolute;
    width: 360px;
    bottom: 180%;
    left: 50%;
    margin-left: -180px;
    letter-spacing: -1px;
    line-height: 1.1em;
    background-color: #363636;
    color: var(--bs-white);
    text-align: justify;
    padding: 5px 7px;
    border-radius: 6px;
    z-index: 777;
}

span[b-n0eqg1tdss]::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover span[b-n0eqg1tdss] {
    visibility: visible;
}
