/* /Components/Bestiole/CombattantRow.razor.rz.scp.css */
/*
.row-ennemi { background-color: #6f42c19e; }
 */
/* /Components/Index/IndexDernieresRecrues.razor.rz.scp.css */
.list-item-v .btn-item[b-b2iqjtceb8] { display: block; }
/* /Components/Index/IndexPresentationRacesJouables.razor.rz.scp.css */
.card-title:hover[b-1ropufwoaq] { cursor: pointer; }
/* /Components/Index/IndexTablesCarrieresInitiales.razor.rz.scp.css */
.card-title:hover[b-d619i6s3zn] { cursor: pointer; }
/* /Components/Regle/TraitsRaciauxHumains.razor.rz.scp.css */
button[b-33fbycr4ot] {
    width:120px;
}
button.btn-sm[b-33fbycr4ot] {
    width:100px;
}
/* /Pages/Campagne/Scenarios/PageLaFleurDeSang.razor.rz.scp.css */
.replique[b-jmvq4la4t9] { margin-bottom:0.4em; }
.pnj-christian[b-jmvq4la4t9] { color:#0056b3; }
.pnj-estalien[b-jmvq4la4t9] { color:#5e1a05; }
.pnj-kanter[b-jmvq4la4t9], .pnj-initie[b-jmvq4la4t9] { color:darkslategrey; }
.pnj-maitre[b-jmvq4la4t9] { color: #a65a09 }
/* /Pages/Matos/EquipementArmures.razor.rz.scp.css */
.table tbody[b-0z5pwvloxm] { font-size: 14px; }
[b-0z5pwvloxm] .btn.btn-item { font-size: 14px; }
/* /Pages/Matos/EquipementDeDepart.razor.rz.scp.css */
.card[b-m74ech3pei] { height: 185px; }
/* /Shared/Compteur.razor.rz.scp.css */
.ajuster:hover[b-2rnoz6s6p7] { cursor: pointer; }
/* /Shared/ImageMax.razor.rz.scp.css */
.career-img[b-swacsjmkup] { float:right; margin-left:15px; }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-ptappyth0t] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-ptappyth0t] {
    flex: 1;
}

.sidebar[b-ptappyth0t] {
    background-image: linear-gradient(180deg, #270404 0%, #5d342d 70%);
}

@media (min-width: 641px) {
    .page[b-ptappyth0t] {
        flex-direction: row;
    }

    .sidebar[b-ptappyth0t] {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main > div[b-ptappyth0t] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/MainTopRow.razor.rz.scp.css */
.top-row[b-krtw6lgy92] {
    background-color: #cf8d42;
    border-bottom: 1px solid #dbcfc8;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-krtw6lgy92]  a, .top-row .btn-link[b-krtw6lgy92] {
    white-space: nowrap;
}

.top-row a:first-child[b-krtw6lgy92] {
    overflow: hidden;
    text-overflow: ellipsis;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-8z4xj9u50d] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-8z4xj9u50d] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-8z4xj9u50d] {
    font-size: 1.1rem;
}

@media (min-width: 641px) {
    .navbar-toggler[b-8z4xj9u50d] {
        display: none;
    }

    .collapse[b-8z4xj9u50d] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/NavMenuItem.razor.rz.scp.css */
.oi[b-jgtm1nbo5r] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jgtm1nbo5r] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-jgtm1nbo5r] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-jgtm1nbo5r] {
    padding-bottom: 1rem;
}

.nav-item[b-jgtm1nbo5r]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-jgtm1nbo5r]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-jgtm1nbo5r]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
/* /Shared/PageSectionRowTitle.razor.rz.scp.css */
/* /Shared/Tooltip.razor.rz.scp.css */
.tooltip-wrapper[b-n0eqg1tdss] {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
    cursor: help;
}
a:-webkit-any-link .tooltip-wrapper[b-n0eqg1tdss] { cursor:pointer; }

span[b-n0eqg1tdss] {
    visibility: hidden;
    position: absolute;
    width: 360px;
    bottom: 180%;
    left: 50%;
    margin-left: -180px;
    letter-spacing: -1px;
    line-height: 1.1em;
    background-color: #363636;
    color: #fff;
    text-align: justify;
    padding: 5px 7px;
    border-radius: 6px;
    z-index: 10;
}

span[b-n0eqg1tdss]::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover span[b-n0eqg1tdss] {
    visibility: visible;
}
