/* /Components/Regle/TraitsRaciauxHumains.razor.rz.scp.css */
button[b-33fbycr4ot] {
    width:120px;
}
button.btn-sm[b-33fbycr4ot] {
    width:100px;
}
/* /Pages/EquipementArmes.razor.rz.scp.css */
.table tbody[b-9yidnot5x4] { font-size: 14px; }
[b-9yidnot5x4] .btn.btn-item { font-size: 14px; }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-ptappyth0t] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-ptappyth0t] {
    flex: 1;
}

.sidebar[b-ptappyth0t] {
    background-image: linear-gradient(180deg, #270404 0%, #5d342d 70%);
}

@media (min-width: 641px) {
    .page[b-ptappyth0t] {
        flex-direction: row;
    }

    .sidebar[b-ptappyth0t] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main > div[b-ptappyth0t] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/MainTopRow.razor.rz.scp.css */
.top-row[b-krtw6lgy92] {
    background-color: #cf8d42;
    border-bottom: 1px solid #dbcfc8;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-krtw6lgy92]  a, .top-row .btn-link[b-krtw6lgy92] {
    white-space: nowrap;
}

.top-row a:first-child[b-krtw6lgy92] {
    overflow: hidden;
    text-overflow: ellipsis;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-8z4xj9u50d] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-8z4xj9u50d] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-8z4xj9u50d] {
    font-size: 1.1rem;
}

@media (min-width: 641px) {
    .navbar-toggler[b-8z4xj9u50d] {
        display: none;
    }

    .collapse[b-8z4xj9u50d] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/NavMenuItem.razor.rz.scp.css */
.oi[b-jgtm1nbo5r] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jgtm1nbo5r] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-jgtm1nbo5r] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-jgtm1nbo5r] {
    padding-bottom: 1rem;
}

.nav-item[b-jgtm1nbo5r]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-jgtm1nbo5r]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-jgtm1nbo5r]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
/* /Shared/PageSectionRowTitle.razor.rz.scp.css */
/* /Shared/Tooltip.razor.rz.scp.css */
.tooltip-wrapper[b-n0eqg1tdss] {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
    /*cursor: help;*/
}

span[b-n0eqg1tdss] {
    visibility: hidden;
    position: absolute;
    width: 360px;
    bottom: 180%;
    left: -50%;
    margin-left: -60px;
    background-color: #363636;
    color: #fff;
    text-align: justify;
    padding: 5px 7px;
    border-radius: 6px;
    z-index: 10;
}

span[b-n0eqg1tdss]::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover span[b-n0eqg1tdss] {
    visibility: visible;
}
/* /Shared/TooltipText.razor.rz.scp.css */
/* Tooltip container */
.tooltip[b-fsg8vkck8p] {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext[b-fsg8vkck8p] {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext[b-fsg8vkck8p] {
    visibility: visible;
}
