@code {
    [Parameter, EditorRequired] public string Icon { get; set; } = null!;
    [Parameter] public string Classes { get; set; } = "";
}
<span class="oi oi-@Icon item-icon@(Classes != "" ? $" {Classes}" : "")" aria-hidden="true"></span>