<span class="oi oi-chevron-right item-icon ml-3 mr-2" aria-hidden="true" style="color:#dca878;@(Hidden ? " visibility:hidden;" : "")"></span>
@code
{
    [Parameter]
    public bool Hidden { get; set; }
}
