@page "/regles/caracteristiques/"

<MainTopRow>
    <h3 class="card-title">Caractéristiques</h3>
</MainTopRow>

<div class="content px-4">

    <div class="row">
        <div class="col-4">
            <div class="card-body">

                <h4 class="card-title">CC - Capacité de combat</h4>
                <p class="card-text">

                </p>

                <h4 class="card-title">CT - Capacité de tir</h4>
                <p class="card-text">

                </p>
                <h4 class="card-title">F - Force</h4>
                <p class="card-text">

                </p>

                <h4 class="card-title">E - Endurance</h4>
                <p class="card-text">

                </p>

                <h4 class="card-title">CC - Capacité de combat</h4>
                <p class="card-text">

                </p>
                <h4 class="card-title">CC - Capacité de combat</h4>
                <p class="card-text">

                </p>

                <h4 class="card-title">CC - Capacité de combat</h4>
                <p class="card-text">

                </p>
                <h4 class="card-title">CC - Capacité de combat</h4>
                <p class="card-text">

                </p>

                <h4 class="card-title">CC - Capacité de combat</h4>
                <p class="card-text">

                </p>

                <h4 class="card-title">CC - Capacité de combat</h4>
                <p class="card-text">

                </p>

            </div>
        </div>
    </div>
</div>