@page "/regles/destin-resilience/"

@using BlazorWjdr.Services

@inject AptitudesService _service

<MainTopRow Title="Destin & Fortune, Résilience & Résolution"/>

<div class="content px-4">

    <div class="row">

        <div class="col-4">
            <div class="card-body">
                <h3 class="card-title">Destin & Fortune, Résilience & Résolution</h3>
                <p class="card-text">
                    Que ce soit les tripes, la chance ou la faveur des dieux, il y a quelque chose de spécial en vous.
                    Le destin et la Résilience représentent les différentes façons dont vous vous démarquez des masses, et sont représentés par des Points - Destin et Résilience - déterminant à leur tour des réserves de Points - Fortune et Résolution.
                </p>
                <p class="card-text">
                    Vous pouvez dépenser vos points pour obtenir de petits avantages, et ces réserves se renouvelleront au cours du jeu.
                    Vous dépensez vos points de Destin ou de Résilience pour un avantage significatif pendant le jeu, mais cela les réduit de façon permanente et réduit également le nombre de points de Fortune ou de Résolution associés. Bien que les Points de Destin et de Résilience puissent être récupérés, cela n'arrive que rarement, alors dépensez-les avec précaution.
                </p>
                <p class="card-text">
                    Bien qu'ils soient très rares et normalement réservés aux PJ, le MJ peut aussi vouloir appliquer le Destin et la Résilience aux PNJ remarquables,
                    comme une némésis nécromantique, un luminaire local d'importance ou un leader sectaire récurrent.
                </p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Votre <strong>Destin</strong> représente votre destinée et est directement lié à votre <strong>Fortune</strong>, une manifestation de votre chance.
                </p>
                <p class="card-text">
                    Votre <strong>Résilience</strong> est votre force intérieure, qui est directement liée à votre <strong>Résolution</strong>, définissant votre courage. Votre Résilience s'accompagne également d'une <strong>Motivation</strong>, qui est un seul mot ou une seule phrase décrivant ce qui motive votre personnage.
                </p>
            </div>
        </div>

        <div class="col-4">
            <div class="card-body">
                <h3 class="card-title">Déterminer le Destin et la Résilience</h3>
                <p class="card-text">
                    Vous commencez avec une valeur de Base pour le Destin et la Résilience, puis vous avez un certain nombre de <strong>Points supplémentaires</strong> à répartir entre ces deux Attributs comme bon vous semble. Les chiffres correspondants sont indiqués dans le tableau des attributs. Plus vous allouez de points au Destin, plus vous avez de chance. Par comparaison, une plus grande Résilience montre que vous pouvez traverser n'importe quelle situation.
                </p>
            </div>
            <div class="card-body">
                <h3 class="card-title">Déterminer la Fortune et la Résolution</h3>
                <p class="card-text">Votre Fortune initiale est égale à votre Destin. Votre Résolution initiale est égale à votre Résilience. Marquez les quatre valeurs sur votre feuille de personnage.</p>
            </div>
            <div class="card-body">
                <h3 class="card-title">Déterminer la Motivation</h3>
                <p class="card-text">
                    Tous les personnages choisisse une Motivation. Elle représente l'essence même de votre personnage, un mot ou une phrase qui résume ce pour quoi vous vivez.
                    En plus des avantages évidents du jeu de rôle pour représenter votre personnage, la Motivation est utilisée pour vous aider à regagner des points de Résolution. Lorsque vous considérez votre Motivation, pensez à quelque chose qui est fondamental à la nature de votre personnage. Essayez également de faire de votre Motivation quelque chose d'amusant à reproduire, et quelque chose qui fonctionnera bien avec les autres PJ et leurs motivations.
                </p>
                <p class="card-text">
                    Si vous n'avez pas d'inspiration pour trouver une Motivation, ne vous inquiétez pas, l'une d'entre eux peut se dessiner à mesure que vous créez votre personnage, et les autres joueurs et le MJ peuvent toujours vous aider. De même, si vous en avez une, il est possible que vous changiez d'avis plus tard.
                </p>
            </div>
        </div>

        <div class="col-4">
            <div class="card-body">
                <h5 class="card-title">Exemples de motivations potentielles</h5>
                <p class="card-text m-2">
                    <strong>Exemple</strong><em> : Gustavus, un jeune chercheur à l'université d'Altdorf, a le désir de sensations fortes comme motivation. Il vit sa vie dans la poursuite de l'excitation et du danger, et Gustavus peut regagner des points de résolution quand il cherche activement des situations risquées ; peut-être qu'il provoque les hostilités dans une taverne ou viole volontairement la loi en volant des plumes venant du casque des soldats d'État.</em>
                </p>
                <p class="card-text m-2">
                    <strong>Exemple</strong><em> : Clotilda, Chevalier des Reiksguards, a pour motivation de "Protéger les faibles". Elle est forcée de tenir tête aux brutes et aux vantards, risquant sa vie et son intégrité physique pour sauver les citoyens du Reikland. Clotilda retrouvera sa résolution chaque fois qu'elle sauvera d'autres personnes ou se mettra en danger pour en protéger d'autres.</em>
                </p>
                <p class="card-text m-2">
                    <strong>Exemple</strong><em> : Ebba est un apprentie Magicienne rebelles qui étudie au Collège de la Lumière. Elle aime enfreindre les règles du Collège, faire étalage de l'autorité de son maître et fourrer son nez dans les livres qu'il vaut mieux ne pas déranger. Elle reprend de la résolution chaque fois qu'elle enfreint les règles qui lui sont imposées par ses supérieurs.</em>
                </p>
                <ul>
                    <li><strong>Perfectionniste</strong>, qui aime planifier méticuleusement et tire son énergie d'une exécution sans faille des plans.</li>
                    <li><strong>Nourricier</strong>, qui se renforce en prenant soin des autres ou en les sauvant de situations difficiles.</li>
                    <li>un " Martyr pénitent ", qui se plaît dans le malheur pour réparer ses erreurs passées.</li>
                    <li><strong>Esprit brillant</strong>, qui se lance toujours dans un badinage spirituel et plaisant pour détendre son âme.</li>
                </ul>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        
        <div class="col-6">
            <div class="card-body">
                <h3 class="card-title">Destin & Fortune</h3>
                <p class="card-text">
                    Les personnages des joueurs ont un destin. Bien que leur avenir ultime soit un mystère et qu'il n'y ait aucune garantie qu'il sera glorieux, héroïque ou même agréable, ils sont apparemment prédestinés pour une cause qui a son importance.
                </p>
                <p class="card-text">
                    Pour représenter ceci, vous commencez à jouer avec un certain nombre de Points de Destin. Les points du destin vous démarquent du reste des habitants de l'Ancien Monde. Ils vous permettent de survivre contre vents et marées et de l'emporter là où les gens ordinaires échouent.
                </p>
                <p class="card-text">
                    Le destin est directement lié à vos points de Fortune. Les points de fortune sont dépensés pour recevoir des bonus mineurs, y compris la possibilité de relancer si vous échouez aux tests ou si vous obtenez un avantage car la chance vous favorise, il est probable que le nombre que vous avez fluctuera énormément au cours du jeu. Le destin détermine combien de points de Fortune vous pouvez avoir, et être dépensé en permanence dans les circonstances les plus terribles pour éviter la mort.
                </p>

                <h4 class="card-title">Dépenser la Fortune</h4>
                <p class="card-text">
                    Vous pouvez dépenser un point de fortune de votre réserve pour vous donner un coup de chance : frapper avec une arbalète alors que vous l'auriez manqué autrement ; ou un adversaire vous échappe peut-être, vous donnant une chance de faire une attaque. Vos trois options sont :
                </p>
                <ul>
                    <li>Relancez un test échoué.</li>
                    <li>Ajouter +1 BS à un Test après l'avoir lancé.</li>
                    <li>Au début du Round, choisissez quand agir dans ce Round sans tenir compte de l'ordre de l'Initiative.</li>
                </ul>

                <h4 class="card-title">Dépenser le Destin</h4>
                <p class="card-text">
                    Vous pouvez dépenser un point de destin permanent pour éviter la mort et survivre même dans les situations les plus improbables. Dans ce cas, choisissez l'une des deux options suivantes :
                </p>
                <ul>
                    <li><strong>Mourir un autre jour :</strong> Au lieu de mourir, votre personnage est assommé, laissé pour mort, emporté par une rivière ou autrement mis hors d'action ; votre personnage survivra, quelles que soient les circonstances de l'incident fatal, mais ne prendra plus part à la rencontre actuelle.</li>
                    <li><strong>Comment ça s'est passé ?</strong> Votre personnage évite complètement les dégâts causés par un coup de chance extraordinaire, comme glisser au moment où un coup est sur le point de se déclencher, une arme qui se bloque mystérieusement ou une source de lumière qui aveugle un adversaire ; votre personnage peut continuer sans pénalité, mais ne bénéficie pas de garantie de survie dans les tours suivants.</li>
                </ul>
                <p class="card-text">
                    La première option vous met hors jeu, mais vous permet de vous battre un autre jour, car tout personnage peut être battu, ensanglanté, meurtri, et peut-être même capturé dans le jeu. La seconde option vous permet de continuer à vous battre côte à côte avec vos compagnons, mais vous laisse en grand danger, ce qui signifie que vous devrez peut-être dépenser plus de points de Destin dans les Rounds suivants pour garantir votre survie. Chaque option comporte des avantages et des inconvénients, selon le contexte de la situation, et c'est à vous de décider quel est le meilleur choix à prendre.
                </p>
                <p class="card-text">
                    Le MJ décrit comment vous survivez à une situation donnée après avoir dépensé un point de la Valeur du Destin. 
                </p>
                
                <h4 class="card-title">Regagner des points de Destin et de Fortune</h4>
                <p class="card-text">
                    Vous regagnez tous les points Fortune au début de chaque session de jeu ou à des moments narrativement approriés (comme la fin d'un chapitre), jusqu'à concurrence du maximum de votre Destin en cours. De plus, certaines rencontres dans le jeu peuvent également reconstituer (ou supprimer !) des points de Fortune.
                </p>
                <p class="card-text">
                    Votre MJ peut vous accorder un point de destin pour un acte d'héroïsme extrême, de bravoure ou d'importance. Normalement, cela n'arrive qu'à la fin d'une aventure importante, alors assurez-vous de les dépenser avec soin car ils se renouvellent rarement.
                </p>
            </div>

        </div>

        <div class="col-6">
            <div class="card-body">
                <h3 class="card-title">Résilience & Résolution</h3>
                <p class="card-text">
                    Alors que les points du destin représentent votre destinée, peut-être choisie par une divinité lointaine et indifférente, la Résilience est une indication de votre motivation personnelle et de votre détermination à endurer et à surmonter les obstacles que vous rencontrez.
                </p>
                <p class="card-text">
                    Comme le Destin, la Résilience est directement liée à un nombre de points, cette fois-ci appelé Résolution. Les points de résolution sont dépensés pour franchir des obstacles mineurs, comme ignorer les effets négatifs des blessures critiques d'un Round ou supprimer des Conditions. La Résilience détermine votre limite supérieure de points de résolution et peut être dépensée en permanence pour vous faire traverser des situations qui semblent impossibles à résoudre.
                </p>

                <h4 class="card-title">Dépenser la Résolution</h4>
                <p class="card-text">
                    Vous pouvez dépenser un point de résolution pour puiser dans vos réserves intérieures : peut-être affronter un ogre terrifiant sans broncher, ou ignorer les effets des coups, même les plus puissants. Vos choix sont :
                </p>
                <ul>
                    <li>Devenez immunisé contre la psychologie jusqu'à la fin du prochain tour.</li>
                    <li>Ignorez tous les modificateurs de toutes les Blessures Critiques jusqu'au début du round suivant.</li>
                    <li>Supprimez une condition ; si vous avez supprimé la condition A Terre, regagner 1 Blessure en vous remettant sur vos pieds.</li>
                </ul>

                <h4 class="card-title">Dépenser la Résilience</h4>
                <p class="card-text">
                    Vous pouvez aussi choisir de dépenser des points de Résilience pour défier la corruption intérieur, ou pour réussir là où il semble certain que vous devriez échouer. Ici, vous avez les deux options suivantes :
                </p>
                <ul>
                    <li><strong>Renie-toi !</strong> Vous pouvez choisir de ne pas développer une mutation. Parce que vous ne subissez pas de mutation, vous ne perdez aucun point de corruption.</li>
                    <li><strong>Je n'échouerai pas !</strong> Plutôt que de lancer le résultat d'un test, vous choisissez plutôt le nombre, ce qui vous permet de réussir même dans les situations les plus difficiles. Dans un Test Opposé, vous gagnez toujours par au moins 1 SL. Vous pouvez même choisir de le faire sur un Test déjà échoué.</li>
                </ul>
                <p class="card-text m-2">
                    <strong>Exemple </strong><em>: Un chef bandit est en plein carnage, ayant accumulé 10 Avantages tout en évitant les coups du groupe. Les choses sont sur le point de se gâter ! Salundra décide d'attaquer le bandit, mais perd le Test Opposé par 7 SL, ce qui va faire très mal. Ainsi, elle dépense un point de Résilience permanent pour invoquer " Je n'échouerai pas ". Cela signifie qu'elle gagne automatiquement le Test Opposé par +1 SL. Elle choisit également le résultat du jet de dé pour obtenir 11, ce qui provoque un Critique. Le chef du bandit aura des blessures et une blessure critique. Plus important encore, son déchaînement prend fin car il perd aussi tous les 10 Avantage alors que le combat tourne en faveur des héros.</em>
                </p>
                <p class="card-text">
                    Sauvegarder la Résilience en permanence pour repousser l'influence du Chaos est sage, mais cela n'enlève pas vos points de Corruption, ce qui signifie que la mutation est encore dangereusement proche. Par comparaison, l'utilisation de la Résilience permanente pour réussir n'importe quel Test peut vous permettre de porter un coup sur une cible autrement impossible à atteindre, de créer un artefact qui étonne tous ceux qui le voient avec une compétence de métier, ou même de lancer parfaitement un sort qui serait normalement impossible à exécuter.
                </p>
                <p class="card-text">
                    Lorsque vous dépensez un point de Résilience, prenez le temps de décrire l'énorme exploit de volonté que votre personnage a entrepris, et comment cela se manifeste en jeu.
                </p>

                <h4 class="card-title">Regagner de la Résilience et de la Résolution</h4>
                <p class="card-text">
                    La résolution est retrouvée chaque fois que vous agissez selon votre Motivation (voir Motivation à la page 34). Pendant le jeu, chaque fois que vous avez l'impression d'avoir fait cela, vous pouvez demander au MJ si vous pouvez récupérer un ou plusieurs points de Résolution.
                </p>
                <p class="card-text m-2">
                    <strong>Exemple </strong><em>: Tandis que ses alliés vont dans une taverne à la recherche d'indices, elle choisit de visiter le temple local pour faire un don et offrir des prières à sa divinité. Comme cela correspond à sa Motivation, son MJ décide de reconstituer un de ses points de Résolution mais dit au joueur de Griselda qu'elle devra prier et donner dans un temple différent pour recevoir cet avantage encore cette semaine.</em>
                </p>
                <p class="card-text">
                    Le MJ peut accorder un point de Résilience pour un acte d'une extrême importance pour votre Motivation, nourrissant votre âme en permanence, mais un tel événement sera très rare.
                </p>
                <p class="card-text m-2">
                    <strong>Exemple </strong><em>: Après de nombreuses aventures, Griselda finance enfin un nouveau temple à Sigmar dans son village natal de Velten non loin de Nuln. Le MJ. en reconnaît l'importance pour la foi de Griselda et lui accorde un point de Persévérance permanent.</em>
                </p>
            </div>

        </div>
    </div>
</div>