@page "/regles/{RegleId}/"

@using BlazorWjdr.Services
@using BlazorWjdr.Models
@using BlazorWjdr.Components.Regle

@inject ReglesService _reglesService

<MainTopRow>
    <h3 class="card-title">@_regle.Titre</h3>
</MainTopRow>

<div class="content px-4">
    <RegleDetail Item="@_regle"/>    
</div>

@code {
    [Parameter]
    public string RegleId { get; set; } = null!;

    private RegleDto _regle = null!;

    protected override void OnParametersSet()
    {
        _regle = _reglesService.GetRegle(int.Parse(RegleId));
        base.OnParametersSet();
    }
}