@page "/regles/changer-de-carriere/"

<MainTopRow>
    <h3 class="card-title">Cheminement professionnel</h3>
</MainTopRow>

<div class="content px-4">

    <div class="row">
        <PageSectionRowTitle>Entamer une nouvelle carrière</PageSectionRowTitle>
    </div>
    
    <div class="row">
        <PageSectionRowTitle>Avancement de carrière</PageSectionRowTitle>
    </div>
</div>