@page "/regles/avancement-de-carriere/"

@using BlazorWjdr.Components.Regle

<MainTopRow>
    <h3 class="card-title">Cheminement professionnel</h3>
</MainTopRow>

<div class="content px-4">

    <div class="card-body">
        <h5 class="card-title">Avancement de carrière</h5>
        <div class="card-text">
            <AvancementDeCarriere/>            
        </div>
    </div>
</div>