@page "/regles/maladies/"

@using BlazorWjdr.Services

@inject ReglesService _reglesService
@inject TablesService _tablesService
@inject AptitudesService _cttService

<MainTopRow Title="Maladies et Infections"/>

<div class="content">

    <div class="row">
        <div class="col-4">
        </div>
    </div>
    
</div>