@page "/regles/maladies/"

@inject ReglesService _reglesService
@inject TablesService _tablesService
@inject AptitudesService _cttService
@inject AppState _appState
@code {
    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Maladies et Infections");
    }
}
<div class="row">
    <div class="col-4">
    </div>
</div>
