@page "/regles/maladies/"

@using BlazorWjdr.Services

@inject ReglesService _reglesService
@inject TablesService _tablesService
@inject CompTalentsEtTraitsService _cttService

<MainTopRow>
    <h3 class="card-title">Maladies et Infections</h3>
</MainTopRow>

<div class="content px-4">

    <div class="row">
        <div class="col-4">
        </div>
    </div>
    
</div>