@page "/regles/sorcellerie/"

@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Regle
@using BlazorWjdr.Components.Table

@inject TablesService TablesSvc
@inject AptitudesService AptSvc
@inject AppState AppState
@code {
    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Sorcellerie");
    }
}
<div class="row">
    <div class="col-4">
        <div class="section">
            <h3>Magie, Sorcellerie...</h3>

            <p class="text-justify">
                Les capacités magiques vous identifient comme une figure de terreur et de crainte dans l'Empire. Avant l'établissement des
                écoles de magie d'Altdorf, ceux qui étaient capables d'exercer la magie étaient traités de hors-la-loi. De nos jours, être une
                sorcière n'est pas illégal, mais jeter de la magie sans licence l'est. Les lanceurs de sorts au sein de l'Empire doivent soit étudier
                aux collèges de magie, soit s'abstenir de jeter des sorts, soit espérer que personne ne remarque leur activité illicite. Même les
                magistrats titulaires d'une licence sont généralement craints et évités , le statut juridique n'a rien fait pour réduire la crainte
                superstitieuse du commun des mortels.
            </p>
            <p class="text-justify">
                La magie est considérée comme non naturelle et est connue pour ses aspects les plus sombres : les maléfices de la sorcellerie,
                la résurrection des morts et l'appel des entités démons. Même lorsqu'elle est pratiquée selon l'enseignement des Collèges, la
                magie peut être source d'ennuis. La source même de la magie est instable, et même le lanceur de sorts le plus expérimenté peut
                perdre sa concentration, entraînant des accidents dangereux et des effets secondaires imprévus.
            </p>

            <h5>L'Aethyr</h5>
            <p class="text-justify">
                Les érudits de la magie tirent leur apprentissage des Elfes, qui ont expliqué que la source de tout pouvoir magique est l'Aethyr.
                Cette dimension infinie, que l'on dit être la terre nourricière des démons et des esprits, existe au-delà du monde physique. Les
                Elfes enseignaient qu'au nord de l'Empire, une grande brèche dans le tissu du monde était déchirée jusqu'à l'Aethyr, et qu'elle répandait une
                magie brute. Ces énergies tourbillonnantes (connues sous le nom de Vents de Magie) soufflent dans le monde entier, se rassemblant
                et s'agitant dans de grandes tourbillons célestes, pour ne laisser tomber et pénétrer la terre et ses habitants que sous la pluie
                et les animaux qui s'y installent. Ce sont ces vents puissants que les sorciers et les sorcières utilisent pour alimenter leurs sorts.
            </p>
        </div>
    </div>

    <div class="col-4">
        <div class="section">
            <h5>Les Vents de Magie</h5>
            <p class="text-justify">
                Alors que le pouvoir magique éclate dans le royaume des mortels et s'étend du nord vers le sud, il se brise et se sépare, comme la
                lumière se fend à travers un prisme. Les Collèges de magie affirment que cela crée huit vents distincts auxquels on se réfère
                par la couleur, chacun ayant son caractère et ses forces propres. Les Elfes le soutiennent en enseignant les mêmes huit vents à
                leurs apprentis avant de passer à des magies plus puissantes.
            </p>
            <p class="text-justify">
                Seule une petite minorité d'humains peut percevoir les vents, et encore moins peuvent les plier à leur volonté. La plupart des
                Elfes y sont sensibles et beaucoup d'entre eux ont la capacité de voir clairement les Vents (communément appelés La Seconde
                Vue, ou simplement la Vue) et beaucoup peuvent aussi apprendre à lancer la magie. Les Nains dédaignent la magie,
                peut-être parce qu'ils y sont partiellement immunisés, et aucun sorcier nain n'est connu. Les demi-hommes sont largement
                indifférents à la magie : sauf lorsqu'elle délivre des spectacles impressionnants ou divertissants.
            </p>
            <p class="text-justify">
                Les Elfes ont ordonné (comme condition de leur enseignement) que les lanceurs de sorts humains n'utilisent chacun qu'un seul
                Vent de Magie. Ceux qui, bien qu'il soit possible de jeter des sorts en puisant dans de multiples vents, le faire est
                une proposition risquée pour l'esprit humain faible et corruptible. Cette sagesse a été adoptée par les Collèges, et chacun se
                spécialise dans une seule couleur.
            </p>
            <p class="text-justify">
                Certaines sorcières en dehors du cadre des collèges considèrent ces restrictions comme ridicules, une tentative des Elfes de
                garder les magies les plus puissantes pour elles. S'appuyer sur des vents multiples est une voie rapide vers la puissance, mais aussi
                vers la damnation. Beaucoup de sorciers sans licence se sont avérés incapables de résister à cette tentation, une pratique
                habituellement appelée magie noire, pour être ensuite réduite à néant par les chasseurs de sorcières.
            </p>
            <p class="text-justify">
                D'autres croient que les énergies magiques ne sont pas si facilement catégorisées. De nombreux types différents de "sorciers"
                et de "sorcières" peuvent être trouvés dans l'Ancien Monde, avec une certaine magie pratiquée qui semble se trouver
                en dehors de la magie des couleurs, comme les sorcières glacées de Kislev, ou les chamans et les sorciers que l'on trouve parmi
                certaines des autres espèces attaquant l'Empire, comme les Peaux Vertes.
            </p>
        </div>
    </div>

    <div class="col-4">
        <div class="section">
            <h5>
                <em>Qu'est-ce que l'Aethyr ?</em>
            </h5>
            <p class="text-justify">
                <em>
                    Il y a beaucoup de débats animés entre " experts " sur la nature de la magie. Les amphithéâtres des institutions les plus savantes de l'Empire
                    voient souvent des chercheurs ambitieux exposer leurs dernières théories. Certains comparent la magie aux coulisses d'un théâtre, une masse
                    de mécanismes, d'accessoires et de poulies cachées responsables du drame vu par le public. D'autres ont recours à des métaphores
                    mathématiques, accompagnées de diagrammes ésotériques incompréhensibles. Bien que cela puisse se terminer par un semblant de finalité
                    confiante, il n'y aura que des toux polies, des mains levées et une litanie d'objections et d'exceptions.
                </em>
            </p>
            <h5>La Langue Mystique de la Magie</h5>
            <p class="text-justify">
                Les Vents de la Magie peuvent souffler à travers toutes choses sans cesse, mais ils sont relativement inoffensifs jusqu'à ce qu'ils
                soient exploités par le Langage de la Magie. Pour des raisons qui ne sont pas entièrement comprises, lorsque certains sons sont
                prononcés par ceux qui sont en syntonie avec la magie, les Vents répondent. Les Collèges de Magie enseignent une langue
                complexe appelée la lingua praestantia qui forme la base de leurs sorts, enseignés à l'origine à l'humanité par les Elfes. Bien
                qu'extraordinairement difficile à prononcer correctement, c'est une simplification significative de la langue elfique Anoqeyån, le
                langage utilisé par les Elfes pour façonner leur propre magie, plus puissante. Les Magistrats des Collèges et les Elfes ne sont pas les
                seuls à connaître la Langue de la Magie. Ses formes complexes sont également parlées par de nombreuses créatures magiques que
                l'on trouve dans l'Ancien Monde, y compris les Esprits et les Démons. Beaucoup de sorcières semblent comprendre
                instinctivement la langue, presque comme si elle s'était en quelque sorte logée en elles, implorant qu'on la parle comme un sort.
            </p>
        </div>
    </div>
</div>

<PageSectionDivider />

<div class="row">
    <div class="col-4">
        <div class="section">
            <h3>Sortilèges</h3>
            <p class="text-justify">
                Il existe quatre types de sorts : Sorts mineurs, arcanes, traditions et chaos. Les sorts mineurs sont des tours simples qui utilisent
                une quantité négligeable de magie. Les sorts des arcanes sont des sorts génériques ouverts à ceux qui étudient n'importe quelle
                traditions de la Magie ou de la Magie du Chaos. Les sorts de Traditions sont ceux que vous ne pouvez apprendre que si vous
                savez la Traditions ; c'est-à-dire que pour apprendre des sorts de Tradition de Feu, vous avez besoin du Talent Magique des
                Arcanes (Feu). Les sorts du Chaos sont ceux pratiqués par ceux qui ont perdu leur âme à cause du Chaos.
            </p>

            <h5>Mémoriser des sorts</h5>
            <p class="text-justify">
                Avoir en tête les structures linguistiques complexes de la Langue (Magick) est une tâche difficile, donc le simple fait de transcrire
                un sort dans votre grimoire ne vous permet pas d'apprendre un sort.<br />
                Pour mémoriser un sort (et donc pouvoir le lancer sans avoir accès à votre grimoire) vous devez généralement dépenser la
                quantité d'XP notée dans votre talent de lanceur de sorts (voir Chapitre 4 : Compétences et talents). Une fois qu'un sort a été
                mémorisé, un lanceur de sorts le connaît en permanence, sauf circonstances particulières.
            </p>
            <p class="text-justify">
                Acquérir les compétences <AptitudeItem Item=@AptSvc.CompetenceLangageMystiqueMagick /> et <AptitudeItem Item=@AptSvc.CompetenceFocalisation /> permet de lancer tous les sorts de Magie Mineure.
                <br />
                Acquérir une compétence <AptitudeItem Item=@AptSvc.CompetenceScienceDeLaMagie /> vous permet d'apprendre tout sort de Magie Commune autorisés par le Domaine choisi ainsi que les sorts spécialisés dudit Domaine.
            </p>

            <h5>Lancer des sorts</h5>
            <p class="text-justify">
                Pour lancer un sort, faites un Test de <AptitudeItem Item=@AptSvc.CompetenceLangageMystiqueMagick /> (ou de la langue mystique appropriée à votre Domaine).
                Sur un succès, comparez votre BS au Niveau de Sort (NS, précisé dans la description du sort). Si votre BS est égal ou supérieur au NS, le sort se lance conformément à sa description.
                Si vous échouez ou que votre BS est insuffisant, le sort échoue, et rien d'autre ne se produit.
            </p>
        </div>
    </div>
    <div class="col-4">
        <div class="section">
            <h5>Jets Critiques</h5>
            <p class="text-justify">
                Si le jet est critique, les vents de la magie se sont
                déchaînés dangereusement, vous donnant plus de puissance,
                mais à un prix élevé. A moins que vous n'ayez le Talent de
                <AptitudeItem Item=@AptSvc.TalentDictionInstinctive />, vous lancez le dé sur la Table des Erreurs
                d'Incantation Mineur lorsque la puissance dépasse votre contrôle, mais vous pouvez également choisir l'un des effets
                suivants :
            </p>
            <ul>
                <li><strong>Lancer critique :</strong> Si le sort cause des dégâts, il inflige également une Blessure Critique.</li>
                <li><strong>Profusion de puissance :</strong> Le sort est jeté, quel que soit son NS et votre BS obtenu, mais il peut être Dissipé.</li>
                <li><strong>Force imparable :</strong> Si vous avez obtenu suffisamment de BS pour lancer votre sort, il ne peut pas être Dissipé..</li>
            </ul>
            <h5>Maladresses Critiques</h5>
            <p class="text-justify">
                Si vous perdez le contrôle de l'énergie magique que vous utilisez pour canaliser, les choses tournent invariablement mal.
                Si vous échouez à votre test de lancer, vous souffrez d'une erreur de lancer. Lancez 1d100 et consultez la Table des Erreurs
                d'Incantation Mineurs.
            </p>
            <h5>Surpuissance</h5>
            <p class="text-justify">
                Pour chaque +2 SL au dessus du CN que vous obtenez dans un Test d'Incantation, vous pouvez ajouter une Portée, Zone
                d'Effet, Durée ou Cibles supplémentaires égales à la valeur initiale indiquée dans le sort. Les sorts avec une Portée et une
                Cible de 'Vous' peuvent uniquement cibler le lanceur de sorts qui effectue le Test de lancer. Les sorts avec une portée de'
                Toucher' ne peuvent pas être étendus. Si le sort n'a pas de durée, vous ne pouvez pas le prolonger.
            </p>
            <p class="text-justify">
                Vous pouvez choisir la même option plus d'une fois. Par exemple, si vous avez obtenu + 4 SL au-dessus de votre CN avec
                une cible de 1, vous pouvez maintenant cibler 3 individus. Certaines sorts peuvent être assortis d'avantages
                supplémentaires, facultatifs, pour une SL supplémentaire, indiqués dans leur description.
            </p>
        </div>
    </div>
    <div class="col-4">
        <div class="section">
            <div class="bulle shadow-sm">
                <h5>Avantages en combat</h5>
                <p class="text-justify">
                    L'avantage au combat s'applique aux tests d'Incantation et non aux tests de <AptitudeItem Item=@AptSvc.CompetenceFocalisation />.
                    Lorsque vous lancez de la magie, vous pouvez également bénéficier d'Avantage de la manière suivante : Si la cible a déjà reçu un sort
                    de la même Tradition jeté sur elle au cours de ce Round, gagnez +1 Avantage au fur et à mesure que vous lancez, comme la
                    montée en puissance de vos Vent canalisant la magie.
                </p>
            </div>
        </div>
        <div class="section">
            <h3>Fluctuation des vents</h3>
            <p class="text-justify">
                Les vents de la magie tourbillonnent selon des schémas insonables et des rafales imprévisibles. Avant chaque scène
                (ou même avant chaque round dans des zones de turbulences magiques) le MJ peut rechercher la force des
                vents pertinents pour la scène, pour voir s'ils soufflent fort ou faiblement. Le modificateur peut être ajouté à vos tests
                d'Incantation et de Canalisation. Le MJ pourrait décider de ne le faire que dans les régions où les vents de la magie
                sont particulièrement sauvages, par exemple à la suite de puissants sorts, dans des lieux magiques, près de portails
                chaotiques, et lorsque Morrslieb est à son maximum. Si vous avez le talent de la seconde vue, un test de perception
                facile (+40) détectera de telles perturbations.
            </p>
            <TableDetail Item=@TablesSvc.GetTable(73) MasquerTitre=true />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-5">
        <div class="section">
            <h5>Durée</h5>
            <p class="text-justify">
                Si un sort est jeté avec succès, il reste en vigueur pour sa durée à moins qu'il ne soit dissipé. Vous ne pouvez pas simplement
                mettre fin à vos sorts déjà en jeu, mais vous pouvez tenter de les Dissiper.
                <br />
                <strong>Note :</strong> Les sorts dont la durée est annotée d'un ‘+’ peuvent être prolongés d'un Round lorsqu'ils auraient du prendre fin au prix d'un jet de <AptitudeItem Item=@AptSvc.CompetenceFocalisation /> réussi.
            </p>

            <h5>Grimoires</h5>
            <p class="text-justify">
                Certains lanceurs de sorts possèdent un livre de sorts, ou grimoire, dans lequel ils transcrivent leurs sorts. Les apprentis
                copient les sorts de leur maître, tandis que les Magistrats expérimentés recherchent activement de nouveaux sorts auprès
                d'autres Magistrats, échangeant souvent des sorts contre des faveurs. Un lanceur de sorts peut lancer un sort directement à
                partir d'un grimoire si le sort appartient à un Domaine qu'il maîtrise. Ce faisant, le NS est doublé.
            </p>
            <p class="text-justify">
                <em>
                    Si vous commencez à jouer avec un grimoire, c'est au MJ de déterminer combien de sorts votre maître y a enregistrés.
                    Certains Maîtres sont plus généreux que d'autres, mais la plupart fournissent au moins quatre nouveaux sorts à étudier,
                    et peu fournissent plus de huit. Si vous avez un sort Mémorisé, vous n'avez pas besoin d'accéder à votre Grimoire
                    pour le lancer. Si vous n'avez pas encore mémorisé un sort, vous pouvez utiliser votre Grimoire pour le lancer avec vos
                    deux mains. Cela double le CN du sort et expose votre Grimoire à d'éventuels dommages ou vols.
                </em>
            </p>
            <h5>Projectiles magiques</h5>
            <p class="text-justify">
                Certains sorts sont marqués comme des projectiles magiques ; ce sont des sorts qui causent des dégâts, et sont tous régis
                par les mêmes règles. Lorsqu'un missile magique est lancé avec succès et qu'il cible un autre personnage, l'emplacement de l'impact
                est déterminé en inversant les dés lancés lors du Test de Langue (Magick) et en se référant à la table des Localisation.
                Le BS du Test de Langue (Magick) est ajoutée à la valeur des dégâts du sort et votre Bonus de FM pour déterminer le total
                des dégâts infligés. Ces dégâts sont réduits par les Points d'Endurance et de Protection de la cible comme d'habitude.
            </p>

            <h5>Sorts de contact</h5>
            <p class="text-justify">
                Certains sorts exigent que vous touchiez la cible. Si vous êtes en combat, ou si la cible ne veut pas être touchée, vous devez faire
                un test de mêlée opposée (combat en mêlée ou en esquive) après avoir complété le test de lancer. Si vous faites cela et que votre
                sort était un missile magique, le test de <AptitudeItem Item=@AptSvc.CompetenceMeleeBagarre /> est utilisé pour déterminer l'endroit
                où le coup a été frappé, pas le test de langue (magick).
            </p>
        </div>
    </div>
    <div class="col-7">
        <div class="section">
            <h5>Ingrédients</h5>
            <p class="text-justify">
                Les lanceurs de sorts peuvent canaliser leur magie à travers un ingrédient approprié avant de lancer leurs sorts. Ceci offre une
                protection contre les Erreurs, car l'ingrédient syntonisé absorbe le pire de tout effet de contrecoup magique.
            </p>
            <p class="text-justify">
                Si vous utilisez un ingrédient lors du lancer, tout Erreur Majeure subie devient une Erreur Mineure, et toute Erreur
                Mineure n'a aucun effet. S'il est utilisé de cette façon, l'ingrédient est consommé ou détruit par le procédé, même si
                aucunz Erreur n'a été faite.
            </p>
            <p class="text-justify">
                Les ingrédients coûtent le NS en pistole d'argent pour les sorts Arcanes et Traditions. Chaque fois que vous achetez un nouvel
                ingrédient, marquez sur votre feuille de personnage le sort qu'il supporte ; les ingrédients ne fonctionnent que pour des sorts
                spécifiques, pas pour tous les sorts dans vos Traditions. Pour ceux qui cherchent à ajouter du caractère à leurs ingrédients, des
                échantillons d'ingrédients pour chacun des principaux Domaines de Magie sont fournis par les listes de sorts individuels.
            </p>

            <h5>Limitations</h5>
            <p class="text-justify">
                Au fur et à mesure que les sorts sont prononcés, vous devez être capable de parler (et non pas bâillonné, étranglé ou sous l'eau)
                pour lancer. Si votre voix est inhibée, le MJ devrait augmenter la difficulté de votre test de langue (magie) à jeter un sort. De plus,
                le langage de la magie doit être parlé (ou chanté, pour ceux qui utilisent les Traditions de la Lumière) clairement, et souvent à
                haute voix, pour que les sorts fonctionnent ; la magie est tout sauf subtile. À titre indicatif, plus le CN d'un sort est élevé, plus
                le sort est chanté fort.
            </p>
            <p class="text-justify">
                Chacun de vos sorts ne peut être en vigueur qu'une seule fois, ce qui signifie que vous devez attendre la fin d'un sort lancé, ou
                être dissipé, avant de pouvoir utiliser à nouveau le même sort. De plus, les sorts offrant des bonus ou des pénalités ne
                s'accumulent pas. Au lieu de cela, le meilleur bonus et la pire pénalité s'applique à chaque sort jeté sur vous. Donc, si vous
                aviez un sort offrant un bonus de +20 FM, et un autre de +10 FM, vous gagnez un bonus de +20 FM, et non de +30.
            </p>
            <p class="text-justify">
                Enfin, sauf indication contraire, vous devez toujours être capable de voir - c'est-à-dire d'avoir une ligne de visée - vers votre cible.
            </p>
        </div>
    </div>
</div>

<PageSectionDivider />

<div class="row">
    <div class="col-4">
        <div class="section">
            <h3>Channelling Test</h3>
            <p class="text-justify">
                Certains sorts magiques exigent beaucoup plus de magie que ce que l'on peut normalement trouver dans le monde.
                Pour alimenter de tels sorts, il est possible d'attirer les Vents de la Magie et de les concentrer sous une forme plus
                puissante en utilisant la compétence Canalisation. Canaliser les vents de la magie peut être une procédure dangereuse,
                mais c'est le seul moyen sûr de lancer des sorts puissants. Pour canaliser la magie d'un sort, fait un <strong>Test Étendu</strong> de <AptitudeItem Item=@AptSvc.CompetenceFocalisation />.
            </p>
            <p class="text-justify">
                Lorsque votre BS atteint le NS de votre sort sélectionné, vous avez canalisé suffisamment de magie pour le lancer. Lors du
                Round suivant, vous pouvez lancer votre sort en utilisant les règles normales de lancer, mais comptez le BS du sort choisi
                comme 0. Si le test de lancer échoue, vous perdez également toute votre énergie magique canalisée, et vous souffrez d'une
                Erreur d'Incantation Mineur car tout se libère de votre emprise aéthyrique.
            </p>

            <h5>Réussite Critique</h5>
            <p class="text-justify">
                Si vous faites une Réussite Critique lors d'un test de <AptitudeItem Item=@AptSvc.CompetenceFocalisation />, vous avez
                canalisé un puissant flux de magie et vous pouvez lancer votre sort au tour suivant quelle que soit le BS que vous avez obtenu
                au Test Étendu jusqu'à présent ; cependant, tant de magie concentrée si rapidement en un seul endroit entraîne un
                contrecoup magique : faites un jet sur la <a href="regles/tables-des-echos-du-chaos/">Table des Echos Mineurs du Chaos</a> à moins que vous n'ayez le talent <AptitudeItem Item=@AptSvc.TalentHarmonieAethyrique />.
            </p>

            <h5>Maladresse Critique</h5>
            <p class="text-justify">
                Canaliser les vents de la magie dans un grand flux est dangereux. Vous comptez n'importe quel double ou n'importe quel jet se
                terminant par un 0 au-dessus de votre compétence comme un échec, donc, 00, 99, 90, 88, et ainsi de suite. Si vous ratez un test
                de <AptitudeItem Item=@AptSvc.CompetenceFocalisation />, vous souffrez d'une erreur de jugement. Lancez 1d100 et consultez
                la <a href="regles/tables-des-echos-du-chaos/">Table des Echos Majeurs du Chaos</a>.
            </p>

            <h5>Interruptions</h5>
            <p class="text-justify">
                La concentration est vitale lors de la canalisation. Si vous êtes distrait par quelque chose (des bruits forts, des dommages, des
                lumières clignotantes, etc.) vous devez réussir un Test de <AptitudeItem Item=@AptSvc.CompetenceSangFroid />
                Difficile (-20), ou subir un Echo Mineur du Chaos et perdre tous le BS que vous aviez accumulé via votre Test Étendu jusque là.
            </p>
        </div>
    </div>
    <div class="col-4">
        <div class="section">
            <h3>Repelling The winds</h3>
            <p class="text-justify">
                Porter des couleurs appropriées au vent de magie que vous manipulez aide à attirer la magie vers vous. C'est la raison pour
                laquelle la plupart des Magistrats choisissent de s'habiller dans la tenue traditionnelle de leur ordre.
            </p>
            <p class="text-justify">
                Tous les tests de lancer et de canalisation subissent une pénalité de -1 SL si vous êtes habillé de façon inappropriée pour le vent
                de magie que vous essayez d'attirer, comme déterminé par le MJ. En particulier, les armures de métal et de cuir repoussent la
                plupart des vents : le métal est chargé du vent doré Chamon, tandis que le cuir conserve des traces de l'ambre Ghur. Ainsi, les
                lanceurs de sorts portant une armure subissent une pénalité de -1 SL à tous les Tests de Lancer et de Canalisation pour chaque
                Point d'Armure sur l'emplacement ayant le plus d'armure. Les lanceurs avec le Talent <AptitudeItem Item=@AptSvc.TalentMagieArcaniqueMetal /> peuvent
                porter une armure métallique sans pénalité ; ceux avec le Talent <AptitudeItem Item=@AptSvc.TalentMagieArcaniqueBete /> peuvent ignorer les pénalités des
                armures en cuir.
            </p>

            <h3>Dissipation de la magie</h3>
            <p class="text-justify">
                Si un sort est lancé contre vous, ou sur une cible suffisamment proche (votre Bonus de Force Mentale en mètres), vous pouvez
                tenter de le contrecarrer en effectuant un <strong>Test Opposé</strong> de <AptitudeItem Item=@AptSvc.CompetenceLangageMystiqueMagick />.
                Si vous l'emportez, vous dissipez le sort reçu ; si vous échouez, le sort utilise le BS du test d'opposition pour
                déterminer si le lancer a réussi comme d'habitude. Vous ne pouvez tenter de dissiper qu'un seul sort à chaque Round.
            </p>
            <h5>Dissiper un sort persistant</h5>
            <p class="text-justify">
                Si un sort a un effet durable, vous pouvez tenter de dissiper ce sort pour votre Action. Pour ce faire, un Test de Langue
                Étendue (Magick) est effectué. Lorsque votre SL atteint le CN du sort en cours, vous réussissez à le dissiper.
            </p>
            <p class="text-justify">
                Plusieurs lanceurs de sorts essayant de dissiper le même sort, chacun des jets séparément. S'ils lancent leurs jets en utilisant la
                même tradition, ils peuvent décider de faire un Test Assisté à la place.
            </p>
        </div>

    </div>
    <div class="col-4">
        <div class="section">
            <h3>Utiliser une Warpstone</h3>
            <p class="text-justify">
                <em>
                    Officiellement, l'utilisation de la Malpierre est interdite par les pouvoirs en place. Officieusement, je peux dire
                    qu'il n'est officiellement jamais utilisé dans ce collège. Officiellement, je ne peux pas dire quelles utilisations non officielles il pourrait
                    avoir. Mais officieusement, je pourrais peut-être dire qu'il a certaines utilisations non officielles. Mais ce n'est certainement pas
                    officiel.<br />
                    –Wilhelm Holswigs Chliestein, Gardien Gris, conteur, et menteur.
                </em>
            </p>
            <p class="text-justify">
                La Malpierre est une source d'énergie si riche que même un petit fragment de la matière offre assez de magie pour alimenter
                n'importe quel sort en peu de temps. Bien sûr, la sagesse d'alimenter n'importe quel sort avec de la Malpierre, et la
                sagesse de porter de la Malpierre sur votre personne, est discutable.
            </p>
            <p class="text-justify">
                Un assistant utilisant de la Malpierre lors de l'Incantation et la Canalisation double leur SL pour les tests appropriés. En outre,
                l'Incantation ou la Canalisation avec de la Malpierre est une influence corruptrice. Voir page 182 pour plus de détails sur la corruption.
            </p>
            <h5>Influences malignes</h5>
            <p class="text-justify">
                Incanter près des sources de la corruption rend le contrôle des vents de la magie beaucoup plus difficile. Lorsque vous
                tentez un Test de <AptitudeItem Item=@AptSvc.CompetenceLangageMystiqueMagick /> ou un Test de <AptitudeItem Item=@AptSvc.CompetenceFocalisation />
                à proximité d'une Influence Corrompue et que vous obtenez un 8 sur le dé des unités (représentant le symbole du Chaos
                à huit pointes), faites un jet sur la <a href="regles/tables-des-echos-du-chaos/">Table des Echos Mineurs du Chaos</a> car la magie devient sauvage. Si
                vous deviez déjà y faire un jet pour une autre raison, faites un jet sur la <a href="regles/tables-des-echos-du-chaos/">Table des Echos Majeurs du Chaos</a>.
            </p>

        </div>
    </div>
</div>

<PageSectionDivider />

<div class="row">
    <div class="col-4">
        <div class="section">
            <div class="bulle shadow-sm">
                <h5>Domaines Arcaniques multiples</h5>
                <p class="text-justify">
                    Si vous êtes un elfe, vous pouvez apprendre un nombre de Domaines Arcaniques égal à votre Bonus de Force Mentale.
                    Cependant, cela demande du temps et des efforts. Vous ne pouvez pas acheter un nouveau Talent Magique des Arcanes
                    tant que vous n'avez pas maîtrisé le précédent en achetant au moins 4 fois la Compétence de <AptitudeItem Item=@AptSvc.CompetenceFocalisation /> associée,
                    et en apprenant au moins 8 sorts de votre Domaine actuel.
                    Alternativement, n'importe quel sorcier peut apprendre une seul Sombre Savoir en plus d'un autre Domaine, en
                    supposant qu'il soit assez fou et qu'il puisse trouver un professeur ou un grimoire interdit pour l'étudier.
                </p>
            </div>
        </div>

        <div class="section">
            <h3>Magie Mineure</h3>
            <AptitudeItem Item=@AptSvc.TalentMagieMineureVulgaire />
            <CardParagraphes Text=@AptSvc.TalentMagieMineureVulgaire.Description PasDeMarge=true />
        </div>
        <div class="section">
            <h3>Magie Arcanique</h3>
            <CardParagraphes Text=@AptSvc.TalentMagieArcaniqueCommune.Description PasDeMarge=true />
        </div>
    </div>
    <div class="col-4">
        <div class="section">
            <h3>Magie Dissidente & Traditions</h3>
            <p class="text-justify">
                Ce qui suit fournit deux listes de six sorts pour les lanceurs de sorts qui ne sont pas encore absorbés par les collèges de magie,
                et sont très souvent traqués par les répurgateurs et les Sigmarites.
            </p>
            <h5>Tradition - Magie Naturelle</h5>
            <CardParagraphes Text=@AptSvc.TalentTraditionMagieNaturelle.Description PasDeMarge=true />
            <h5>Tradition - Sorcellerie</h5>
            <CardParagraphes Text=@AptSvc.TalentTraditionSorcellerie.Description PasDeMarge=true />
        </div>
    </div>
    <div class="col-4">
        <div class="section">
            <h3>Magie Noire</h3>

            <h5>Magie Démonique</h5>
            <AptitudeItem Item=@AptSvc.TalentMagieNoireDemonologie />
            <CardParagraphes Text=@AptSvc.TalentMagieNoireDemonologie.Description PasDeMarge=true />

            <h5>Nécromancie</h5>
            <AptitudeItem Item=@AptSvc.TalentMagieNoireNecromancie />
            <CardParagraphes Text=@AptSvc.TalentMagieNoireNecromancie.Description PasDeMarge=true />
        </div>
        <div class="section">
            <h3>Magie Chaötique</h3>
            <p class="text-justify">
                Trois des quatre Grandes Puissances du Chaos ont une Connaissance unique de la Magie - seul Khorne, le Dieu du
                Sang, qui abhorre la magie perfide et tout ce qu'elle représente, n'a pas de Connaissances qui lui soient propres. Un sort est
                fourni ici pour chacun des principaux Dieux du Chaos, qui peut être ajouté pour donner du goût à vos Cultistes du Chaos en
                plus des sorts des Arcanes et des Connaissances de Démonologie.
            </p>
            <h5>Domaine de Nurgle</h5>
            <AptitudeItem Item=@AptSvc.TalentSombreSavoirNurgle />
            <CardParagraphes Text=@AptSvc.TalentSombreSavoirNurgle.Description PasDeMarge=true />
            <h5>Domaine de Slaanesh</h5>
            <AptitudeItem Item=@AptSvc.TalentSombreSavoirSlaanesh />
            <CardParagraphes Text=@AptSvc.TalentSombreSavoirSlaanesh.Description PasDeMarge=true />
            <h5>Domaine de Tzeentch</h5>
            <AptitudeItem Item=@AptSvc.TalentSombreSavoirTzeench />
            <CardParagraphes Text=@AptSvc.TalentSombreSavoirTzeench.Description PasDeMarge=true />
        </div>
    </div>
</div>

<RegleSorcellerieHuitDomaines />
