@using BlazorWjdr.Components.Regle

<div class="row">
    <div class="col-12">
        <div class="card-body">
            <h3 class="card-title">Les Huit Domaines</h3>
            <p class="card-text">
                Chacun des huit vents de la magie a une connaissance associée, un corps de sorts et de savoirs que ses adeptes utilisent. Chacun 
                des huit collèges de magie est dédié à l'étude d'une seule Connaissances, et leurs bâtiments sont construits de manière à 
                focaliser leur vent pour faciliter un enseignement relativement sûr.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition de la Lumière" Image="/images/magie/lumiere.png">
            <p class="card-text">
                La Connaissance de la Lumière se rapporte à Hysh, le vent blanc. Hysh est considéré comme le Vent le plus difficile à percevoir et à manipuler, semblant
                diffus même à ceux qui ont de l'expérience avec la vue. Cela le rend difficile à manipuler mais moins imprévisible que les autres vents. Hysh est associé
                à la patience, l'intelligence et la pureté. Les Hiérophantes de l'Ordre de Lumière sont reconnus pour leur discipline, leurs connaissances et leur
                opposition dévouée au Chaos.
            </p>
            <p class="card-text">
                Les sorts des Traditions de Lumière sont parmi les plus puissants, y compris les rayons perçants de lumière aveuglante, et ceux qui bannissent les Démons
                et les Morts-Vivants du plan mortel. Il y a aussi des applications plus douces de Hysh utilisées pour guérir des camarades ou clarifier la pensée.
            </p>
        </RegleSorcellerieDomaine>
    </div>
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition du Métal" Image="/images/magie/metal.png">
            <p class="card-text">
                L'histoire du Métal se rapporte à celui de Chamon,vent d'orée. Chamon semble dense et lourd à la seconde vue s'enfonçant dans la terre et s'unissant
                à l'intérieur des métaux denses comme le plomb et l'or. Les alchimistes de l'Ordre de l'Or ont la réputation d'être exceptionnellement prosaïques dans
                leurs attitudes envers les sorciers, et beaucoup sont aussi intéressés à apprendre les faits de la physique et de la chimie qu'ils le sont dans
                le fonctionnement de la magie.
            </p>
            <p class="card-text">
                Les sorts du Métal impliquent souvent la transmutation ou l'altération du métal. Sur le champ de bataille, les alchimistes sont connus pour faire rouiller
                ou fondre les armures d'acier et les armes fines, pour alourdir leurs ennemis d'une armure soudainement dense ou pour enchanter les armes de leurs alliés
                d'une puissance étrange.
            </p>
        </RegleSorcellerieDomaine>
    </div>
    <div class="col-4">
        <RegleSorcellerieDomaine Nom="La Tradition de la Vie" Image="/images/magie/vie.png">
            <p class="card-text">
                La Tradition de la Vie se rapportent à Ghyran, le vent de jade. Le Ghyran un flux libre est associé à la croissance, à la fertilité et à l'alimentation.
                Ghyran ressemble beaucoup à une pluie légère, tombant sur le sol et s'accumulant en spirales de remous. Il s'enfonce dans le sol et est aspiré dans
                les racines des plantes d'où il nourrit ensuite tout ce qui vit. Les druides de l'ordre de Jade préfèrent souvent vivre loin des villes, en harmonie
                avec les saisons et le monde naturel.
            </p>
            <p class="card-text">
                Les sorts des Traditions de la vie impliquent généralement la guérison et le rajeunissement, depuis la guérison des blessures jusqu'à la création
                d'un champ sans vie débordant d'énergie. Ils peuvent aussi avoir des applications offensives. Les ennemis d'un druide peuvent se retrouver soudainement
                emmêlés dans des ronces et des vignes d'une cruauté impitoyable.
            </p>
        </RegleSorcellerieDomaine>
    </div>
</div>