@page "/tables-traits-et-troubles/{GroupeActif}/"

@using BlazorWjdr.Components.Aptitude

@inject AptitudesService _cttService;
@inject TableDesCarrieresInitialesService _tableDesCarrieresInitialesService
@inject AppState _appState
@code {
    [Parameter, EditorRequired] public string GroupeActif { get; set; } = null!;

    private List<AptitudeDto> Traits { get; set; } = null!;
    private AptitudeDto? _traitAleatoire;
    private int _nbColonnes;
    private string _determinant = "";
    private string _typeDeTrait = "";

    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Tables des traits et troubles");
    }

    protected override void OnParametersSet()
    {
        _nbColonnes = 3;
        switch (GroupeActif)
        {
            case "traits":
                Traits = _cttService.SignesDistinctifs;
                _nbColonnes = 4;
                _determinant = "un";
                _typeDeTrait = "signe distinctif";
                break;
            case "troubles-mineurs":
                Traits = _cttService.TroublesMineurs();
                _determinant = "un";
                _typeDeTrait = "trouble mineur";
                break;
            case "folies":
                Traits = _cttService.Folies;
                _determinant = "une";
                _typeDeTrait = "folie";
                break;
            case "maladies":
                Traits = _cttService.Maladies;
                _determinant = "une";
                _typeDeTrait = "maladie";
                break;
        }
        StateHasChanged();
    }

    private void TirerUnTraitAleatoire()
    {
        var i = GenericService.RollIndex(Traits.Count);
        _traitAleatoire = Traits[i];
    }
}
<div class="row">
    <div class="col-9">
        <div class="section">
            <LinkGroupeDeTraits Groupe="traits" Text="Signes distinctifs" Actif=@(GroupeActif == "traits") />
            <LinkGroupeDeTraits Groupe="troubles-mineurs" Text="Troubles mineurs" Actif=@(GroupeActif == "troubles-mineurs") />
            <LinkGroupeDeTraits Groupe="folies" Text="Folies" Actif=@(GroupeActif == "folies") />
            <LinkGroupeDeTraits Groupe="maladies" Text="Maladies" Actif=@(GroupeActif == "maladies") />
        </div>
    </div>
    <div class="col-3">
        <div class="section">
            <button class="btn btn-primary" type="button" @onclick="TirerUnTraitAleatoire">
                <span class="oi oi-flash ms-2 me-1" aria-hidden="true"></span>
                Tirer @_determinant @_typeDeTrait aléatoire
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <div class="section">
            <TableTraits Traits=@Traits NbColonnes=_nbColonnes />
        </div>
    </div>
    <div class="col-3">
        @if (_traitAleatoire != null)
        {
            <div class="bulle mt-4">
                <div class="section">
                    <h3>@_traitAleatoire.NomComplet <em>@_traitAleatoire.CategSpeSexy</em></h3>
                    <AptitudeDescription Item=_traitAleatoire />
                </div>
            </div>
        }
    </div>
</div>
