<a href="references/@Item.Id/" class="btn btn-light btn-item">
    <ItemIcon Icon="book" Classes="me-1" />
    <span>
        <em>@Item.AnneeDePublication</em>
        @Item.Titre
        @if (!string.IsNullOrWhiteSpace(Page))
        {
            <strong class="ms-2">@Page</strong>
        }
    </span>
</a>
@code
{
    [Parameter, EditorRequired] public ReferenceDto Item { get; set; } = null!;
    [Parameter] public string Page { get; set; } = null!;
}
