@using BlazorWjdr.Models
<a href="references/@Item.Id.ToString()/" class="btn btn-light btn-item">
    <ItemIcon Icon="book" Classes="mr-1"/>
    <em>@Item.AnneeDePublication</em>
    @Item.Titre
    @if (!string.IsNullOrWhiteSpace(Page))
    {
        <strong class="ml-2">@Page</strong>
    }
</a>
@code
{
    [Parameter] public ReferenceDto Item { get; set; } = null!;
    [Parameter] public string Page { get; set; } = null!;
}
