@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using BlazorWjdr.Components.Carriere

@inject CarrieresService _carrieresService

<tr>
    <td><img style="width:192px;" src="@Item.Image" alt="@Item.Titre"/></td>
    <td style="width:65px;">
        @if (_carrieresLiees.Any())
        {
            <span class="btn btn-primary btn-sm table-btn mr-1" @onclick="_ => AfficherCarrieres = !AfficherCarrieres">
                <OiIcon Icon="fork"/>
            </span>
        }
    </td>
    <td><ReferenceItem Item="@Item"/></td>
</tr>
@if (AfficherCarrieres)
{
    <tr><td colspan="3"><CarriereItemList Items="@_carrieresLiees"/></td></tr>
}
@code
{
    [Parameter]
    public ReferenceDto Item { get; set; } = null!;

    private bool AfficherCarrieres { get; set; }

    private CarriereDto[] _carrieresLiees = null!;

    protected override void OnInitialized()
    {
        _carrieresLiees = _carrieresService.GetCarrieresParuesDans(Item);
    }
}