@using CharHammer.Components.Arme
@using CharHammer.Components.Sortilege
@using System.ComponentModel.Design

@inject RacesService RacesService
@code{
    [Parameter, EditorRequired] public BestioleDto Item { get; set; } = null!;
}
@if (Item.Sorts.Any())
{
    <h5>Sortilèges</h5>
    <p>
        <SortilegeItemList Items=@Item.Sorts />
    </p>
}
@if (Item.Armes.Any() || Item.Armures.Any() || Item.EquipementDeCarrieres != "")
{
    <h5>Equipement</h5>
    <p>
        @if (Item.Armes.Any())
        {
            <ArmeItemList Items=@Item.Armes />
        }
        @if (Item.Armures.Any())
        {
            <ArmureItemList Items=@Item.Armures />
        }
        @if (Item.EquipementDeCarrieres != "")
        {
            <span>@Item.EquipementDeCarrieres</span>
        }
    </p>
}