@code{
    [Parameter, EditorRequired] public IEnumerable<BestioleDto> Items { get; set; } = null!;
} 
<table class="table table-striped">
    <tbody>
    @foreach (var bestiole in Items)
    {
        <BestioleRow Item=@bestiole />
    }
    </tbody>
</table>