<Blessures Item=@Item />
@if (Item.Protections.Aucune == false)
{
    <br/>
    <strong>Protections :&nbsp;</strong><span>&nbsp;@Item.Protections.ToString()</span>
}
@if (Item.ProfilActuel.M > 0)
{
    <br/>
    <strong>Mouvement :&nbsp;</strong><span>&nbsp;@Item.ProfilActuel.M</span>
}
@code{
    [Parameter, EditorRequired] public BestioleDto Item { get; set; } = null!;
}