@inject AppState AppState
@code {
    [Parameter, EditorRequired] public CampagneDto Campagne { get; set; } = null!;
    [Parameter] public int Acte { get; set; }
}
<table class="table table-striped">
    <thead>
         <tr>
             <th class="tgroupe"></th>
             <th class="tgroupe ps-2">Date</th>
             <th class="tgroupe ps-2">Titre</th>
             <th class="tgroupe ps-2">Scénario</th>
             <th class="tgroupe ps-2">Durée</th>
             <th class="tgroupe ps-2" style="text-align:center;">XP</th>
             <th class="tgroupe ps-2">Lieux</th>
             <th class="tgroupe ps-2"></th>
         </tr>
    </thead>
    <tbody>
    @foreach (var seance in Campagne.SeancesPourLActe(Acte, AppState.JeSuisDieu).OrderByDescending(s => s.Quand))
    {
        <SeanceRow Item=@seance CampagneId=@Campagne.Id />
    }
    </tbody>
</table>