<a href="campagne/@CampagneId/seances/" class="mr-1 btn @_btnClass" style="width:280px;">@Titre</a>
@code {
    [Parameter]
    public string CampagneId { get; set; } = null!;
    [Parameter]
    public string Titre { get; set; } = null!;
    [Parameter]
    public bool Actif { get; set; }

    private string _btnClass = "";

    protected override void OnParametersSet()
    {
        _btnClass = Actif ? "btn-primary" : "btn-secondary";
        base.OnParametersSet();
    }
}