@using BlazorWjdr.Models
@code{
    [Parameter] public ScenarioDto[] Items { get; set; } = null!;
    [Parameter] public bool LigneCourte { get; set; }
}
<table class="table">
    <thead>
    <tr>
        <th class="tgroupe"></th>
        <th class="tgroupe">Nom</th>
        <th class="tgroupe">Note</th>
        @if (LigneCourte == false)
        {
            <th class="tgroupe">Durée</th>
        }
        <th class="tgroupe">Difficulté</th>
        <th class="tgroupe">Style</th>
        @if (LigneCourte == false)
        {
            <th class="tgroupe">Lieux</th>
            <th class="tgroupe">Source & Auteur</th>
        }
    </tr>
    </thead>
    <tbody class="alternate-color-dark">
    @foreach (var scenar in Items)
    {
        <ScenarioRow Item="@scenar" LigneCourte="@LigneCourte"/>
    }
    </tbody>
</table>