@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Models
<tr style="border-top:1px dotted;">
    <td style="width: 270px;">
        <BestioleItemList Items="@Fact.Pjs"/>
    </td>
    <td>
        <ul>
            @foreach (var line in Fact.Fact.Split('\n'))
            {
                <li>@line</li>
            }
        </ul>
    </td>
</tr>

@code {
    [Parameter] public FactDto Fact { get; set; } = null!;
}