@code {
    [Parameter, EditorRequired] public string Title { get; set; } = null!;
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
}
<div class="card h-12rem bg-white">
    <div class="card-body">
        <h4>@Title</h4>
        <p class="card-text">
            @ChildContent
        </p>
    </div>
</div>