@code {
    [Parameter, EditorRequired] public IEnumerable<EquipementDto> Items { get; set; } = null!;
    [Parameter] public bool AfficherContenance { get; set; }
}
<table class="table table-striped">
    <tbody>
        <tr class="tgroupe">
            <th>Nom</th>
            <th>Enc.</th>
            @if (AfficherContenance)
            {
                <th>Capacité</th>
            }
            <th>Prix</th>
            <th>Disponibilité</th>
        </tr>
        @foreach (var item in Items)
        {
        <EquipementRow Item=@item AfficherContenance=@AfficherContenance />
        }
    </tbody>
</table>
