@page "/bestiaire"

@using CharHammer.Components.Bestiole

@inject BestiolesService Service
@inject AppState AppState
@code {
    private IReadOnlyDictionary<string, IEnumerable<BestioleDto>> _groupes = null!;

    protected override void OnInitialized()
    {
        _groupes = Service.BestiolesRegroupees(AppState.JeSuisDieu);
    }
}
<TopRowTitleSection Title="Bestiaire" />
@foreach (var groupe in _groupes.Keys)
{
    <div class="section">
        <h3>@groupe</h3>
        <BestioleTable Items=@_groupes[groupe] />
    </div>
}
