@page "/lieu/{LieuId}"

@using CharHammer.Components.Lieu
@using CharHammer.Components.Campagne

@inject LieuxService Service
@inject ScenariosService ScenariosService
@inject AppState AppState
@code {
    [Parameter, EditorRequired] public string LieuId { get; set; } = null!;

    private LieuDto Item { get; set; } = null!;
    private IEnumerable<ScenarioDto> _scenarios = [];
    private string _topRowTitle = "";

    protected override void OnParametersSet()
    {
        Item = Service.GetLieu(int.Parse(LieuId));

        _topRowTitle = $"{Item.Nom}, {Item.TypeDeLieu.Nom}";
        if (Item.Parent is not null)
            _topRowTitle += $" ({Item.Parent?.Nom})";
        AppState.SetMainTopRowTitle(_topRowTitle);

        if (AppState.JeSuisDieu)
        {
            IEnumerable<LieuDto> lieux = [Item];
            _scenarios = ScenariosService
                .AllScenarios(lieux.Union(Item.SousElements), [])
                .Where(s => s.Note is 0 or > 2);
        }

    }
}
<div class="row">
    <div class="col-6">
        <div class="section">
            <h3>@Item.Nom</h3>
            <p class="text-justify">
                <span class="insister">Type : </span><LieuTypeItem Item=@Item.TypeDeLieu />
                <br />
                <span class="insister">Localisation : </span><LieuItem Item=@Item.Parent />
                @if (Item.Population != "")
                {
                    <br />
                    <span class="insister">Population : </span>
                    <span>@Item.Population</span>
                }
                @if (Item.Industrie != "")
                {
                    <br />
                    <span class="insister">Industrie : </span>
                    <span>@Item.Industrie</span>
                }
                @if (Item.Allegeance != "")
                {
                    <br />
                    <span class="insister">Allégeance : </span>
                    <span>@Item.Allegeance</span>
                }
                @if (Item.SousElements.Any())
                {
                    <br />
                    <span class="insister">Regroupe : </span>

                    <LieuItemList Items=@Item.SousElements />
                }
            </p>
            <CardParagraphes Text=@Item.Description />
        </div>
        @if (_scenarios.Any())
        {
            <div class="section">
                <h4>Scénarios</h4>
                <ScenarioTable Items=@_scenarios LigneCourte=true />
            </div>
        }
    </div>
    <div class="col-6">
        <img alt="Blason" src="images/lieux/@(Item.Id)-blas.png" />
        <img alt="Localisation" src="images/lieux/@(Item.Id)-loc.png" />
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <img alt="Plan" src="images/lieux/@(Item.Id)-plan.jpg" />
    </div>
</div>
