@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Services

@inject AptitudesService _aptitudesService

<h4>Allonge des armes & Combat rapproché</h4>
<ul>
    <li><strong>Personnelle</strong> : vos poings et pieds, votre tête ou tout ce qui les couvre.</li>
    <li><strong>Très courte</strong> : moins d'un 1 pied en longueur.</li>
    <li><strong>Courte</strong> : jusqu'à 2 pieds de long.</li>
    <li><strong>Moyenne</strong> : jusqu'à 3 pieds de long.</li>
    <li><strong>Longue</strong> : jusqu'à 6 pieds de long.</li>
    <li><strong>Très longue</strong> : jusqu'à 10 pieds de long ; peut engager un ennemi jusqu'à 4 mètres (2 cases).</li>
    <li><strong>Massive</strong> : plus de 10 pieds de long ; peut engager un ennemi jusqu'à 6 mètres (3 cases).</li>
</ul>
<p class="card-text">
     Lorsque vous vous défendez en Melée contre un adversaire ayant une <strong>allonge de deux crans inférieure</strong> à la votre, vous disposez d'un <strong>bonus de +10</strong> car vous le tenez plus facilement à distance (ex: défendre avec une hallebarde contre une épée à une main).<br/>>
    Si à votre Tour vous n'êtes pas en infériorité numérique et que vous disposez d'une Allonge inférieur à celle de votre adversaire, vous pouvez utiliser votre Action pour tenter de passer les défenses de votre adversaire. Pour cela faites un Test Opposé de Mélée : si vous l'emportez vous entrez en <strong>Combat Rapproché</strong> avec cet ennemi.<br/>
    En <strong>Combat rapproché</strong>, toute arme ayant une allonge supérieur à <strong>Courte</strong> est considérée comme une <strong>Arme improvisée</strong>. Cet état s'interromp dès que l'adversaire remporte un Test Opposé de Mélée.
    Le Talent <AptitudeItem Item="@_aptitudesService.TalentCombatRapproche"/> influe sur ce genre de manoeuvre.
</p>