@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Models

<div class="card-body">
    <h4 class="card-title">@Nom</h4>
    <AptitudeItem Item="@Aptitude"/>
    <CarriereImage Nom="@Nom" Image="@Image" MaxHeight="450px" MaxWidth="300px"/>
    @ChildContent
</div>
@code{
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public string Nom { get; set; } = null!;
    [Parameter] public string Image { get; set; } = null!;
    [Parameter] public AptitudeDto Aptitude { get; set; } = null!;
}