@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Carriere

<div class="section">
    <h5>@Nom</h5>
    <AptitudeItem Item="@Aptitude"/>
    <ImageMax Nom="@Nom" Image="@Image" MaxHeight="450px" MaxWidth="300px"/>
    @ChildContent
</div>
@code{
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter, EditorRequired] public string Nom { get; set; } = null!;
    [Parameter, EditorRequired] public string Image { get; set; } = null!;
    [Parameter, EditorRequired] public AptitudeDto Aptitude { get; set; } = null!;
}