@using BlazorWjdr.Models
@code {
    [Parameter] public RegleDto Item { get; set; } = null!;
}
<div class="card-body">
    <h4 class="card-title">@Item.Titre</h4>
    <CardParagraphes Text="@Item.Regle"/>
</div>