@using BlazorWjdr.Models
<a href="/competences/@Item.Competence.Id.ToString()/" class="btn btn-light btn-item" target="_blank">
    <span class="oi oi-target item-icon mr-1" aria-hidden="true"></span>
    @if (string.IsNullOrWhiteSpace(Item.Competence.ResumeComplet)) {
        @Item.Detail
    } else {
        <Tooltip Text="@("["+Item.Competence.CaracteristiqueAssociee+"] "+Item.Competence.ResumeComplet)">@Item.Detail</Tooltip>
    }
</a>
@code{
    [Parameter]
    public CompetenceAcquise Item { get; set; } = null!;
}