<a href="/competences/@Item.Id.ToString()/" class="btn btn-light btn-item">
    <span class="oi oi-target item-icon mr-1" aria-hidden="true"></span>
@if (string.IsNullOrWhiteSpace(Item.ResumeComplet)) {
    @Item.Nom
} else {
    <Tooltip Text="@Item.ResumeComplet">@Item.Nom</Tooltip>
}
</a>