@using CharHammer.Components.Race
@using CharHammer.Components.Table

@inject RacesService RacesService
@inject TablesService TablesService
@code {
    [Parameter, EditorRequired] public RaceSelectionnee Selection { get; set; } = null!;
}
<div class="row">
    <div class="col-5">
        <PageSectionRowTitle Title="1. Déterminer sa race" />
        <div class="section px-0">
            <p class="text-justify">
                On effectue un jet sur la table ci-contre.
            </p>
            <p class="text-justify">
                Si le résultat n'est pas celui attendu, on peut choisir une race en dépensant le coût indiqué en points d'expérience.
            </p>
            <p>
                <div class="btn-group btn-group-sm w-100" role="group" aria-label="Basic radio toggle button group">
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesHumainsSelectionnee Race=@RacesService.Humains />
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesHalflingsSelectionnee Race=@RacesService.Halflings />
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesNainsSelectionnee Race=@RacesService.Nains />
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesElfesSylvainsSelectionnee Race=@RacesService.ElfesSylvains />
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesHautsElfesSelectionnee Race=@RacesService.HautsElfes />
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesGnomesSelectionnee Race=@RacesService.Gnomes />
                </div>
            </p>
            <TableDetail Item=@TablesService.GetTable(10) MasquerTitre=true FixedColSize=60 />
        </div>
    </div>
    <div class="col pt-5">
        <img class="float-end" style="max-width:32%; max-height:340px;" src="./images/races/@(Selection.Race.Id)s.png" alt="@Selection.Race.NomMasculin">
        <img class="float-end" style="max-width:32%; max-height:340px;" src="./images/races/@(Selection.Race.Id)m.png" alt="@Selection.Race.NomMasculin">
        <img class="float-end" style="max-width:32%; max-height:340px;" src="./images/races/@(Selection.Race.Id)f.png" alt="@Selection.Race.NomFeminin">
    </div>
</div>
