@using CharHammer.Components.Table

@inject TablesService Service
@code {
    [Parameter, EditorRequired] public RaceSelectionnee Selection { get; set; } = null!;
}
<div class="row">
    <div class="col">
        <PageSectionRowTitle Title="3. Déterminer ses origines" />
        <!-- Lieu de naissance -->
        <div class="section">
            @if (Selection.RaceDesElfesSylvainsSelectionnee)
            {
                <TableDetail Item=@Service.GetTable(25) />
            }
            @if (Selection.RaceDesHautsElfesSelectionnee)
            {
                <TableDetail Item=@Service.GetTable(30) />
            }
            @if (Selection.RaceDesGnomesSelectionnee)
            {
                <TableDetail Item=@Service.GetTable(26) />
            }
            @if (Selection.RaceDesHalflingsSelectionnee)
            {
                <TableDetail Item=@Service.GetTable(27) />
            }
            @if (Selection.RaceDesHumainsSelectionnee)
            {
                <TableDetail Item=@Service.GetTable(28) />
            }
            @if (Selection.RaceDesNainsSelectionnee)
            {
                <TableDetail Item=@Service.GetTable(29) />
            }
        </div>
    </div>
    <div class="col">
        @if (Selection.RaceDesGnomesSelectionnee || Selection.RaceDesHalflingsSelectionnee || Selection.RaceDesNainsSelectionnee)
        {
            <div class="section">
                <TableDetail Item=@Service.GetTable(28) />
            </div>
        }
    </div>
</div>
