@page "/regles/sauts-chutes-poursuites/"

@using CharHammer.Components.Aptitude
@using CharHammer.Components.Table

@inject TablesService TablesSvc
@inject AptitudesService AptSvc

<TopRowTitleSection Title="Sauts, Chutes, Poursuites" />

<div class="row">
    <div class="col-4">
        <div class="section">
            <h3>Sauter et Chuter</h3>
            <p class="text-justify">
                Sauter pour atteindre des rebords élevés, sauter d'un toit à l'autre, ou échouer les deux et dégringoler vers votre mort sont tous des éléments essentiels de l'expérience WFRP.
            </p>
            <p class="text-justify">
                De simples tests d'<AptitudeItem Item=@AptSvc.CompetenceAthletisme />, ou peut-être un test de <AptitudeItem Item=@AptSvc.GetAptitude(1116) />, seront suffisants pour déterminer le résultat dans la plupart des cas, mais il est parfois utile de savoir exactement à quelle hauteur vous sautez, à quelle distance vous sautez ou les conséquences d'une chute.
            </p>

            <h5>Sauter</h5>
            <p class="text-justify">
                Vous pouvez sauter une distance égale a votre attribut de mouvement en mètres sans avoir à faire un test. Si vous voulez sauter plus loin, vous devez passer un test d'Athlétisme de niveau moyen (+20) si vous avez un hélant d'au moins votre mouvement en mètre ; sinon, le test est un Stimulent (+0). En cas de succès, chaque BS ajoute un mètre supplémentaire au saut. Si vous avez réussi avec + 0 BS, vous réussissez un saut supplémentaire de 15 cm avec votre saut.
            </p>

            <h5>Chuter</h5>
            <p class="text-justify">
                Si vous tombez intentionnellement - ou si vous préférez sauter vers le bas - vous pouvez tenter un Test d'Athlétisme moyen (+20) pour réduire les dégâts que vous pourriez subir. Si vous réussissez, vous comptez comme ayant perdu 1 mètre de moins, plus un mètre supplémentaire de moins par SL marqué.
            </p>
            <p class="text-justify">
                Si vous réduisez la distance que vous estimez être tombée à 0 ou moins, vous ne subirez aucun dommage à la suite de la chute.
            </p>
            <p class="text-justify">
                Si le nombre de blessures subies lors d'une chute est supérieur à votre Bonus d'Endurance, vous obtenez également la Condition de A Terre.
            </p>
        </div>
        <div class="section">
            <h3>Escalader</h3>
            <p class="text-justify">
                La plupart des mouvements de grimpée n'ont pas besoin de tests. Les règles d'escalade ne sont requises que lorsque l'ascension est difficile ou s'il est important de savoir exactement combien de temps il faut pour monter.
            </p>
            <p class="text-justify">
                Il n'est pas nécessaire de passer un test pour grimper à une échelle ou à une surface aussi facile à grimper, mais cela vous ralentit. Vous vous déplacez à mi-vitesse vers le haut ou vers le bas des échelles ou d'autres surfaces faciles à grimper. Donc, il vous en coûterait 4 mètres de votre mouvement pour grimper une échelle de 2 mètres. Si vous voulez grimper plus vite, dépensez votre Action pour faire un Test d'Escalade moyen (+20).
            </p>
            <p class="text-justify">
                Vous grimperez un mètre supplémentaire de mouvement +BS. Ainsi, un personnage avec le Mouvement 4 qui a obtenu +2 BS grimpera de 6 mètres supplémentaires (4+2=6). Si les deux mains sont libres, vous pouvez grimper sur une surface avec des prises appropriées avec un test d'Escalade en utilisant votre Action pour ce tour. Vous montez ou descendez à une vitesse de ½ Mouvement +BS en mètres.
            </p>
        </div>
    </div>

    <div class="col-4">
        <div class="section">
            <TableDetail Item=@TablesSvc.GetTable(67) />
        </div>
    </div>

    <div class="col-4">
        <div class="section">
            <h3>Poursuite</h3>
            <p class="text-justify">
                Des scènes de poursuite désespérée dans des marchés achalandés et des courses à grande vitesse suspendues à l'arrière des diligences sont la pièce maîtresse de nombreuses aventures passionnantes. Voici comment lancer une poursuite :
            </p>
            <p class="text-justify">
                <strong>1: Déterminer la distance</strong> — Le MJ décide de la distance qui sépare les poursuivants des poursuivies et attribue un chiffre pour représenter la distance de l'avance. Généralement, cela varie de 1 pour ceux qui sont presque à portée de main, à 4 pour ceux qui ont une bonne avance, et à 8 pour ceux qui sont presque hors de portée lorsque la poursuite commence.
            </p>
            <p class="text-justify">
                <strong>2: Test</strong> — Tous ceux qui se déplacent activement dans lapoursuite passent un test de mouvement - typiquement, il s'agitd'un test de Conduite, d’Équitation ou d'Athlétisme, selon les circonstances.
            </p>
            <p class="text-justify">
                <strong>3: Distance de mise à jour</strong> — La SL la plus basse de la poursuite et la SL la plus haute des poursuivants est comparée, la différence entre celles-ci est ajoutée à la distance si le poursuivant gagne, et soustraite du nombre de distance si les poursuivants échoue.
            </p>
            <p class="text-justify">
                <strong>4: Déterminer le résultat</strong> — Si la distance tombe à 0 ou moins, les poursuivants ont attrapé leur proie ! Les poursuivants peuvent alors sacrifier leur membre le plus lent pour retarder les poursuivants alors que les autres continuent à fuir, ou ils peuvent s'arrêter et affronter leurs poursuivants. Si le plus lent des poursuivants est abandonné, les poursuivants décident qui s'arrête pour affronter le malheureux et qui continue à le poursuivre. Si le pauvre coureur abandonné n'est pas une cible prioritaire, il est fort probable que les poursuivants continueront leur poursuite de leur cible. Si la distance atteint 10+, les poursuivants ont perdu leur proie et la poursuite est terminée... pour l'instant ! Si la distance est toujours de 1 à 9, la poursuite continue, revenez à l'étape 2.
            </p>
            <p class="text-justify">
                À chaque round, il est important de décrire ce qui vient de se passer d'une façon amusante et excitante. Si vous obtenez un gros BS, décrivez les personnes qui se mettent à l'écart, ce qui vous donne l'occasion de faire du terrain. Si vous obtenez un BS négatif, décrivez comment vous avez trébuché sur des caisses, heurté des gens ou heurté un mur avec votre carrosse, ce qui vous a ralenti.
            </p>

            <h5>Modificateur de Mouvement</h5>
            <p class="text-justify">
                Si certains des personnages de la poursuite ont un Mouvement plus élevé, ils gagnent un bonus SL égal à la différence de Mouvement. Donc, si vous aviez un Mouvement de 5 et que vous poursuiviez un personnage de Mouvement 4, vous gagneriez +1 SL sur votre jet de poursuite.
            </p>
        </div>
    </div>
</div>
