@page "/regles/tables-des-echos-du-chaos/"

@using CharHammer.Components.Table

@inject TablesService Service
@inject AppState AppState
@code {
    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Sorcellerie");
    }
}
<div class="row mb-3">
    <div class="col-5">
        <TableDetail Item=@Service.GetTable(667) />
    </div>

    <div class="col-7">
        <TableDetail Item=@Service.GetTable(668) />
    </div>
</div>
