@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('caslon-antique-regular/font/css/caslon-antique-regular.css');

:root {
    --theme-font-family: 'calecon-antique', fantasy;
    --theme-color: #5e1a05;
    --theme-brown: #a46022;
    --theme-brown-light: #d1b07a;
    --theme-brown-lighter: #ecd1a6;
    --theme-color-lighter: #80390f;
    --theme-color-pale: #fff7f2;
    --theme-orange-darker: #95632b;
    --theme-orange-dark: #cf8d42;
    --theme-orange: #e79f4c;
    --theme-orange-light: #ffba6a;
    /* --bs-override */
    --bs-primary: var(--theme-color);
    --bs-secondary: var(--theme-orange);
    --bs-danger: #aa0101;
    --bs-body-bg: #f3e3c1;
    --bs-link-color-rgb: var(--theme-color);
    --bs-link-hover-color-rgb: var(--theme-color-lighter);
    --bs-card-title-color: var(--theme-color);
    --bs-warning-bg-subtle: var(--theme-orange);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    --bs-heading-color: var(--theme-color);
    font-family: var(--theme-font-family);
    font-weight: 600;
}

.h-12rem { height: 12rem; }
.w-2rem { width: 2rem; }
.w-4rem { width: 4rem; }
.w-5rem { width: 5rem; }
.w-8rem { width: 8rem; }
.w-9rem { width: 9rem; }
.w-10rem { width: 10rem; }
.w-12rem { width: 12rem; }
.w-13rem { width: 13rem; }
.w-15rem { width: 15rem; }
.w-18rem { width: 18rem; }
.w-22rem { width: 22rem; }
.w-25rem { width: 25rem; }
.w-31rem { width: 31rem; }

.section {
    padding: 1.25rem;
}

.text-justify { text-align: justify; }

.text-brown {
    color: var(--theme-brown) !important;
}
.theme-color {
    color: var(--theme-color);
}
.text-orange {
    color: var(--theme-orange) !important;
}
.insister {
    color: var(--theme-color);
    font-weight: bold;
}
.bg-brown {
    background-color: var(--theme-brown) !important;
}
.bg-brown-lighter {
    background-color: var(--theme-brown-lighter) !important;
}

.tgroupe {
    background-color: var(--theme-color) !important;
    color: white !important;
    font-family: var(--theme-font-family) !important;
    font-weight: 500 !important;
    font-size: large !important;
}

.table {
    --bs-table-border-color: transparent;
    --bs-table-bg: #cebfb5;
    --bs-table-striped-bg: var(--bs-body-bg);
}
.table thead th { border-bottom: none; }
.table td, .table th { padding: .10rem; border-top: none; }
.table td ul { margin-bottom: 0; }

.list-btn-item > .btn-item:not(:last-child) {
    margin-right: 0.3rem;
}

.bulle {
    padding: .5rem;
    background-color: var(--theme-color-pale);
    border-radius: .75em;
}
.bulle > .table {
    margin-bottom: 0;
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-striped-bg: var(--theme-color-pale);
}
.bulle > ul:last-child, .bulle > p:last-child {
    margin-bottom: 0;
}

.item-icon {
    font-size: .800rem;
    color: var(--theme-color-lighter);
}

.bt-black-dashed {
    border-top: 1px black dashed;
}

.hover-help:hover { cursor: help; }
.hover-pointer:hover { cursor: pointer; }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}