@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
/*
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
*/

a, .btn-link {
    color: #562f08;
}
.table td, .table th { padding: .25rem; }
.table td ul { margin-bottom: 0; }

.zone-detail { color: #ac94a0; }
.item-icon { font-size: .800rem; color: #8e6047; }
.card-title { color: #5e1a05; }

.btn.btn-item { padding:.1rem .45rem; letter-spacing: -1px; background-color: #dbcfc8; margin-bottom: 2px; line-height: 1.4;  }
.btn-primary{color:#dbcfc8;background-color:#80390f;border-color:#80390f}
.btn-primary:hover{color:#dbcfc8;background-color:#91531a;border-color:#653509}
.btn-primary.focus,.btn-primary:focus{box-shadow:0 0 0 .2rem #7c4814}
.btn-primary.disabled,.btn-primary:disabled{color:#dbcfc8;background-color:#80390f;border-color:#80390f}
.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{color:#dbcfc8;background-color:#653509;border-color:#5e1a05}
.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #7c4814}
/*
.btn-primary{color:#f5cfb4;background-color:#9c3c04;border-color:#9c3c04}
.btn-primary:hover{color:#f5cfb4;background-color:#7e3921;border-color:#562f08}
.btn-primary.focus,.btn-primary:focus{box-shadow:0 0 0 .2rem #573628}
.btn-primary.disabled,.btn-primary:disabled{color:#f5cfb4;background-color:#9c3c04;border-color:#9c3c04}
.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{color:#f5cfb4;background-color:#562f08;border-color:#501208}
.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #573628}
*/
.span.btn-primary:hover{cursor:pointer;}

.content {
    padding-top: 1.1rem;
}