@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Carriere

<div class="card-body">
    @if (!string.IsNullOrWhiteSpace(Titre))
    {
        <h4>@Titre</h4>
    }
    @if (Aptitude != null)
    {
        <AptitudeItem Item=@Aptitude />
    }
    @if (!string.IsNullOrWhiteSpace(Image))
    {
        <ImageMax Image=@Image Nom=@Titre MaxHeight=@ImageMaxHeight MaxWidth=@ImageMaxWidth />
    }
    @ChildContent
</div>
@code{
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter, EditorRequired] public string Titre { get; set; } = null!;
    [Parameter] public string? Image { get; set; }
    [Parameter] public string ImageMaxWidth { get; set; } = "250px";
    [Parameter] public string ImageMaxHeight { get; set; } = "350px";
    [Parameter] public AptitudeDto? Aptitude { get; set; }
}