@code{
    [Parameter, EditorRequired] public string Text { get; set; } = null!;
    [Parameter] public string CardTextClass { get; set; } = "";
    [Parameter] public bool PasDeMarge { get; set; }
}
@foreach (var paragraphe in Text.Replace('\r', '\n').Replace("\n\n", "\n").Split('\n'))
{
    var spanClass = PasDeMarge ? "" : "ps-3";
    <p class="card-text @CardTextClass">
        <span class="@spanClass">@paragraphe</span>
    </p>
}