<button style="width:25px;" @onclick="Moins">-</button>
<input type="text" class="saisie-score" value="@CurrentValue"/>
<button style="width:25px;" @onclick="Plus">+</button>
@code {
    [Parameter] public int CurrentValue { get; set; }
    private void Plus() => CurrentValue++;
    private void Moins() => CurrentValue--;
}