@inject AppState AppState
@code{
    private void OnPasswordChange(ChangeEventArgs args)
    {
        AppState.PretendreEtreUnDieu(Convert.ToString(args.Value) ?? string.Empty);
    }
}
<span class="btn-group">
    <OiLock Locked=@(!AppState.JeSuisDieu) />
    <input placeholder="Password" @onchange="OnPasswordChange" class="ms-2 rounded@(AppState.JeSuisDieu ? " invisible" : "")" />
</span>