@inject AppState _appState
@code{
    private void OnPasswordChange(ChangeEventArgs args)
    {
        _appState.PretendreEtreUnDieu(Convert.ToString(args.Value) ?? string.Empty);
    }
}
<span class="btn-group">
    <OiLock Locked="@(!_appState.JeSuisDieu)" />
@if (!_appState.JeSuisDieu)
{
    <input placeholder="Password" @onchange="OnPasswordChange" class="rounded ms-1" />
}
</span>