.top-row {
    background-color: #cf8d42;
    border-bottom: 1px solid #dbcfc8;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row ::deep a, .top-row .btn-link {
    white-space: nowrap;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}
