@using Microsoft.AspNetCore.Components
@using System.Net.Mime
@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Components.Talent

<div class="header-menu">
    <div class="btn-group" >
        <div class="text-center">
            <input class="dropdown-toggle border-4 w-2/3 rounded m-6 p-6 h-8"
                   @bind-value="_searchText"
                   @bind-value:event="oninput"
                   placeholder="Recherche..."
                   style="/*background-color: #a4ccf6*/"/>
            <span class="oi oi-magnifying-glass" aria-hidden="true" style="color: #5e1a05;"></span>
        </div>
        @if (_searchText.Length > 2 && ResultFound)
        {
            <div class="header-menu-list dropdown-menu show p-2">

                @if (FilteredCarrieres.Any())
                {
                    <div class="mb-3">
                        <h6 class="card-title">Carrières</h6>
                        <CarriereItemList Items="FilteredCarrieres" ItemClass=""/>
                    </div>
                }

                @if (FilteredCompetences.Any())
                {
                    <div class="mb-3">
                        <h6 class="card-title">Compétences</h6>
                        <CompetenceItemList Items="FilteredCompetences"/>
                    </div>
                }
                
                @if (FilteredTalents.Any())
                {
                    <div class="mb-3">
                        <h6 class="card-title">Talents</h6>
                        <TalentItemList Items="FilteredTalents"/>
                    </div>
                }
            </div>
        }
    </div>
</div>


@code {
    private IEnumerable<CarriereDto> AllCarrieres { get; set; } = new List<CarriereDto>();
    private IEnumerable<CompetenceDto> AllCompetences { get; set; } = new List<CompetenceDto>();
    private IEnumerable<TalentDto> AllTalents { get; set; } = new List<TalentDto>();

    [Parameter]
    public string Text { get; set; } = "";
        
    private string _searchText = "";

    [Inject] private CarrieresService CarrieresService { get; set; } = null!;
    [Inject] private CompetencesEtTalentsService CompetencesEtTalentsService { get; set; } = null!;
        
    protected override void OnInitialized()
    {
        AllCarrieres = CarrieresService.AllCarrieres;
        AllCompetences = CompetencesEtTalentsService.AllCompetences;
        AllTalents = CompetencesEtTalentsService.AllTalents;
    }

    protected override void OnParametersSet()
    {
        _searchText = Text;
        base.OnParametersSet();
    }

    private bool ResultFound => FilteredCarrieres.Any() || FilteredCompetences.Any() || FilteredTalents.Any();

    private CarriereDto[] FilteredCarrieres => _searchText.Length < 3
        ? new CarriereDto[0]
        : CarrieresService.Recherche(_searchText);
    
    private CompetenceDto[] FilteredCompetences => _searchText.Length < 3
        ?  new CompetenceDto[0]
        : CompetencesEtTalentsService.RechercheCompetences(_searchText);

    private TalentDto[] FilteredTalents => _searchText.Length < 3
        ?  new TalentDto[0]
        : CompetencesEtTalentsService.RechercheTalents(_searchText);
}