<div class="top-row px-4">
    <div style="width: 65%;">
        @ChildContent
    </div>
    <div>
        <span style="width:256px;">
            <MainTopRowSearchBar/>
        </span>
    </div>
</div>
@code
{
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
}
