@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public string Title { get; set; } = "";
}
<div class="top-row px-4 fixed-header">
    <div class="col-6">
        <HomeIcon/>
        <span class="mr-3" />
        @if (Title != "")
        {
            <h3 class="card-title" style="display:inline-block;">@Title</h3>
        }
        @ChildContent
    </div>
    <div class="col-6">
        <div class="header-menu" style="display: inline-block;">
            <MainTopRowSearchBar/>
        </div>
        <LogoWarhammer/>
        <GodMode/>
    </div>
</div>
<div style="height:56px;"></div>