@inject AppState _appState
<PageTitle>
    @_appState.PageHeadTitle
</PageTitle>

<div class="navbar fixed-top">
    <div class="container">
        <span>
            <HomeIcon />
            @if (_appState.MainTopRowTitle != "")
            {
                <span class="h2 ms-3">@_appState.MainTopRowTitle</span>
            }
        </span>
        <MainTopRowSearchBar />
        <LogoWarhammer />
        <GodMode />
    </div>
</div>
<div style="height:56px;"></div>
