<div class="top-row px-4">
    <span class="top-row-title">
        @ChildContent
    </span>
    <span style="width:256px;">
        <MainTopRowSearchBar/>
    </span>
</div>
@code
{
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
}
