<li class="nav-item px-3">
    <NavLink class="nav-link" href="@Href">
        <span class="oi oi-@Icone" aria-hidden="true"></span> @Title
    </NavLink>
</li>
@code {
    [Parameter, EditorRequired] public string Href { get; set; } = null!;
    [Parameter, EditorRequired] public string Icone { get; set; } = null!;
    [Parameter] public string Title { get; set; } = null!;
}