<div class="top-row pl-0 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="images/logo.png" style="margin-top:-10px" alt="Logo Warhammer"/>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <NavMenuItem Icone="badge" Title="Carrières" Href="carrieres-liste/toutes/toutes/" />
        <NavMenuItem Icone="target" Title="Compétences" Href="competences" />
        <NavMenuItem Icone="brush" Title="Talents" Href="talents" />
    </ul>
    
    <ul class="nav flex-column">
        <NavMenuItem Icone="bug" Title="Bestiaire" Href="bestiaire" />
        <NavMenuItem Icone="person" Title="Personnages" Href="personnages" />
    </ul>
    
    <ul class="nav flex-column">
        <NavMenuItem Icone="shield" Title="Armes" Href="equipement/armes-liste/toutes/toutes/" />
    </ul>
    
    <ul class="nav flex-column">
        <NavMenuItem Icone="flag" Title="Règles" Href="regles"/>
        <NavMenuItem Icone="droplet" Title="Traits / troubles" Href="tables-traits-et-troubles/traits/" />
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
