<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="images/logo.png" style="margin-top:-10px" />
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <NavMenuItem Icone="badge" Title="Carrières" Href="carrieres-liste/toutes/toutes/" />
        <NavMenuItem Icone="grid-three-up" Title="Carrières initiales" Href="table-carrieres-initiales/1/" />
        <NavMenuItem Icone="target" Title="Compétences" Href="competences" />
        <NavMenuItem Icone="brush" Title="Talents" Href="talents" />
    </ul>
    
    <ul class="nav flex-column">
        <NavMenuItem Icone="droplet" Title="Races" Href="races" />
        <NavMenuItem Icone="bug" Title="Bestiaire" Href="bestiaire" />
        <NavMenuItem Icone="person" Title="Personnages" Href="personnages" />
    </ul>
    
    <ul class="nav flex-column">
        <NavMenuItem Icone="shield" Title="Armes" Href="equipement/armes-liste/toutes/toutes/" />
    </ul>
    
    <ul class="nav flex-column">
        <NavMenuItem Icone="flag" Title="Règles" Href="regles"/>
        <NavMenuItem Icone="script" Title="Chronologie" Href="chronologie"/>
        <NavMenuItem Icone="compass" Title="Lieux" Href="lieux"/>
        <NavMenuItem Icone="book" Title="Références" Href="references"/>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
