@code {
    [Parameter] public string Size { get; set; } = "4";
    [Parameter] public string Classes { get; set; } = "";
}
<div class="d-flex justify-content-center @Classes">
    <img class="my-4" src="./images/divider@(Size).png" alt=""/>
</div>
