.tooltip-wrapper {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
    /*cursor: help;*/
}
a:-webkit-any-link .tooltip-wrapper { cursor:pointer; }

span {
    visibility: hidden;
    position: absolute;
    width: 360px;
    bottom: 180%;
    left: 50%;
    margin-left: -180px;
    letter-spacing: -1px;
    line-height: 1.1em;
    background-color: #363636;
    color: var(--bs-white);
    text-align: justify;
    padding: 5px 7px;
    border-radius: 6px;
    z-index: 777;
}

span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover span {
    visibility: visible;
}