<a href="regles/creation-de-personnage/@Race.Id/" class="me-1 btn @_btnClass" style="width:105px;">@Race.NomMasculin</a>
@code {
    [Parameter, EditorRequired] public Models.RaceDto Race { get; set; } = null!;
    [Parameter] public bool Actif { get; set; }

    private string _btnClass = "";

    protected override void OnParametersSet()
    {
        _btnClass = Actif ? "btn-primary" : "btn-secondary";
        base.OnParametersSet();
    }
}