@using BlazorWjdr.Models
<a href="races/@Item.Id.ToString()/" class="btn btn-light btn-item">
    <ItemIcon Icon="droplet" />
    <span class="mr-1" />
    @Item.NomMasculin @(string.IsNullOrWhiteSpace(Item.NomFeminin) ? "" : " / " + Item.NomFeminin)
</a>
@code
{
    [Parameter]
    public RaceDto Item { get; set; } = null!;
}
