@page "/equipement/armures/{Groupe}/"

@using BlazorWjdr.Components.Arme
@using BlazorWjdr.Components.Equipement

@inject ArmesService Service
@inject AppState AppState
@code {
    [Parameter] public string Groupe { get; set; } = "";

    IEnumerable<ArmureDto> _armures => Service.AllArmures;

    private bool AfficherArmuresLegeres => Groupe is "toutes" or "legeres";
    private bool AfficherArmuresMoyennes => Groupe is "toutes" or "moyennes";
    private bool AfficherArmuresLourdes => Groupe is "toutes" or "lourdes";

    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Armures et Vêtements");
    }
}

<SousMenu>
    <a href="equipement/armures/toutes/" class="btn btn-sm @(Groupe == "toutes" ? "btn-primary" : "btn-secondary")">Toutes</a>
    <a href="equipement/armures/legeres/" class="btn btn-sm @(Groupe == "legeres" ? "btn-primary" : "btn-secondary")">Légères</a>
    <a href="equipement/armures/moyennes/" class="btn btn-sm @(Groupe == "moyennes" ? "btn-primary" : "btn-secondary")">Moyennes</a>
    <a href="equipement/armures/lourdes/" class="btn btn-sm @(Groupe == "lourdes" ? "btn-primary" : "btn-secondary")">Lourdes</a>
</SousMenu>

<div class="row">
    <div class="col">
        <h3>Endommager une Armure</h3>
        <p class="text-justify">
            Votre armure peut généralement être endommagée dans les situations suivantes :
        </p>
        <ul>
            <li>Vous êtes blessé par un arme disposant de l'attribut <AttributDArmeItem Item=@Service.AttributFracassant />.</li>
            <li>Une aptitude spéciale déclenche, comme un sort ou un talent, qui endommage une pièce d'armure.</li>
            <li>Une Blessure Critique est déviée par votre armure.</li>
        </ul>
        <p class="text-justify">
            Chaque fois que votre armure est endommagée, les PA de la zone touchée sont réduits de 1.
            <br />
            Si cela réduit les PA à 0, l'armure qui s'y trouve devient inutile.
        </p>
    </div>

    <div class="col">
        <h5>Déviation Critique</h5>
        <p class="text-justify">
            Cela ne se produit que si vous le souhaitez. Si vous subissez une Blessure Critique suite à une attaque infligée sur un emplacement protégé par une armure,
            vous pouvez choisir de laisser votre armure être endommagée de 1AP afin d'ignorer cette Blessure Critique.
        </p>
        <p class="text-justify">
            Vous souffrez toujours de toutes les Blessures normales (et étant donné que vos PA sont de 1 point inférieurs, vous souffrez probablement d'une Blessure
            supplémentaire), mais vous évitez les effets des Blessures critiques car le coup est absorbé par votre armure qui est maintenant endommagée.
        </p>
    </div>

    <div class="col">
        <h3>Réparer une Armure</h3>
        <p class="text-justify">
            Il coûte 10% du prix de base de l'armure par PA perdu pour le réparer. Donc, si vous aviez un manteau de cotte de mailles à
            manches avec 1PA de dommages sur le corps et 1PA de dommages sur les bras, il vous en coûtera 20% du coût de base
            de votre armure pour le réparer, dans ce cas 12/-. Si une section de votre armure est complètement brisée, il vous en coûtera 30%
            du coût de base de l'armure à réparer, et vous devrez probablement attendre un certain temps avant qu'elle soit
            terminée.
        </p>
        <p class="text-justify">
            Vous pouvez également réparer votre propre armure si vous possédez les Compétences Métier appropriées, les outils et,
            pour l'armure de plate, un atelier.
        </p>
    </div>
</div>

<div class="section">
    @if (AfficherArmuresLegeres && _armures.Any(a => a.TypeLegere))
    {
        <h5>Armures Légères</h5>
        <TableArmures Items=@_armures.Where(a => a.TypeLegere) />
    }
    @if (AfficherArmuresMoyennes && _armures.Any(a => a.TypeMoyenne))
    {
        <h5>Armures Moyennes</h5>
        <TableArmures Items=@_armures.Where(a => a.TypeMoyenne) />
    }
    @if (AfficherArmuresLourdes && _armures.Any(a => a.TypeLourde))
    {
        <h5>Armures Lourdes</h5>
        <TableArmures Items=@_armures.Where(a => a.TypeLourde) />
    }
</div>
