@page "/equipement-de-depart/"

@inject AppState AppState
@code {
    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Equipement de Départ par Vocation");
    }
}
<div class="row py-3">
    <div class="col-3">
        <Card Title="Citoyens">Cape, vêtement, Dague, chapeau, Bourse, Sac en bandoulière contenant le déjeuner.</Card>
    </div>
    <div class="col-3">
        <Card Title="Courtisans">Vêtements fins, Dague, Bourse contenant une pince à épiler, un cure-oreille et un peigne.</Card>
    </div>
    <div class="col-3">
        <Card Title="Filous">Vêtements, Dague, Bourse, Sac à bandoulière contenant 2 bougies, 1d10 allumettes, un bonnet ou un masque.</Card>
    </div>
    <div class="col-3">
        <Card Title="Forestiers">Cape, Vêtements, Dague, Bourse, Sac à dos contenant Boîte à amadou, Couverture, Rations (1 jour).</Card>
    </div>
</div>
<div class="row py-3">
    <div class="col-3">
        <Card Title="Guerriers">Vêtements, Arme de poing, Dague, Bourse.</Card>
    </div>
    <div class="col-3">
        <Card Title="Lettrés">Vêtements, Dague, Bourse, Sac à bandoulière contenant une trousse d'écriture et 1d10 feuilles de Parchemin.</Card>
    </div>
    <div class="col-3">
        <Card Title="Paysans">Cape, Vêtements,Dague, Bourse, Sac à bandoulière contenant des rations (1 jour).</Card>
    </div>
    <div class="col-3">
        <Card Title="Riverains">Cape, Vêtements, Dague, Bourse, Sac à bandoulière contenants un flacon d'eau-de-vie.</Card>
    </div>
</div>