@page "/equipement-de-depart/"
@using BlazorWjdr.Components.Equipement

@inject AppState AppState
@code {
    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Equipement de Départ par Vocation");
    }
}
<div class="row py-3">
    <div class="col">
        <EquipementCard Title="Citoyens">Cape, vêtement, Dague, chapeau, Bourse, Sac en bandoulière contenant le déjeuner.</EquipementCard>
    </div>
    <div class="col">
        <EquipementCard Title="Courtisans">Vêtements fins, Dague, Bourse contenant une pince à épiler, un cure-oreille et un peigne.</EquipementCard>
    </div>
    <div class="col">
        <EquipementCard Title="Filous">Vêtements, Dague, Bourse, Sac à bandoulière contenant 2 bougies, 1d10 allumettes, un bonnet ou un masque.</EquipementCard>
    </div>
    <div class="col">
        <EquipementCard Title="Forestiers">Cape, Vêtements, Dague, Bourse, Sac à dos contenant Boîte à amadou, Couverture, Rations (1 jour).</EquipementCard>
    </div>
</div>
<div class="row py-3">
    <div class="col">
        <EquipementCard Title="Guerriers">Vêtements, Arme de poing, Dague, Bourse.</EquipementCard>
    </div>
    <div class="col">
        <EquipementCard Title="Lettrés">Vêtements, Dague, Bourse, Sac à bandoulière contenant une trousse d'écriture et 1d10 feuilles de Parchemin.</EquipementCard>
    </div>
    <div class="col">
        <EquipementCard Title="Paysans">Cape, Vêtements,Dague, Bourse, Sac à bandoulière contenant des rations (1 jour).</EquipementCard>
    </div>
    <div class="col">
        <EquipementCard Title="Riverains">Cape, Vêtements, Dague, Bourse, Sac à bandoulière contenants un flacon d'eau-de-vie.</EquipementCard>
    </div>
</div>