@page "/chronologie"

@using BlazorWjdr.Models
@using BlazorWjdr.Services
@inject ChronologieService _chronologieService

<MainTopRow Title="Chronologie"/>

<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Période</th>
                <th>Evènement</th>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chrono in _lines)
            {
                <tr>
                    <td>@chrono.Periode</td>
                    <td>@chrono.Resume</td>
                    <td>@chrono.Titre</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private ChronologieDto[] _lines = null!;

    protected override void OnInitialized()
    {
        _lines = _chronologieService.AllChronologie();
    }
}
