@page "/univers/introduction"

<h3>Introduction</h3>

<a href="http://fr.wikipedia.org/wiki/Warhammer#Le_monde_de_Warhammer">Wikipidia</a>

<p class="card-text">
    Le monde de Warhammer présente de vagues ressemblances avec le nôtre, mais dans ce monde l'humanité  ne détient pas la seule suprématie sur le globe. Elle partage les royaumes, empires et principautés du monde avec toute sortes de créatures fantastiques et horribles, depuis les antiques races des elfes et des nains, jusqu'aux vampires, trolls et autres démons.
    Les conflits sont monnaie courante, en commençant par les affrontements de puissances armées jusqu'aux manigances politiciennes de burgomeisters ambitieux. La terre elle même semble engendrer le désaccordet le mécontentement, les intrigues et la corruption.
    La vie y est courte et brutale. Le danger rôde dans l'obscurité des forêts et dans la puanteur des villes. Les orques, les hommes-bêtes et autres créatures impies règnent sur les contrées sauvages et s'attaquent aux faibles et aux imprudents. Sous la surface les détestables hommes-rats rongent et sapent les bases même de la civilisation. De nombreuses victimes succombent tous les jours sous leurs coups, échappant ainsi à un monde où l'humour noir et l'ignorance délibérée sont les maigres réconforts auxquels se raccrochent la plupart des gens.
    Bien entendu, les souffrances des mortels ne restent pas ignorées. Des yeux antédiluviens observent sans relâche le bouillonnant spectacle de la vie et de la mort, de la confiance et de la trahison. Les Sombres Puissances cherchent à étouffer la petite flamme de l'existence mortelle pour revendiquer la terre et y établir leur propre royaume éternel du Chaos.
    Beaucoup se tournent vers ces Dieux Sombres. Des églises hérétiques promettent le pouvoir, la connaissance, le plaisir et les richesses à ceux qui voudront s'abandonner à la vénération de l'interdit. Les Puissances du Chaos accordent à leurs fidèles les bénédictions qu'ils méritent, depuis de miraculeux pouvoirs jusqu'à d'hideuses mutations. Toute âme ainsi corrompue devient un élément de la guerre éternelle engagée par le Chaos contre le monde et ses habitants.
    Voici l'univers dans lequel vous allez vous retrouver, un monde de héros malgré eux, un monde de luttes désespérées et de noire ironie. Le monde de Warhammer.
    
    D'un point de vu géographique et politique :
    
    Région correspondant à l'Europe de notre bonne vieille Terre, le Vieux Monde est essentiellement peuplé d'humains rassemblés en une poignée de nations. L'Empire occupe la majeure partie de ce continent, sa culture est de type germanique et correspond à un mélange de Moyen Âge et de Renaissance. La Bretonnie est un royaume féodal évoquant la France médiévale. L'Estalie et la Tilée sont des royaumes méridionaux divisés en cités-états et gouvernées par des princes-marchands. On y retrouve respectivement des éléments de la culture espagnole et italienne. Kislev enfin est un royaume nordique aux forts accents polonais.
    
    Ce continent est en grande partie couvert de forêts peuplées de créatures monstrueuses ou de colonies elfes (la forêt d'Athel Loren surtout, en Bretonnie). Les nombreuses chaînes de montagnes abritent des forteresses naines dans le plus pur style "Tolkien" : en lutte perpétuelle contre les créatures souterraines comme les gobelins ou les skavens (des hommes-rats).
    
    PS : vous jouerez dans l'empire (et serez très probablement des citoyens impériaux)
    
    Les races jouables sont :
    - les humains (très commun, le plus souvent ignorants, superstitieux, illettrés et bourrés de préjugés, seule race pouvant accéder à la prêtrise)
    - les halfelings (hobbits ou semi-hommes - relativement commun - agiles et sociables, adorent manger, font de bons "voleurs" et d'excellents cuisiniers, résistance naturelle à la corruption du chaos, très bien intégrés aux royaumes humains).
    - les elfes (inhabituel - intelligents et agiles, doués pour la magie et pour le combat à distance, pas toujours bien intégrés chez les humains (sans parler des nains), rescpectueux mais "amusés" par la foi des mortels et leur prétendus pouvoirs divins - il y a malheureusement un manque cruel de support de la part des éditeurs ce qui les rend difficile à jouer)
    - les nains (inhabituel - doués pour le combat au corps à corps, robustes, réfractaires à la magie "classique", accès à la magie des runes, respectueux des croyances humains mais n'y adhèrent pas. les plus grands ingénieurs et érudits sont souvent des nains (les elfes se défendent pas mal non plus)
    
    A propos de la magie "classique" (sorciers) et divine (prêtre) :
    
    Je vous en parle plus haut pour la culture générale, car je vous déconseille (pour le début) d'y toucher ! Son usage est très règlementer et dangereux (car les humains ne la maîtrisent pas). Lancez un sort, aussi inoffensif soit-il, en public et vous finirez très probablement avec les répurgateurs (aussi appelés chasseurs de sorcières) à vos trousses, et donc à périr dans les flammes d'un bûcher pour adoration du Chaos, si toutefois la foule ne vous à pas lyncher à mort avant. La magie divine est vue d'un bien meilleur oeil mais demande (elle aussi) un long et fastidieux apprentissage et quelques concessions.
    
    Quant aux objets "magiques", ils ne courent pas les étalages comme dans de nombreux jdr, ils sont même extrêmement rares et ont tous un nom et une histoire (la plupart du temps séculaire).
    
    Ajouter un topo sur les dieux les plus courants, les grandes cités de l'empire et leur histoire, sans rentrer trop dans le détail.
</p>