@page "/univers/pantheon/"

@inject DieuxService _dieuxSvc
@inject AppState _appState
@code {
    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Le Panthéon Divin");
    }
}
<h2>Dieux de l'Empire</h2>

<div class="row">
    <div class="col-4">
        <CardBody Titre="Sigmar" Image="images/dieux/10.png">
            <p class="text-justify">
                Sigmar est le patron de l'Empire et son culte domine le royaume. Parce que Sigmar était autrefois l'empereur, son culte est
                inextricablement lié à la politique, et trois des membres les plus haut placés de ce culte sont directement impliqués dans les
                élections des nouveaux empereurs. Selon la légende, il y a 2 500 ans, la naissance de Sigmar a été annoncée par une comète à
                double queue, et il est né le premier fils du chef de la tribu Unberogen. Plus tard, il reçut le marteau de guerre magique
                Ghal-maraz ('Séparateur de tête' en cadeau du roi nain Kurgan Barbe de fer pour avoir sauvé sa vie des peaux vertes. Sigmar
                s'allia plus tard avec les Nains et leurs forces combinées pour vaincre les Peaux-Vertes. Il a ensuite été couronné comme le
                premier empereur des tribus humaines qu'il avait réunies. Après cinquante ans de règne extraordinaire, Sigmar a mystérieusement
                disparu, pour ensuite s'élever à la divinité, couronnée comme un dieu par Ulric, le saint patron de Sigmar dans la vie.
            </p>
        </CardBody>
    </div>
    <div class="col-4">
        <CardBody Titre="Ulric" Image="images/dieux/18.png">
            <p class="text-justify">
                Ulric est le Dieu féroce des loups, de l'hiver et de la guerre. Il est le frère de Taal et, selon les Connaissances d'Ulrican, le roi des
                dieux, bien que d'autres cultes le contestent. Il est normalement dépeint comme un barbare massif, lourdement barbu, portant un
                manteau de peau de loup blanc et portant une puissante hache de guerre nommée Blitzbeil. C'est un dieu distant, dur et
                impitoyable qui attend de ses adeptes qu'ils comptent sur la force et les prouesses de chacun. Il méprise la faiblesse, la lâcheté
                et la ruse, et favorise l'approche directe en toutes choses.
            </p>
        </CardBody>
    </div>
    <div class="col-4">
        <CardBody Titre="Verena" Image="images/dieux/19.png">
            <p class="text-justify">
                Sage Verena, la déesse de l'apprentissage et de la justice, est l'épouse de Morr et la mère de Myrmidia et Shallya. Elle est généralement
                dépeinte comme une grande femme d'une beauté classique et porte généralement une épée et une balance. En tant que protectrice de la justice,
                elle s'intéresse à l'équité plutôt qu'à la théorie de la loi : elle s'oppose autant à la tyrannie et à l'oppression qu'au crime.
            </p>
        </CardBody>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <CardBody Titre="Morr" Image="images/dieux/12.png">
            <p class="text-justify">
                Urbane Morr, Dieu de la Mort et Roi des Enfers, est l'époux de Verena, le frère du meurtrier Khaine et le père de Myrmidia et
                Shallya. Il envoie des corbeaux divins pour guider les âmes mortes vers le Portail, la porte à colonnes entre les royaumes mortels et le
                royaume des dieux. Il conduit ensuite chaque âme de là à son lieu de repos final : soit les Enfers de Morr, soit l'au-delà d'un autre dieu.
                On le dépeint souvent comme un homme grand, aux cheveux foncés, d'allure aristocratique, à l'air ténébreux et intense.
            </p>
        </CardBody>
    </div>
    <div class="col-4">
        <CardBody Titre="Manann" Image="images/dieux/11.png">
            <p class="text-justify">
                Volatile Manann, fils de Taal et Rhya, est le roi capricieux de la mer, maître des maelströms, et invocateur des tempêtes. Connu pour ses
                humeurs noires et son tempérament erratique, les gens prétendent que son culte est plus nécessaire que tout autre, car s'il y a un dieu qui doit
                être apaisé. Il est représenté comme un énorme homme à barbe noire avec des algues dans les cheveux et une grande couronne de fer noir à
                cinq pointes sur son front troublé. On dit qu'il habite au fond de l'océan, la montée et la descente de sa poitrine massive formant les
                vagues et les marées alors que les grands monstres des profondeurs se rassemblent dans sa cour.
            </p>
        </CardBody>
    </div>
    <div class="col-4">
        <CardBody Titre="Taal et Rhya" Image="images/dieux/17.png">
            <p class="text-justify">
                Taal est le Dieu des animaux et des lieux sauvages et le roi de la nature. Il est le mari de Rhya et le père de Manaan, et est perçu
                par les Taalites comme le roi des dieux, bien que d'autres cultes le contestent. Toute la nature est de son ressort, des rivières serpentines
                aux plus hautes montagnes, du plus petit insecte à la plus grande bête. Il est normalement représenté comme un homme viril, puissant et bien bâti,
                aux cheveux longs et sauvages et aux bois qui ondulent, et il est connu pour son humeur capricieuse et son envie de chasser.
            </p>
            <p class="text-justify">
                La généreuse Rhya est la déesse de la fertilité et de l'été, largement connue comme la Mère de la Terre et celle qui
                soutient la vie. Bien que typiquement dépeint comme la femme de Taal, les mythes la relient à beaucoup de dieux, et
                elle a des enfants de plusieurs de ces relations. Les statues de Rhya, le plus souvent dépeintes comme de grandes et belles
                femmes couvertes de feuilles et de fruits, sont normalement nues, enceintes et entourées de ses enfants. Beaucoup de
                théologiens lient Rhya à l'Ancienne Foi, un culte préhistorique composé d'anciens fermiers et chasseurs qui
                vivaient de la terre avant la naissance de l'Empire, et que l'on trouve encore aujourd'hui dans des communautés isolées.
            </p>
        </CardBody>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <CardBody Titre="Myrmidia" Image="images/dieux/13.png">
            <p class="text-justify">
                Dans l'Empire, Myrmidia, fille de Verena et Morr, sœur de Shallya, est la déesse de la stratégie et de la guerre scientifique.
                Cependant, dans le sud ensoleillé, Myrmidia est bien plus que cela : elle agit en tant que divinité patronne des royaumes
                estaliens et des états de la ville de Tilean, et est adorée avec fanatisme dans les deux royaumes. De ce fait, son culte est le
                plus important de l'Ancien Monde, malgré sa présence limitée dans l'Empire. Elle est souvent présentée comme une jeune
                femme grande, musclée, armée et équipée d'un style archaïque et méridional. Elle est connue pour son approche calme et
                honorable de toutes les questions, et ses ecclésiastiques font ce qu'ils peuvent pour imiter cela.
            </p>
            <a href="univers/pantheon/myrmidia/">Culte de Myrmidia</a>
        </CardBody>
    </div>
    <div class="col-4">
        <CardBody Titre="Shallya" Image="images/dieux/16.png">
            <p class="text-justify">
                Shallya est la déesse de la guérison, de la miséricorde et de la compassion. Elle est la fille de Verena et Morr, et
                la soeur de Myrmidia. Shallya est normalement dépeinte comme une jeune et belle jeune fille dont les yeux sont
                perpétuellement pleins de larmes tandis qu'elle pleure pour la douleur du monde. On dit que la compassion de Shallya
                ne connaît pas de limites, et dans certains mythes - comme les histoires de Ranald qui la pousse à lui accorder l'immortalité,
                ou de Manaan qui la piège au fond de la mer - elle semble faire confiance au point de devenir folle. Cependant, ses
                adeptes soutiennent que sa miséricorde est accessible à tous, sans jugement. La vraie folie consiste à prétendre juger qui est
                digne de la grâce de Shallya et qui ne l'est pas.
            </p>
        </CardBody>
    </div>
    <div class="col-4">
        <CardBody Titre="Ranald" Image="images/dieux/14.png">
            <p class="text-justify">
                Selon le mythe, Ranald était autrefois un mortel, un gentil bandit qui volait les riches et donnait aux pauvres. Cela a
                tellement charmé Shallya que la déesse est tombée amoureuse. Un jour fatidique, elle trouva Ranald mourant, mortellement
                touché par les fléaux du Seigneur Fly. Incapable de l'accepter, elle laissa Ranald boire dans son calice sacré, lui
                accordant la vie éternelle de voyou. Mais tout cela n'était qu'une ruse - Ranald avait tout truqué - et, en riant, le nouveau dieu
                dansa joyeusement vers le ciel. Bien que généralement dépeint comme un humain élégant portant un sourire perpétuel, il y a
                peu de cohérence dans la taille, le poids, la couleur de peau, ou même le sexe de Ranald, bien que le dieu soit plus souvent
                dépeint comme un homme dans l'Empire. Plus un joyeux escroc qu'un criminel pur et simple, Ranald est réputé pour
                son goût de se dégonfler avec des ruses et des tours de passe-passe malins.
            </p>
        </CardBody>
    </div>
</div>

<PageSectionDivider />

<h2>Dieux mineurs de l'Empire</h2>
