@page "/univers/pantheon/"

@using BlazorWjdr.Services

@inject DieuxService _dieuxSvc

<MainTopRow>
    <h3 class="card-title">Le Panthéon Divin</h3>
</MainTopRow>

<div class="content px-4">
    
    <h2 class="card-title">Dieux de l'Empire</h2>
    
    <div class="row">
        <div class="col-4">
            <CardBody Titre="Sigmar" Image="images/dieux/10.png">
                <p class="card-text">
                    
                </p>
            </CardBody>
        </div>
        <div class="col-4">
            <CardBody Titre="Ulric" Image="images/dieux/18.png">
                <p class="card-text">
                    
                </p>
            </CardBody>
        </div>
        <div class="col-4">
            <CardBody Titre="Verena" Image="images/dieux/19.png">
                <p class="card-text">
                    
                </p>
            </CardBody>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <CardBody Titre="Morr" Image="images/dieux/12.png">
                <p class="card-text">
                    
                </p>
            </CardBody>
        </div>
        <div class="col-4">
            <CardBody Titre="Manann" Image="images/dieux/11.png">
                <p class="card-text">
                    
                </p>
            </CardBody>
        </div>
        <div class="col-4">
            <CardBody Titre="Taal et Rhya" Image="images/dieux/17.png">
                <p class="card-text">
                    
                </p>
            </CardBody>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <CardBody Titre="Myrmidia" Image="images/dieux/13.png">
                <p class="card-text">
                    Dans l'Empire, Myrmidia, fille de Verena et Morr, sœur de Shallya, est la déesse de la stratégie et de la guerre scientifique. 
                    Cependant, dans le sud ensoleillé, Myrmidia est bien plus que cela : elle agit en tant que divinité patronne des royaumes 
                    estaliens et des états de la ville de Tilean, et est adorée avec fanatisme dans les deux royaumes. De ce fait, son culte est le 
                    plus important de l'Ancien Monde, malgré sa présence limitée dans l'Empire. Elle est souvent présentée comme une jeune 
                    femme grande, musclée, armée et équipée d'un style archaïque et méridional. Elle est connue pour son approche calme et 
                    honorable de toutes les questions, et ses ecclésiastiques font ce qu'ils peuvent pour imiter cela.
                </p>
                <a href="univers/pantheon/myrmidia/">Culte de Myrmidia</a>
            </CardBody>
        </div>
        <div class="col-4">
            <CardBody Titre="Shallya" Image="images/dieux/16.png">
                <p class="card-text">
                  Shallya est la déesse de la guérison, de la miséricorde et de la compassion. Elle est la fille de Verena et Morr, et 
                  la soeur de Myrmidia. Shallya est normalement dépeinte comme une jeune et belle jeune fille dont les yeux sont 
                  perpétuellement pleins de larmes tandis qu'elle pleure pour la douleur du monde. On dit que la compassion de Shallya 
                  ne connaît pas de limites, et dans certains mythes - comme les histoires de Ranald qui la pousse à lui accorder l'immortalité, 
                  ou de Manaan qui la piège au fond de la mer - elle semble faire confiance au point de devenir folle. Cependant, ses 
                  adeptes soutiennent que sa miséricorde est accessible à tous, sans jugement. La vraie folie consiste à prétendre juger qui est 
                  digne de la grâce de Shallya et qui ne l'est pas.
                </p>
            </CardBody>
        </div>
        <div class="col-4">
            <CardBody Titre="Ranald" Image="images/dieux/14.png">
                <p class="card-text">
                  Selon le mythe, Ranald était autrefois un mortel, un gentil bandit qui volait les riches et donnait aux pauvres. Cela a 
                  tellement charmé Shallya que la déesse est tombée amoureuse. Un jour fatidique, elle trouva Ranald mourant, mortellement 
                  touché par les fléaux du Seigneur Fly. Incapable de l'accepter, elle laissa Ranald boire dans son calice sacré, lui 
                  accordant la vie éternelle de voyou. Mais tout cela n'était qu'une ruse - Ranald avait tout truqué - et, en riant, le nouveau dieu 
                  dansa joyeusement vers le ciel. Bien que généralement dépeint comme un humain élégant portant un sourire perpétuel, il y a 
                  peu de cohérence dans la taille, le poids, la couleur de peau, ou même le sexe de Ranald, bien que le dieu soit plus souvent 
                  dépeint comme un homme dans l'Empire. Plus un joyeux escroc qu'un criminel pur et simple, Ranald est réputé pour 
                  son goût de se dégonfler avec des ruses et des tours de passe-passe malins.
                </p>
            </CardBody>
        </div>
    </div>

    <PageSectionDivider/>
    
    <h2 class="card-title">Dieux mineurs de l'Empire</h2>
    
</div>