@using BlazorWjdr.Models
<a href="lieux/@Item.Id.ToString()/" class="btn btn-light btn-item">
    <!--TooltipImage Path="@Item.Image" Alt="@Item.Nom"-->
        <span class="oi oi-compass item-icon mr-1" aria-hidden="true"></span>
    <!--/TooltipImage-->
    @Item.Nom
</a>
@code
{
    [Parameter]
    public LieuDto Item { get; set; } = null!;
}
