@using BlazorWjdr.Models

<ul class="list-inline">
    @if (Item.Parent != null)
    {
        @if (Item.Parent.Parent != null)
        {
            <li class="list-inline-item">
                <LieuItem Item="@Item.Parent.Parent"/>
            </li>
        }
        <li class="list-inline-item">
            <LieuItem Item="@Item.Parent"/>
        </li>
    }
    <li class="list-inline-item">
        <LieuItem Item="@Item"/>
    </li>
</ul>

@code {
    [Parameter]
    public LieuDto Item { get; set; } = null!;
}