@code {
    [Parameter, EditorRequired] public LieuDto Item { get; set; } = null!;
}
<div class="list-btn-item">
    @if (Item.Parent is {Ignorer: false })
    {
        @if (Item.Parent.Parent is {Ignorer: false })
        {
            <LieuItem Item=@Item.Parent.Parent />
        }
        <LieuItem Item=@Item.Parent />
    }
    <LieuItem Item=@Item />
</div>
