@using BlazorWjdr.Models
<ul class="@(EnColonne ? "" : "list-inline")" style="margin-bottom:0;">
    @foreach (var item in Items)
    {
        <li class="@(EnColonne ? "" : "list-inline-item")"><LieuItem Item="@item"/></li>
    }
</ul>
@code{
    [Parameter] public LieuDto[] Items { get; set; } = null!;
    [Parameter] public bool EnColonne { get; set; }
}