@code {
    [Parameter, EditorRequired] public LieuTypeDto[] Items { get; set; } = null!;
    [Parameter] public bool EnColonne { get; set; }
}
<ul class="mb-0 @(EnColonne ? "" : "list-inline")">
    @foreach (var item in Items)
    {
        <li class="@(EnColonne ? "" : "list-inline-item")"><LieuTypeItem Item=@item /></li>
    }
</ul>
