@code {
    [Parameter, EditorRequired] public LieuTypeDto Item { get; set; } = null!;
}
<div class="list-btn-item">
    @if (Item.Parent is not null)
    {
        @if (Item.Parent.Parent is not null)
        {
            <LieuTypeItem Item=@Item.Parent.Parent />
        }
        <LieuTypeItem Item=@Item.Parent />
    }
    <LieuTypeItem Item=@Item />
</div>
