<h4>Création de Personnage</h4>
<div class="mb-2">
    <ItemIcon Icon="document" Classes="ms-3 me-1" />
    <em class="me-2">Feuille de personnage</em>
    <a class="insister" target="_blank" href="download/feuille-de-perso_wjdr.docx">DOCX</a>
    <a class="insister" target="_blank" href="download/feuille-de-perso_wjdr.pdf">PDF</a>
</div>
<div class="bulle shadow-sm w-15rem">
    <IndexCreationPersoRaces />
</div>