@code {
    bool AfficherLiensHumains;
    bool AfficherLiensElfes = true;
}
<div class="hstack gap-3">
    <span class="me-auto hover-pointer" @onclick="_ => AfficherLiensHumains = !AfficherLiensHumains">
        <ItemIcon Classes="pl-1 pe-2 pb-2" Icon=@(AfficherLiensHumains ? "chevron-top" : "chevron-bottom") />
    </span>
    <BtnRace Race="Humains" Href="regles/creation-de-personnage/1/" />
    <BtnList Href="table-carrieres-initiales/1/" />
    <BtnInfo Href="univers/races/humains/" />
</div>
@if (AfficherLiensHumains)
{
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <BtnRace Race="Impériaux" />
        <BtnList Href="table-carrieres-initiales/1/" />
        <BtnInfo />
    </div>
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <BtnRace Race="Bretonniens" />
        <BtnList Href="table-carrieres-initiales/4/" />
        <BtnInfo />
    </div>
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <BtnRace Race="Gospodars" />
        <BtnList Href="table-carrieres-initiales/22/" />
        <BtnInfo />
    </div>
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <BtnRace Race="Ungols" />
        <BtnList Href="table-carrieres-initiales/23/" />
        <BtnInfo />
    </div>
}
<div class="hstack gap-3">
    <span class="me-auto">
        <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
    </span>
    <BtnRace Race="Halflings" Href="regles/creation-de-personnage/26/" />
    <BtnList Href="table-carrieres-initiales/26/" />
    <BtnInfo Href="univers/races/halflings/" />
</div>
<div class="hstack gap-3">
    <span class="me-auto">
        <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
    </span>
    <BtnRace Race="Nains" Href="regles/creation-de-personnage/27/" />
    <BtnList Href="table-carrieres-initiales/27/" />
    <BtnInfo Href="univers/races/nains/" />
</div>
<div class="hstack gap-3">
    <span class="me-auto">
        <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
    </span>
    <BtnRace Race="Gnômes" Href="regles/creation-de-personnage/63/" />
    <BtnList Href="table-carrieres-initiales/63/" />
    <BtnInfo Href="univers/races/gnomes/" />
</div>
<div class="hstack gap-3">
    <span class="me-auto hover-pointer" @onclick="_ => AfficherLiensElfes = !AfficherLiensElfes">
        <ItemIcon Classes="pl-1 pe-2 pb-2" Icon=@(AfficherLiensElfes ? "chevron-top" : "chevron-bottom") />
    </span>
    <BtnRace Race="Elfes"/>
    <BtnList/>
    <BtnInfo/>
</div>
@if (AfficherLiensElfes)
{
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <BtnRace Race="Elfes sylvains" Href="regles/creation-de-personnage/65/" />
        <BtnList Href="table-carrieres-initiales/65/" />
        <BtnInfo Href="univers/races/elfes-sylvains/" />
    </div>
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <BtnRace Race="Hauts-elfes" Href="regles/creation-de-personnage/66/" />
        <BtnList Href="table-carrieres-initiales/66/" />
        <BtnInfo Href="univers/races/hauts-elfes/" />
    </div>
}