<span class="row-profil row-profil-header">
    <ProfilHeaderCol Carac="CC"/>
    <ProfilHeaderCol Carac="CT"/>
    <ProfilHeaderCol Carac="F"/>
    <ProfilHeaderCol Carac="E"/>
    <ProfilHeaderCol Carac="I"/>
    <ProfilHeaderCol Carac="Ag"/>
    <ProfilHeaderCol Carac="Dex"/>
    <ProfilHeaderCol Carac="Int"/>
    <ProfilHeaderCol Carac="FM"/>
    <ProfilHeaderCol Carac="Soc"/>
</span>