@code {
    [Parameter, EditorRequired] public IEnumerable<SortilegeDto> Items { get; set; } = null!;
}
<div class="list-btn-item">
    @foreach (var item in Items)
    {
        <SortilegeItem Item=@item />
    }
</div>
