@inject AppState AppState
<PageTitle>
    @AppState.PageHeadTitle
</PageTitle>
<div class="navbar fixed-top">
    <div class="container">
        <span>
            <HomeIcon />
            <SectionOutlet SectionName="top-row-title" />
        </span>
        <TopRowSearchBar />
        <span>
            <LogoWarhammer />
            <span class="ms-2"></span>
            <LockIcon />
        </span>
    </div>
</div>
<div style="height:56px;"></div>
