@using CharHammer.Components.Aptitude
@using CharHammer.Components.Bestiole
@using CharHammer.Components.Carriere
@using CharHammer.Components.Lieu
@code {
    [Parameter, EditorRequired] public IEnumerable<ISearchable> Items { get; set; } = null!;
    ISearchable? item;
    protected override void OnParametersSet()
    {
        item = Items.FirstOrDefault();
    }
}
@if (!Items.Any()) return;
<div>
    @switch (item)
    {
        case CarriereDto:
            <h5>Carrières</h5>
            <CarriereItemList Items=@(Items as IEnumerable<CarriereDto>) />
            break;
        case AptitudeDto dto:
            <h5>@(dto.EstUneCompetence ? "Compétences" : dto.EstUnTalent ? "Talents" : "Traits")</h5>
            <AptitudeItemList Items=@(Items as IEnumerable<AptitudeDto>) PasDeTooltip=true />
            break;
        case BestioleDto:
            <h5>Créatures</h5>
            <BestioleItemList Items=@(Items as IEnumerable<BestioleDto>) />
            break;
        case LieuDto:
            <h5>Lieux</h5>
            <LieuItemList Items=@(Items as IEnumerable<LieuDto>) />
            break;
    }
</div>