@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Lieu
@using BlazorWjdr.Components.Race

@code {
    [Parameter, EditorRequired] public ContactDeCampagneDto Item { get; set; } = null!;
    [Parameter] public bool AfficherProfil { get; set; }
    [Parameter] public bool AfficherAptitudes { get; set; }
    [Parameter] public bool AfficherMatosEtSorts { get; set; }
}
<div class="card">
    <div class="card-body">
        <img class="float-end" alt="@Item.Pnj.Nom (apparence)" style="max-width:550px; max-height:550px;" src="images/beasts/@(Item.Pnj.Id).png"/>
        <h4>@Item.Pnj.Nom</h4>
        <p>
            <CarriereItem Item=@Item.Pnj.CarriereActuelle />
            <span class="ms-1" />
            <RaceItem Item=@Item.Pnj.Race />
            <span class="ms-1" />
            <LieuItem Item=@Item.LieuDeResidence />
        </p>
        @if (AfficherProfil)
        {
            <p>
                <BestioleProfil Item=@Item.Pnj NAfficherQueLeProfilActuel=true />
            </p>
        }
        @if (AfficherAptitudes)
        {
            <h5>Aptitudes</h5>
            <AptitudesAcquises Item=@Item.Pnj MasquerTitres=true />
        }
        @if (AfficherMatosEtSorts)
        {
            <BestioleFicheMatosSorts Item=@Item.Pnj />
        }
        <p class="text-justify">
            @Item.Description
        </p>
        <ul>
            <li>Lieu de rencontre : <LieuItem Item=@Item.LieuDeRencontre /></li>
            @foreach (var note in Item.Notes)
            {
                <li>@note</li>
            }
        </ul>
    </div>
</div>