<div class="btn-group" role="group" aria-label="Création de personnage">
    <a class="btn btn-sm btn-outline-primary" href="regles/creation-de-personnage/1/">Humain</a>
    <a class="btn btn-sm btn-outline-primary" href="regles/creation-de-personnage/26/">Halfling</a>
    <a class="btn btn-sm btn-outline-primary" href="regles/creation-de-personnage/27/">Nain</a>
</div>
<div class="btn-group" role="group" aria-label="Création de personnage">
    <a class="btn btn-sm btn-outline-primary" href="regles/creation-de-personnage/63/">Gnôme</a>
    <a class="btn btn-sm btn-outline-primary" href="regles/creation-de-personnage/65/">Elfe sylvain</a>
    <a class="btn btn-sm btn-outline-primary" href="regles/creation-de-personnage/66/">Haut elfe</a>
</div>