<h4>Carrières & Aptitudes</h4>
<p class="mb-2">
    <IndexLink Href="regles/cheminement-professionnel/" Title="Changer de carrière" Icon="book" Primary=true />
    <IndexLink Href="regles/acquisition-aptitudes/" Title="Acquérir des aptitudes" Icon="book" Primary=true />
</p>
<p class="mb-2">
    <IndexLink Href="carrieres-liste/toutes/toutes/" Title="Carrières" Icon="badge" Primary=true />
    <IndexLink Href="competences/" Title="Compétences" Icon="target" />
    <IndexLink Href="talents/" Title="Talents" Icon="brush" />
    <IndexLink Href="traits/" Title="Traits" Icon="droplet" />
    <IndexLink Href="tables-traits-et-troubles/traits/" Title="Signes distinctifs" Icon="droplet" />
</p>
<p>
    <IndexLink Href="regles/caracteristiques/" Title="Caractéristiques" />
    <IndexLink Href="regles/destin-resilience/" Title="Motivation, Destin & Résilience" />
</p>