<h4 class="card-title">Carrières & Aptitudes</h4>
<p>
    <a href="regles/cheminement-professionnel/" class="mb-1 btn btn-sm btn-primary">
        <OiIcon Icon="book mr-1"/>Changer de carrière
    </a>
    <a href="regles/acquisition-aptitudes/" class="mb-1 btn btn-sm btn-primary">
        <OiIcon Icon="book mr-1"/>Acquérir des aptitudes
    </a>
</p>
<p>
    <a href="carrieres-liste/toutes/toutes/" class="mb-1 btn btn-sm btn-primary">Carrières</a>
    <!--a href="carrieres-liste/toutes/de-base/" class="mb-1 btn btn-sm btn-secondary"><em>De base</em></a-->
    <!--a href="carrieres-liste/toutes/avancees/" class="mb-1 btn btn-sm btn-secondary"><em>Avancées</em></a-->
    <a href="competences/" class="mb-1 btn btn-sm btn-secondary">Compétences</a>
    <a href="talents/" class="mb-1 btn btn-sm btn-secondary">Talents</a>
    <a href="traits/" class="mb-1 btn btn-sm btn-secondary">Traits</a>
    <a href="tables-traits-et-troubles/traits/" class="mb-1 btn btn-sm btn-secondary">Signes distinctifs</a>
    <br/>
    <a href="regles/caracteristiques/" class="mb-1 btn btn-sm btn-secondary">Caractéristiques</a>
    <a href="regles/destin-resilience/" class="mb-1 btn btn-sm btn-secondary">Motivation, Destin & Résilience</a>
</p>