@code{
    [Parameter] public bool AfficherLiens { get; set; }
}
<h4 class="hover-pointer" @onclick="_ => AfficherLiens = !AfficherLiens">
    Equipement
    <ItemIcon Icon=@(AfficherLiens ? "chevron-top" : "chevron-bottom") Classes="theme-orange-color ms-2" />
</h4>
@if (AfficherLiens)
{
    <p>
        <IndexLink Href="equipement/armes-liste/toutes/toutes/" Title="Armes" Icon="location" Primary=true />
        <IndexLink Href="equipement/armes-liste/melee/toutes/" Title="Mélée" />
        <IndexLink Href="equipement/armes-liste/armes-de-parade/toutes/" Title="Boucliers" Italic=true />
        <IndexLink Href="equipement/armes-liste/tir/toutes/" Title="Tir" Italic=true />
        <IndexLink Href="equipement/armes-liste/toutes/munitions/" Title="Munitions" Italic=true />
    </p>
    <p>
        <IndexLink Href="equipement/armures/toutes/" Title="Armures" Icon="shield" Primary=true />
        <IndexLink Href="equipement/armures/legeres/" Title="Légères" Italic=true />
        <IndexLink Href="equipement/armures/moyennes" Title="Moyennes" Italic=true />
        <IndexLink Href="equipement/armures/lourdes/" Title="Lourde" Italic=true />
    </p>
    <p>
        <IndexLink Href="guide-du-consommateur/tout/" Title="Guide du Consommateur" Icon="box" Primary=true />
        <IndexLink Href="equipement-de-depart/" Title="Equipement de Départ" />
    </p>
}
else
{
    <p>
        <IndexLink Href="equipement/armes-liste/toutes/toutes/" Title="Armes" Icon="location" Primary=true />
        <IndexLink Href="equipement/armures/toutes/" Title="Armures" Icon="shield" Primary=true />
        <IndexLink Href="guide-du-consommateur/tout/" Title="Guide du Consommateur" Icon="box" Primary=true />
    </p>
}