@code{
    [Parameter] public bool AfficherLiens { get; set; }
    private string _icon = null!;

    protected override void OnParametersSet()
    {
        _icon = AfficherLiens ? "chevron-top" : "chevron-bottom";
        base.OnParametersSet();
    }
}
<h5 @onclick="_ => AfficherLiens = !AfficherLiens">
    <ItemIcon Icon="@_icon" Classes="ms-2"/>
    Dieux mineurs dans l'Empire
</h5>
@if (AfficherLiens)
{
    <p>
        <a href="univers/pantheon/arianka/" class="mb-1 btn btn-sm btn-secondary">Arianka</a>
        <a href="univers/pantheon/haendrik/" class="mb-1 btn btn-sm btn-secondary">Haendrik</a>
        <a href="univers/pantheon/illuminas/" class="mb-1 btn btn-sm btn-secondary">Illuminas</a>
        <a href="univers/pantheon/khaine/" class="mb-1 btn btn-sm btn-secondary">Khaine</a>
        <a href="univers/pantheon/solkan/" class="mb-1 btn btn-sm btn-secondary">Solkan</a>
        <a href="univers/pantheon/stromfels/" class="mb-1 btn btn-sm btn-secondary">Stromfels</a>
    </p>
}