<h4>Carrières & Aptitudes</h4>
<p class="mb-2">
    <IndexLink Primary=true Icon="book" Href="regles/cheminement-professionnel/" Title="Changer de carrière" />
    <IndexLink Primary=true Icon="book" Href="regles/acquisition-aptitudes/" Title="Acquérir des aptitudes" />
</p>
<p class="mb-2">
    <IndexLink Href="carrieres-liste/toutes/toutes/" Title="Carrières" Primary=true />
    <IndexLink Href="competences/" Title="Compétences"/>
    <IndexLink Href="talents/" Title="Talents"/>
    <IndexLink Href="traits/" Title="Traits"/>
    <IndexLink Href="tables-traits-et-troubles/traits/" Title="Signes distinctifs"/>
</p>
<p>
    <IndexLink Href="regles/caracteristiques/" Title="Caractéristiques"/>
    <IndexLink Href="regles/destin-resilience/" Title="Motivation, Destin & Résilience"/>
</p>