@code{
    [Parameter] public bool AfficherLiens { get; set; }
}
<h5 @onclick="_ => AfficherLiens = !AfficherLiens">
    <ItemIcon Icon=@(AfficherLiens ? "chevron-top" : "chevron-bottom") Classes="ms-2"/>
    Présentation des Races Jouables
</h5>
@if (AfficherLiens)
{
    <p>
        <a href="univers/race/humains/" class="btn btn-sm btn-secondary">Humain</a>
        <a href="univers/race/halflings/" class="btn btn-sm btn-secondary">Halfling</a>
        <a href="univers/race/nains/" class="btn btn-sm btn-secondary">Nain</a>
        <a href="univers/race/gnomes/" class="btn btn-sm btn-secondary">Gnôme</a>
        <a href="univers/race/elfes-sylvains/" class="btn btn-sm btn-secondary">Elfe sylvain</a>
        <a href="univers/race/hauts-elfes/" class="btn btn-sm btn-secondary">Haut elfe</a>
    </p>
}