@code{
    bool AfficherLiens { get; set; }
}
<h5 class="hover-pointer" @onclick="_ => AfficherLiens = !AfficherLiens">
    <ItemIcon Icon="@(AfficherLiens ? "chevron-top" : "chevron-bottom")" Classes="ms-2 theme-orange-color" />
    Dieux mineurs dans l'Empire
</h5>
@if (AfficherLiens)
{
    <p>
        <IndexLink Href="univers/pantheon/arianka/" Title="Arianka" />
        <IndexLink Href="univers/pantheon/haendrik/" Title="Haendrik" />
        <IndexLink Href="univers/pantheon/illuminas/" Title="Illuminas" />
        <IndexLink Href="univers/pantheon/khaine/" Title="Khaine" />
        <IndexLink Href="univers/pantheon/solkan/" Title="Solkan" />
        <IndexLink Href="univers/pantheon/stromfels/" Title="Stromfels" />
    </p>
}