<h4 class="card-title">Carrières & Aptitudes</h4>
<p class="mb-2">
    <a href="regles/cheminement-professionnel/" class="mb-1 btn btn-sm btn-primary">
        <OiIcon Icon="book mr-1"/>Changer de carrière
    </a>
    <a href="regles/acquisition-aptitudes/" class="mb-1 btn btn-sm btn-primary">
        <OiIcon Icon="book mr-1"/>Acquérir des aptitudes
    </a>
</p>
<p class="mb-2">
    <IndexLink Href="carrieres-liste/toutes/toutes/" Title="Carrières" Primary="@true"/>
    <IndexLink Href="competences/" Title="Compétences"/>
    <IndexLink Href="talents/" Title="Talents"/>
    <IndexLink Href="traits/" Title="Traits"/>
    <IndexLink Href="tables-traits-et-troubles/traits/" Title="Signes distinctifs"/>
</p>
<p>
    <IndexLink Href="regles/caracteristiques/" Title="Caractéristiques"/>
    <IndexLink Href="regles/destin-resilience/" Title="Motivation, Destin & Résilience"/>
</p>