@code {
    [Parameter, EditorRequired] public string Href { get; set; } = null!;
    [Parameter, EditorRequired] public string Title { get; set; } = null!;
    [Parameter] public bool Primary { get; set; }
}
<a class="btn btn-sm btn-@(Primary ? "primary" : "secondary") lii mb-1" href="@Href">@Title</a>