@inject AppState AppState
@implements IDisposable
@code {
    protected override void OnInitialized() => AppState.OnChange += StateHasChanged;
    public void Dispose() => AppState.OnChange -= StateHasChanged;
}
<h4>Campagne</h4>
<p>
    <IndexLink Href="campagne/13/seances/" Title="Carnets de Route"/>
    <IndexLink Href="aventuriers/13/" Title="Dernière séance"/>
    @if (AppState.JeSuisDieu)
    {
        <IndexLink Href="maitre-du-jeu/13/seance-actuelle/" Title="Prochaine séance"/>
    }
</p>
@if (AppState.JeSuisDieu)
{
    <p>
        <IndexLink Href="personnages/" Title="Personnages"/>
        <IndexLink Href="scenarios/" Title="Scénarios"/>
        <IndexLink Href="regles/" Title="Règles"/>
    </p>
}