@code {
    bool AfficherLiensHumains;
    bool AfficherLiensElfes = true;
}
<div class="hstack gap-3">
    <span class="me-auto hover-pointer" @onclick="_ => AfficherLiensHumains = !AfficherLiensHumains">
        <ItemIcon Classes="pl-1 pe-2 pb-2" Icon=@(AfficherLiensHumains ? "chevron-top" : "chevron-bottom") />
    </span>
    <a class="btn btn-sm btn-primary rounded-5" style="width:7rem;" href="regles/creation-de-personnage/1/">Humain</a>
    <a class="btn btn-sm btn-outline-primary" href="table-carrieres-initiales/1/"><OiIcon Icon="list" /></a>
    <a class="btn btn-sm btn-outline-primary" href="univers/races/humains/"><OiIcon Icon="info" /></a>
</div>
@if (AfficherLiensHumains)
{
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <span class="btn btn-sm btn-outline-primary rounded-5" style="width:7rem;">Impériaux</span>
        <a class="btn btn-sm btn-outline-primary" href="table-carrieres-initiales/1/"><OiIcon Icon="list" /></a>
        <a class="btn btn-sm invisible" href=""><OiIcon Icon="info" /></a>
    </div>
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <span class="btn btn-sm btn-outline-primary rounded-5" style="width:7rem;">Bretonniens</span>
        <a class="btn btn-sm btn-outline-primary" href="table-carrieres-initiales/4/"><OiIcon Icon="list" /></a>
        <a class="btn btn-sm invisible" href=""><OiIcon Icon="info" /></a>
    </div>
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <span class="btn btn-sm btn-outline-primary rounded-5" style="width:7rem;">Gospodars</span>
        <a class="btn btn-sm btn-outline-primary" href="table-carrieres-initiales/22/"><OiIcon Icon="list" /></a>
        <a class="btn btn-sm invisible" href=""><OiIcon Icon="info" /></a>
    </div>
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <span class="btn btn-sm btn-outline-primary rounded-5" style="width:7rem;">Ungols</span>
        <a class="btn btn-sm btn-outline-primary" href="table-carrieres-initiales/23/"><OiIcon Icon="list" /></a>
        <a class="btn btn-sm invisible" href=""><OiIcon Icon="info" /></a>
    </div>
}
<div class="hstack gap-3">
    <span class="me-auto">
        <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
    </span>
    <a class="btn btn-sm btn-primary rounded-5" style="width:7rem;" href="regles/creation-de-personnage/26/">Halflings</a>
    <a class="btn btn-sm btn-outline-primary" href="table-carrieres-initiales/26/"><OiIcon Icon="list" /></a>
    <a class="btn btn-sm btn-outline-primary" href="univers/races/halflings/"><OiIcon Icon="info" /></a>
</div>
<div class="hstack gap-3">
    <span class="me-auto">
        <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
    </span>
    <a class="btn btn-sm btn-primary rounded-5" style="width:7rem;" href="regles/creation-de-personnage/27/">Nains</a>
    <a class="btn btn-sm btn-outline-primary" href="table-carrieres-initiales/27/"><OiIcon Icon="list" /></a>
    <a class="btn btn-sm btn-outline-primary" href="univers/races/nains/"><OiIcon Icon="info" /></a>
</div>
<div class="hstack gap-3">
    <span class="me-auto">
        <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
    </span>
    <a class="btn btn-sm btn-primary rounded-5" style="width:7rem;" href="regles/creation-de-personnage/63/">Gnômes</a>
    <a class="btn btn-sm btn-outline-primary" href="table-carrieres-initiales/63/"><OiIcon Icon="list" /></a>
    <a class="btn btn-sm btn-outline-primary" href="univers/races/gnomes/"><OiIcon Icon="info" /></a>
</div>
<div class="hstack gap-3">
    <span class="me-auto hover-pointer" @onclick="_ => AfficherLiensElfes = !AfficherLiensElfes">
        <ItemIcon Classes="pl-1 pe-2 pb-2" Icon=@(AfficherLiensElfes ? "chevron-top" : "chevron-bottom") />
    </span>
    <span class="btn btn-sm btn-outline-primary rounded-5" style="width:7rem;">Elfes</span>
    <a class="btn btn-sm invisible" href=""><OiIcon Icon="list" /></a>
    <a class="btn btn-sm invisible" href=""><OiIcon Icon="info" /></a>
</div>
@if (AfficherLiensElfes)
{
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <a class="btn btn-sm btn-primary rounded-5" style="width:7rem;" href="regles/creation-de-personnage/65/">Elfes sylvains</a>
        <a class="btn btn-sm btn-outline-primary" href="table-carrieres-initiales/65/"><OiIcon Icon="list" /></a>
        <a class="btn btn-sm btn-outline-primary" href="univers/races/elfes-sylvains/"><OiIcon Icon="info" /></a>
    </div>
    <div class="hstack gap-3">
        <span class="me-auto">
            <ItemIcon Classes="pl-1 pe-2 pb-2 invisible" Icon="chevron-top" />
        </span>
        <a class="btn btn-sm btn-primary rounded-5" style="width:7rem;" href="regles/creation-de-personnage/66/">Hauts-elfes</a>
        <a class="btn btn-sm btn-outline-primary" href="table-carrieres-initiales/66/"><OiIcon Icon="list" /></a>
        <a class="btn btn-sm btn-outline-primary" href="univers/races/hauts-elfes/"><OiIcon Icon="info" /></a>
    </div>
}