@code {
    [Parameter] public string Href { get; set; } = null!;
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public bool Primary { get; set; }
}
<a class="btn-sm btn-@(Primary ? "primary" : "secondary") mb-1" href="@Href">@Title</a>