<h4>Sorcellerie et Inspiration Divine</h4>
<p>
    <IndexLink Href="regles/inspiration-divine/" Title="Inspiration et Colère Divine" />
    <IndexLink Href="regles/sorcellerie/" Title="Sorcellerie" />
    <IndexLink Href="regles/tables-des-echos-du-chaos/" Title="Tables des Echos du Chaos" />
</p>
