<h4>La Vie d'Aventurier</h4>
<div class="list-inline mb-2">
    <IndexLink Href="regles/base/" Title="Les Tests, la base" />
    <IndexLink Href="regles/combat/" Title="Combats" />
    <IndexLink Href="regles/sauts-chutes-poursuites/" Title="Sauts, chutes, poursuites" />
</div>
<div class="list-inline">
    <IndexLink Href="regles/blessures/" Title="Blessures et Soins" />
    <IndexLink Href="regles/maladies/" Title="Maladies" />
    <IndexLink Href="regles/folie/" Title="Folie" />
    <IndexLink Href="regles/corruption/" Title="Corruption" />
</div>
<h5>Tables des Coups Critiques</h5>
<div class="list-inline">
    <IndexLink Href="table-coups-critiques/tete/" Title="Tête" />
    <IndexLink Href="table-coups-critiques/bras/" Title="Bras" />
    <IndexLink Href="table-coups-critiques/torse/" Title="Torse" />
    <IndexLink Href="table-coups-critiques/jambe/" Title="Jambe" />
    <IndexLink Href="table-coups-critiques/fumbles/" Title="Oops!" />
</div>
<h5>Tables des Traits et Troubles</h5>
<p>
    <IndexLink Href="tables-traits-et-troubles/troubles-mineurs/" Title="Troubles mineurs" />
    <IndexLink Href="tables-traits-et-troubles/folies/" Title="Folies" />
    <IndexLink Href="tables-traits-et-troubles/maladies/" Title="Maladies" />
</p>
