@code{
    bool AfficherLiens { get; set; }
}
<h5 class="hover-pointer" @onclick="_ => AfficherLiens = !AfficherLiens">
    <ItemIcon Icon=@(AfficherLiens ? "chevron-top" : "chevron-bottom") Classes="ms-2 theme-orange-color" />
    Dieux du Chaos
</h5>
@if (AfficherLiens)
{
    <p>
        <IndexLink Href="univers/pantheon/khorne/" Title="Khorne" />
        <IndexLink Href="univers/pantheon/nurgle/" Title="Nurgle" />
        <IndexLink Href="univers/pantheon/slaanesh/" Title="Slaanesh" />
        <IndexLink Href="univers/pantheon/tzeench/" Title="Tzeench" />
    </p>
}