@code{
    [Parameter] public bool AfficherLiens { get; set; }
    private string _icon = null!;

    protected override void OnParametersSet()
    {
        _icon = AfficherLiens ? "chevron-top" : "chevron-bottom";
        base.OnParametersSet();
    }
}
<h5 class="card-title" @onclick="_ => AfficherLiens = !AfficherLiens">
    <ItemIcon Icon="@_icon" Classes="ml-2"/>
    Table des Carrières Initiales
</h5>
@if (AfficherLiens)
{
    <p>
        <a href="table-carrieres-initiales/1/" class="btn btn-sm btn-secondary">Humain</a>
        <a href="table-carrieres-initiales/26/" class="btn btn-sm btn-secondary">Halfling</a>
        <a href="table-carrieres-initiales/27/" class="btn btn-sm btn-secondary">Nain</a>
        <a href="table-carrieres-initiales/63/" class="btn btn-sm btn-secondary">Gnôme</a>
        <a href="table-carrieres-initiales/65/" class="btn btn-sm btn-secondary">Elfe sylvain</a>
        <a href="table-carrieres-initiales/66/" class="btn btn-sm btn-secondary">Haut elfe</a>
        <br/>
        <a href="table-carrieres-initiales/1/" class="btn btn-sm btn-secondary">Impériaux</a>
        <a href="table-carrieres-initiales/4/" class="btn btn-sm btn-secondary">Bretonniens</a>
        <a href="table-carrieres-initiales/22/" class="btn btn-sm btn-secondary">Gospodars</a>
        <a href="table-carrieres-initiales/23/" class="btn btn-sm btn-secondary">Ungols</a>
        <!--a href="table-carrieres-initiales/3/" class="btn btn-sm btn-secondary">Wastelanders</a-->
    </p>
}