.row-profil{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-profil {
    display: inline-block;
    min-width: 44px;
    max-width: 44px;
    padding: 0;
    text-align: center;
    background-color: white;
}
.col-profil-header {
    border: none;
    background-color: var(--theme-color);
    height: 26px;
    color: White;
    line-height: 1.3;
}
.col-profil-bonus {
    border: 2px solid var(--theme-color);
    border-radius: .45rem;
    letter-spacing: -1px;
}
.col-profil-value {
    border: 2px solid var(--theme-color);
    border-radius: .45rem;
}