@using BlazorWjdr.Models
<a href="talents/@Item.Id.ToString()/" class="btn btn-light btn-item">
    <span class="oi oi-brush item-icon mr-1" aria-hidden="true"></span>
    @if (string.IsNullOrWhiteSpace(Item.Description)) {
        @Item.Nom
    } else {
        <Tooltip Text="@Item.Description">@Item.Nom</Tooltip>
    }
</a>
@code{
    [Parameter]
    public TalentDto Item { get; set; } = null!;
}