@using BlazorWjdr.Models
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Services
@using BlazorWjdr.Shared.Oi

@inject CarrieresService _carrieresService

<tr>
    <td>
        @if (_carrieresLiees.Any())
        {
            <span class="btn btn-primary btn-sm table-btn mr-1" @onclick="_ => AfficherCarrieres = !AfficherCarrieres">
                <span class="oi oi-fork" aria-hidden="true"></span>
            </span>
        }
    </td>
    <td>
        @if (Item.SousElements.Any())
        {
            <span class="btn btn-primary btn-sm table-btn mr-1" @onclick="_ => AfficherSousElements = !AfficherSousElements">
                <span class="oi oi-layers" aria-hidden="true"></span>
            </span>
        }
    </td>
    <td>
        @if (Item.Parent != null)
        {
            <SousElement/>
        }
        <TalentItem Item="Item"/>
    </td>
    <td><CheckedIfTrue Condition="Item.Trait"></CheckedIfTrue></td>
    <td><CompetenceItemList Items="@Item.CompetencesLiees.ToArray()"/></td>
</tr>
@if (AfficherCarrieres)
{
    <tr class="zone-detail">
        <td colspan="5" class="p-3">
            <CarriereItemList Items="_carrieresLiees"/>
        </td>
    </tr>
}
@if (AfficherSousElements && Item.SousElements.Any())
{
    @foreach (var sousElement in Item.SousElements)
    {
        <TalentRow Item="@sousElement" />
    }
}
@code {
    [Parameter]
    public TalentDto Item { get; set; } = null!;
    private bool AfficherSousElements { get; set; } = false;
    private bool AfficherCarrieres { get; set; } = false;

    private CarriereDto[] _carrieresLiees = null!;

    protected override async Task OnInitializedAsync()
    {
        _carrieresLiees = await _carrieresService.GetCarrieresProposant(Item);
    }
}