<a href="/talents/@Item.Id.ToString()/" class="btn btn-light">
    <span class="oi oi-brush mr-1" aria-hidden="true"></span>
    @if (string.IsNullOrWhiteSpace(Item.ResumeComplet)) {
        @Item.Nom
    } else {
        <Tooltip Text="@Item.ResumeComplet">@Item.Nom</Tooltip>
    }
</a>