@using BlazorWjdr.Models
@using BlazorWjdr.Components.Competence
<tr>
    <td>
        @if (Item.SousElements.Any())
        {
            <span class="btn btn-primary table-btn mr-1" @onclick="e => AfficherSousElements = !AfficherSousElements">
                <span class="oi oi-list" aria-hidden="true"></span>
            </span>
        }
    </td>   
    <td>
        @if (Item.Parent != null)
        {
            <span class="oi oi-ellipses mr-2" aria-hidden="true"></span>
        }
        @Item.Nom
    </td>
    <td>@Item.Trait</td>
    <td><CompetenceItemList Title="" Items="@Item.CompetencesLiees.ToArray()"/></td>
</tr>
@if (AfficherSousElements && Item.SousElements.Any())
{
    @foreach (var sousElement in Item.SousElements)
    {
        <TalentRow Item="@sousElement" />
    }
}
@code {
    [Parameter]
    public TalentDto Item { get; set; } = null!;
    private bool AfficherSousElements { get; set; } = false;
}