@using BlazorWjdr.Models

<ul class="list-inline">
    @foreach (var item in Items)
    {
        <li class="list-inline-item"><TalentItem Item="@item"/></li>
    }
    @foreach (var choix in ItemsChoix)
    {
        <li class="list-inline-item"><ChoixDeTalentItem Choix="@choix"/></li>
    }
</ul>

@code{
    [Parameter] public TalentDto[] Items { get; set; } = null!;
    [Parameter] public TalentDto[][] ItemsChoix { get; set; } = Array.Empty<TalentDto[]>();
}