@page "/bestiaire"

@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject BestiolesService _bestiolesService

<MainTopRow>
    <h3 class="card-title">Bestiaire</h3>
</MainTopRow>

<div class="content px-4">
    <table class="table">
        <thead></thead>
        <tbody>
        @foreach (var bestiole in _bestiolesService.AllBestioles.Where(b => b.EstUnPersonnage == false).OrderBy(b => b.Nom).ToList())
        {
            <BestioleRow Item="bestiole"/>
        }
        </tbody>
    </table>
</div>