@page "/races"

@using BlazorWjdr.Components.Race

@inject RacesService _racesService
@inject AppState _appState
@code {
    private List<RaceDto> _lines = null!;

    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Races");
        _lines = _racesService.AllRaces;
    }
}
<table class="table table-striped">
    <thead>
        <tr><th></th><th>Nom</th><th>PJ</th><th></th><th>Lieux</th></tr>
    </thead>
    <tbody>
        @foreach (var race in _lines.Where(l => l.ParentsCount == 0).OrderBy(r => r.NomMasculin))
        {
            <RaceRow Item=@race />
        }
    </tbody>
</table>
