@page "/personnages"

@using BlazorWjdr.Components.Bestiole

@inject BestiolesService _bestiolesService
@inject AppState _appState
@code {
    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Personnages");
    }
}
<div class="row">
    <div class="col-6">
        <div class="card-body">
            <h3>Archétypes de PNJs</h3>
            <BestioleTable Items=@_bestiolesService.AllArchetypes.ToArray() />
        </div>
        <div class="card-body">
            <h3>Personnages incarnés par le meneur de jeu</h3>
            <BestioleTable Items=@_bestiolesService.AllPnjs(_appState.JeSuisDieu).ToArray() />
        </div>
    </div>
    <div class="col-6">
        <div class="card-body">
            <h3>Personnages incarnés par des joueurs</h3>
            <BestioleTable Items=@_bestiolesService.AllPjs.ToArray() />
        </div>
        <div class="card-body">
            <h3>Personnages prétirés</h3>
            <BestioleTable Items=@_bestiolesService.AllPretires.ToArray() />
        </div>
    </div>
</div>