@page "/personnages"

@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Services

@inject BestiolesService _bestiolesService

<MainTopRow>
    <h3 class="card-title">Personnages</h3>
</MainTopRow>

<div class="content px-4">
    
    <div class="row">
        <div class="col-6">
            <h3 class="card-title">Archétypes et PNJs</h3>
            <BestioleTable Items="@_bestiolesService.AllPnjs.ToArray()"/>
        </div>
        <div class="col-6">
            <h3 class="card-title">Personnages incarnés par des joueurs</h3>
            <BestioleTable Items="@_bestiolesService.AllPjs.ToArray()"/>
        </div>
    </div>
</div>