@page "/bestiaire"

@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject BestiolesService _bestiolesService

@code{
    private IReadOnlyDictionary<string, IEnumerable<BestioleDto>> _groupes = null!;

    protected override void OnInitialized()
    {
        _groupes = _bestiolesService.BestiolesRegroupees();
        base.OnInitialized();
    }
}

<MainTopRow>
    <h3 class="card-title">Bestiaire</h3>
</MainTopRow>

<div class="content px-4">
    @foreach (var groupe in _groupes.Keys)
    {
        <div class="card-body">
            <h3 class="card-title">@groupe</h3>
            <BestioleTable Items="@_groupes[groupe].ToArray()"/>
        </div>
    }
</div>