@code {
    [Parameter] public string Groupe { get; set; } = "";
    [Parameter] public bool ArmeDeTir { get; set; }
}
<thead>
    <tr class="tgroupe">
        <td class="ps-4">@Groupe</td>
        <td>Maîtrise</td>
        <td>Dégâts</td>
        <td>@(ArmeDeTir ? "Portée" : "Allonge")</td>
        <td>Attributs</td>
        <td>Enc.</td>
        <td>Prix</td>
        <td>Disponibilité</td>
    </tr>
</thead>