@code {
    [Parameter, EditorRequired] public IEnumerable<ScenarioDto> Items { get; set; } = null!;
    [Parameter] public bool LigneCourte { get; set; }
}
<table class="table table-striped">
    <thead>
        <tr class="tgroupe">
            <th></th>
            <th>Nom</th>
            <th>Note</th>
            @if (LigneCourte == false)
            {
                <th>Durée</th>
            }
            <th>Difficulté</th>
            <th>Style</th>
            @if (LigneCourte == false)
            {
                <th>Lieux</th>
                <th>Source & Auteur</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var scenar in Items)
        {
            <ScenarioRow Item=@scenar LigneCourte=@LigneCourte />
        }
    </tbody>
</table>