@page "/carrieres/{CarriereId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Profil

@inject CarrieresService Service
@inject AppState AppState
@code {
    [Parameter, EditorRequired] public string CarriereId { get; set; } = null!;

    private CarriereDto Item { get; set; } = null!;

    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Carrière");
    }

    protected override void OnParametersSet()
    {
        Item = Service.GetCarriere(int.Parse(CarriereId));
    }
}
<div class="row">

    <div class="col pe-0">
        <div class="section pt-0 pe-0">
            <h1>@Item.Nom</h1>
            <CarriereDescription Item=@Item AfficherCitations=true />
        </div>
    </div>

    <div class="col">
        <div class="section">
            <h4>Plan de carrière</h4>
            <p>
                <Profil PlanDeCarriere=@Item.PlanDeCarriere />
            </p>

            <p>
                <CarriereNiveau Niveau=@Item.Niveau />
                @if (Item.CompetenceDeMetier != null)
                {
                    <ItemIcon Icon="infinity" Classes="mx-3" />
                    <AptitudeItem Item=@Item.CompetenceDeMetier />
                }
                @if (Item.Statut != "")
                {
                    <ItemIcon Icon="infinity" Classes="mx-3" />
                    <Tooltip Text=@Item.SalaireHebdo>
                        <span class="insister">@Item.StatutPretty()</span>
                    </Tooltip>
                }
            </p>

            <h4>Compétences</h4>
            <p>
                <AptitudeItemList Items=@Item.Competences ItemsChoix=@Item.ChoixCompetences />
            </p>

            <h4>Talents</h4>
            <p>
                <AptitudeItemList Items=@Item.Talents ItemsChoix=@Item.ChoixTalents />
            </p>

            @if (Item.ProposeAuMoinsUnTrait)
            {
                <h4>Traits</h4>
                <p>
                    <AptitudeItemList Items=@Item.Traits ItemsChoix=@Item.ChoixTraits />
                </p>
            }

            <h4>Dotations</h4>
            <p>
                <CarriereDotations Item=@Item />
            </p>
        </div>

        <div class="section mt-2">
            <h4>Débouchés</h4>
            <p>
                <CarriereItemList Items=@Item.Debouches SpecialCarriereId=@Item.DebouchesDAvancements.Select(a => a.Id) />
            </p>

            <h4>Filières</h4>
            <p>
                @if (Item.Filieres.Any())
                {
                    <CarriereItemList Items=@Item.Filieres SpecialCarriereId=@Item.FilieresDAvancement.Select(a => a.Id) HideIndicatorRestriction=true />
                }
                @if (Item.EstUneCarriereDeBase)
                {
                    <CarriereDeBase />
                }
            </p>
            <CarriereRestriction Item=@Item />
        </div>
    </div>
</div>