@page "/environnement/egouts/"

@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Regle
@using BlazorWjdr.Components.Table

@inject ReglesService ReglesService
@inject TablesService TablesService
@inject AppState AppState
@code {
    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Environnement : Les égouts");
    }
}
<div class="row">
    <div class="col px-0">
        <div class="section">
            <h3>Aptitudes utiles dans les égouts</h3>
            <AptitudeItemList Items=@ReglesService.GetRegle(240).Aptitudes />
        </div>
        <RegleBody Item=@ReglesService.GetRegle(246) />
        <RegleBody Item=@ReglesService.GetRegle(245) />
    </div>
    <div class="col px-0">
        <RegleBody Item=@ReglesService.GetRegle(244) />
        <RegleBody Item=@ReglesService.GetRegle(243) />
        <img class="section position-absolute" alt="Plans des égouts" src="images/plans/egouts.png" />
    </div>
    <div class="col px-0">
        <RegleBody Item=@ReglesService.GetRegle(241) />
        <RegleBody Item=@ReglesService.GetRegle(242) />
    </div>
</div>

<PageSectionDivider />

<div class="row">
    <div class="col px-0">
        <div class="section">
            <h3>Idées de rencontres (1d100)</h3>
            <TableDetail Item=@TablesService.GetTable(103) MasquerTitre=true />
        </div>
        <RegleBody Item=@ReglesService.GetRegle(252) />
        <RegleBody Item=@ReglesService.GetRegle(256) />
        <div class="section">
            <img class="mw-100" alt="Ambiance" src="images/ambiance/egouts.png" />
        </div>
    </div>
    <div class="col px-0">
        <RegleBody Item=@ReglesService.GetRegle(251) />
        <RegleBody Item=@ReglesService.GetRegle(253) />
        <RegleBody Item=@ReglesService.GetRegle(257) />
    </div>
    <div class="col px-0">
        <RegleBody Item=@ReglesService.GetRegle(255) />
        <RegleBody Item=@ReglesService.GetRegle(259) />
        <RegleBody Item=@ReglesService.GetRegle(258) />
        <RegleBody Item=@ReglesService.GetRegle(254) />
        <div class="section">
            <h3>Carrières familières avec les égouts</h3>
            <CarriereItemList Items=@ReglesService.GetRegle(240).Carrieres />
        </div>
    </div>
</div>
