@code {
    [Parameter, EditorRequired] public string Zone { get; set; } = null!;
    [Parameter] public string Width { get; set; } = "8rem";
    [Parameter] public bool Actif { get; set; }

    private string _zone = "";

    protected override void OnParametersSet()
    {
        _zone = Zone switch
        {
            "tete" => "Tête",
            "bras" => "Bras",
            "torse" => "Torse",
            "jambe" => "Jambe",
            "fumbles" => "Générique",
            "arme-a-distance" => "Arme à distance",
            "arme-de-jet" => "Arme de jet",
            "arme-de-parade" => "Arme de parade",
            "arme-de-poing" => "Arme de poing",
            _ => _zone
        };
    }
}
<a href="table-coups-critiques/@Zone/" class="me-2 mb-1 btn btn-sm @(Actif ? "btn-primary" : "btn-secondary")" style="width:@(Width);">@_zone</a>
