<a href="table-coups-critiques/@Zone/" class="me-2 btn @_btnClass" style="width:90px;">@_zone</a>
@code {
    [Parameter, EditorRequired] public string Zone { get; set; } = null!;
    [Parameter] public bool Actif { get; set; }

    private string _zone = "";
    private string _btnClass = "";

    protected override void OnParametersSet()
    {
        _zone = Zone switch
        {
            "tete" => "Tête",
            "bras" => "Bras",
            "torse" => "Torse",
            "jambe" => "Jambe",
            "fumbles" => "Générique",
            "arme-a-distance" => "Arme à distance",
            "arme-de-jet" => "Arme de jet",
            "arme-de-parade" => "Arme de parade",
            "arme-de-poing" => "Arme de poing",
            _ => _zone
        };

        _btnClass = Actif ? "btn-primary" : "btn-secondary";
        base.OnParametersSet();
    }
}