@if (string.IsNullOrWhiteSpace(@Item.Dotations)) {
    <p class="text-justify">Aucune</p>
} else {
    <p class="text-justify">@Item.Dotations</p>
}
@code{
    [Parameter, EditorRequired] public CarriereDto Item { get; set; } = null!;
}