@using BlazorWjdr.Shared.Oi
@code{
    [Parameter, EditorRequired] public CarriereDto Item { get; set; } = null!;
    [Parameter] public string? Tooltip { get; set; }
    [Parameter] public bool HideIndicatorBase { get; set; }
    [Parameter] public bool HideIndicatorRestriction { get; set; }
    [Parameter] public bool Special { get; set; }
}
<a href="carrieres/@Item.Id/" class="btn btn-light btn-item@(Special ? " btn-special" : "")">
    <ItemIcon Icon="badge" />
    <span class="ms-1"></span>
    @if (!string.IsNullOrWhiteSpace(Tooltip))
    {
        <Tooltip Text=@Tooltip>@Item.Nom</Tooltip>
    }
    else
    {
        @Item.Nom   
    }
    @if (!HideIndicatorBase && Item.EstUneCarriereDeBase)
    {
        <TooltipIcon Icon="home" Classes="ms-2 text-brown"
                     Text="Vous pouvez entreprendre cette carrière à tout moment contre 200 points d'expérience (100 si vous avez complété votre carrière actuelle)."/>
    }
    @if (!HideIndicatorRestriction && !string.IsNullOrWhiteSpace(Item.Restriction))
    {
        <TooltipIcon Icon="info" Classes="ms-2 text-danger" Text=@Item.Restriction />
    }
</a>
