@using BlazorWjdr.Components.Reference
@using BlazorWjdr.Components.Regle
@code{
    [Parameter, EditorRequired] public CarriereDto Item { get; set; } = null!;
    [Parameter] public bool AfficherCitations { get; set; }
}
<ImageMax Image=@Item.Image Nom=@Item.Nom MaxHeight="450px" MaxWidth="55%"/>
@if (Item.FilieresDAvancement.Any())
{
    <p class="card-text">
        <CarriereAvancement Origines=@Item.FilieresDAvancement />
    </p>
}
@if (Item.Leitmotiv != "")
{
    <p class="card-text">
        <em class="insister">@Item.Leitmotiv</em>
    </p>
}
<div class="mb-3" style="min-height:400px;">
    <CardParagraphes Text=@Item.Description CardTextClass="pe-3" />
</div>
@if (AfficherCitations && Item.Ambiance.Any())
{
    <div class="mb-2">
    @foreach (var citation in Item.Ambiance)
    {
        <p class="card-text bulle py-2 px-3" style="clear:both;">
            <CarriereCitations Citation="@citation"/>
        </p>
    }
    </div>
}
@if (Item.Source?.Book is not null || !string.IsNullOrWhiteSpace(Item.Source?.Info))
{
    <ReferenceItem Item=@Item.Source?.Book Page=@Item.Source?.Info />
}
@if (Item.SousElements.Any())
{
    <h5 class="mt-4">Variantes</h5>
    <p class="card-text">
        <CarriereItemList Items=@Item.SousElements.ToArray() />
    </p>
}