@using BlazorWjdr.Models
<ul class="list-inline">
    @foreach (var carriere in Items)
    {
        <li class="@ItemClass"><CarriereItem Item="@carriere"/></li>
    }
</ul>
@code
{
    [Parameter] public string ItemClass { get; set; } = "list-inline-item";
    [Parameter] public CarriereDto[] Items { get; set; } = null!;
}