<div class="btn btn-secondary btn-item" style="background-color: #a46022;">
    <ItemIcon Icon="home" Classes="me-2" Style="color: white;"/>
    <Tooltip Text="Vous pouvez entreprendre cette carrière à tout moment contre 200 points d'expérience (100 si vous avez complété votre carrière actuelle).">
        <em style="color: white;">Carrière de base</em>
    </Tooltip>
</div>