@code {
    [Parameter, EditorRequired] public CarriereDto Item { get; set; } = null!;
}
@if (!string.IsNullOrWhiteSpace(Item.Restriction))
{
    <div class="alert alert-warning" role="alert">
        <span class="oi oi-warning me-1" aria-hidden="true"></span>
        @Item.Restriction
    </div>
}
