@using BlazorWjdr.Models
<tr>
    <td style="width:210px; @(BorderTop ? "border-top: 1px black dashed;" : "")">
        <CarriereItem Item="Item.Carriere" HideIndicatorBase="true" HideIndicatorRestriction="false" Tooltip="@_tooltip" />
    </td>
</tr>
@code {
    [Parameter]
    public LigneDeCarriereInitialeDto Item { get; set; } = null!;
    [Parameter]
    public bool BorderTop { get; set; }

    private string _tooltip = "Facteur : ";

    protected override void OnParametersSet()
    {
        _tooltip += Item.Facteur.ToString();
        /*
        @for (var i = 0; i < Item.Facteur; i++)
        {
            _tooltip += "<span class='oi oi-star item-icon' aria-hidden='true' style='text-align:right;'></span>";
        }
        */
        _tooltip += "\n\nPlus le facteur est élevé, plus grandes sont les chances de tirer cette carrière spécifique.";
        base.OnParametersSet();
    }

}