<div class="btn btn-secondary btn-item">
    <ItemIcon Icon="home" Classes="me-1 text-white" />
    <Tooltip Text="Vous pouvez entreprendre cette carrière à tout moment contre 200 points d'expérience (100 si vous avez complété votre carrière actuelle).">
        <em class="text-white">Carrière de base</em>
    </Tooltip>
</div>