<div class="btn btn-secondary btn-item" style="background-color: #a46022;">
    <span class="oi oi-home item-icon mr-2" aria-hidden="true" style="color: white;"></span>
    <Tooltip Text="Vous pouvez entreprendre cette carrière à tout moment contre 200 points d'expérience.">
        <em style="color: white;">Carrière de base</em>
    </Tooltip>
</div>