@code {
    [Parameter, EditorRequired] public string Citation { get; set; } = null!;

    private string _citation = "";
    private string _auteur = "";

    protected override void OnParametersSet()
    {
        var sp = Citation.Split("\n-");
        _citation = sp[0];
        if (sp.Length > 1)
            _auteur = sp[1];
    }
}
<!--
<em class="text-justify">
    @_citation
</em>
@if (!string.IsNullOrWhiteSpace(_auteur))
{
    <br />
    <span class="text-justify">
        @_auteur
    </span>
}
-->
<Citation Author=@_auteur>@_citation</Citation>