<em style="text-align: justify;">
    @_citation
</em>
@if (!string.IsNullOrWhiteSpace(_auteur))
{
    <br/>
    <span style="text-align: right;">
        @_auteur
    </span>
}

@code {
    [Parameter] public string Citation { get; set; } = null!;

    private string _citation = "";
    private string _auteur = "";

    protected override void OnParametersSet()
    {
        var sp = Citation.Split("\n-");
        _citation = sp[0];
        if (sp.Length > 1)
            _auteur = sp[1];
        
        base.OnParametersSet();
    }
}