@using BlazorWjdr.Models
@using BlazorWjdr.Components.Reference

@if (Item.SourceLivre != null || !string.IsNullOrWhiteSpace(Item.Source))
{
    <ReferenceItem Item="@Item.SourceLivre" Page="@Item.Source"/>
}
<img class="career-img" src="..@Item.Image" alt="@Item.Nom" style="max-width: 300px;"/>
@foreach (var paragraphe in _paragraphes)
{
    <p class="card-text" style="text-align:justify;">
        @paragraphe
    </p>
}
@code{
    [Parameter]
    public CarriereDto Item { get; set; } = null!;

    private string[] _paragraphes = null!;

    protected override void OnParametersSet()
    {
        _paragraphes = Item.Description
            .Replace('\r', '\n')
            .Replace("\n\n", "\n")
            .Split('\n');
        base.OnParametersSet();
    }
}