@code{ [Parameter] public IEnumerable<CarriereDto> Items { get; set; } = null!; }
<table>
    <thead>
        <tr>
            <th style="width:125px;"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var carriere in Items)
    {
        <CarriereRow Item=@carriere />
    }
    </tbody>
</table>