@using BlazorWjdr.Models

@if (string.IsNullOrWhiteSpace(@Item.Dotations)) {
    <p class="card-text">Aucune</p>
} else {
    <p class="card-text">@Item.Dotations</p>
}
@code{
    [Parameter]
    public CarriereDto Item { get; set; } = null!;
}