@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Components.Talent

<h5 class="card-title">Compétences</h5>
<CompetenceItemList Items="_competences" ItemsChoix="_competencesChoix" />
<h5 class="card-title">Talents</h5>
<TalentItemList Items="_talents" ItemsChoix="_talentsChoix" />