@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Components.Talent

<h3 class="card-title">Compétences</h3>
<CompetenceItemList Items="_competences" ItemsChoix="_competencesChoix" />
<h3 class="card-title">Talents</h3>
<TalentItemList Items="_talents" ItemsChoix="_talentsChoix" />