@using BlazorWjdr.Components.Aptitude

<h3 class="card-title">Compétences</h3>
<AptitudeItemList Items="_competences" ItemsChoix="_competencesChoix" />
<h3 class="card-title">Talents</h3>
<AptitudeItemList Items="_talents" ItemsChoix="_talentsChoix" />

@code{
    [Parameter, EditorRequired] public CarriereDto Carriere { get; set; } = null!;

    private AptitudeDto[] _competences = null!;
    private AptitudeDto[] _talents = null!;
        
    private AptitudeDto[][] _competencesChoix = null!;
    private AptitudeDto[][] _talentsChoix = null!;

    protected override void OnInitialized()
    {
        _competences = Carriere.Competences.ToArray();
        _talents = Carriere.Talents.ToArray();
        _competencesChoix = Carriere.ChoixCompetences.ToArray();
        _talentsChoix = Carriere.ChoixTalents.ToArray();
    }
}