@using BlazorWjdr.Services
@using BlazorWjdr.Models
        
<table>
    <thead>
        <tr>
            <td>Carrière</td>
            <td>Facteur Race @RaceId</td>
            <td>Score</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var ligne in _allLines)
        {
            <tr>
                <td><CarriereItem Item="ligne.Carriere"></CarriereItem></td>
                <td>@ligne.Facteur</td>
                <td>xx ~ YY</td>
            </tr>
        }
    </tbody>
</table>
        

@code {
    [Inject]
    public TableDesCarrieresInitialesService TableDesCarrieresInitialesService { get; set; } = null!;

    [Parameter]
    public string RaceId { get; set; } = null!;

    private List<LigneDeCarriereInitialeDto> _allLines = null!;

    protected override void OnInitialized()
    {
        _allLines = TableDesCarrieresInitialesService.AllLignes[int.Parse(RaceId)];
        base.OnInitialized();
    }
    
    protected override Task OnParametersSetAsync()
    {
        OnInitialized();

        return base.OnParametersSetAsync();
    }
}