@code{
    [Parameter, EditorRequired] public IEnumerable<ArmeDto> Items { get; set; } = null!;
}
<div class="list-btn-item">
    @foreach (var arme in Items)
    {
        <ArmeItem Item=@arme />
    }
</div>