<span class="btn btn-light btn-item" target="_blank">
    <ItemIcon Icon="location" Classes="me-1" />
    <Tooltip Text="@_tooltip">@Item.Nom</Tooltip>
</span>
@code{
    [Parameter, EditorRequired] public ArmeDto Item { get; set; } = null!;

    private string _tooltip = "";
    
    protected override void OnParametersSet()
    {
        _tooltip = $"Dégâts {Item.Degats}";
        if (Item.EstUneArmeDeCaC)
            _tooltip += $"\nAllonge {Item.Allonge}";
        else
            _tooltip += $"\nPortée {Item.Portee}";
        if (Item.Attributs.Any())
            _tooltip += $"\nAttributs : {string.Join(", ", Item.Attributs.Select(a => a.Nom).ToArray())}";
    }
}