@code {
    [Parameter] public string Groupe { get; set; } = "";
    [Parameter, EditorRequired] public IEnumerable<ArmeDto> Armes { get; set; } = null!;
    [Parameter] public bool ArmesDeTir { get; set; }
}
<table class="table table-striped">
    <ArmeGroupeRow Groupe=@Groupe ArmeDeTir=@ArmesDeTir />
    <tbody>
    @foreach (var arme in Armes)
    {
        <ArmeRow Item=@arme ArmeDeTir=@ArmesDeTir />
    }
    </tbody>
</table>
