@code{
    [Parameter, EditorRequired] public IEnumerable<ArmeDto> Items { get; set; } = null!;
    [Parameter] public bool EnColonne { get; set; }
}
<ul class="@(EnColonne ? "" : "list-inline mb-1")">
    @foreach (var arme in Items)
    {
        <li class="@(EnColonne ? "" : "list-inline-item")">
            <ArmeItem Item=@arme />
        </li>
    }
</ul>