@using BlazorWjdr.Models
@code{
    [Parameter] public ArmureDto Item { get; set; } = null!;
    
    private string _tooltip = "";

    protected override void OnParametersSet()
    {
        _tooltip = $"Protection {Item.Pa} ({Item.Zones})";
        if (Item.Attributs.Any())
            _tooltip += $"\nAttributs : {string.Join(", ", Item.Attributs.Select(a => a.Nom).ToArray())}";
        base.OnParametersSet();
    }
}
<span class="btn btn-light btn-item" target="_blank">
    <ItemIcon Icon="shield" Classes="mr-1"/>
    <Tooltip Text="@_tooltip">@Item.Nom</Tooltip>
</span>