@using BlazorWjdr.Models
<span class="btn btn-light btn-item@(_class)" target="_blank">
    <ItemIcon Icon="shield" />
    <span class="mr-1" />
    @if (string.IsNullOrWhiteSpace(Item.Description)) {
        @_nom
    } else {
        <Tooltip Text="@Item.Description">@_nom</Tooltip>
    }
</span>
@code{
    [Parameter]
    public ArmeAttributDto Item { get; set; } = null!;
    [Parameter]
    public int Rating { get; set; }

    private string _nom = "";
    private string _class = "";
    
    protected override void OnParametersSet()
    {
        if (Rating > 1)
            _nom = Item.Nom.Replace("(x)", $"({Rating})");
        else
            _nom = Item.Nom.Replace(" (x)","");

        if (_nom.EndsWith("*"))
            _class = " btn-special";
        
        base.OnParametersSet();
    }

}