<ul class="@(EnColonne ? "" : "list-inline")">
    @foreach (var (attribut, rating) in _items)
    {
        <li class="@(EnColonne ? "" : "list-inline-item")"><AttributDArmeItem Item=@attribut Rating=@rating /></li>
    }
</ul>
@code{
    [Parameter, EditorRequired] public ArmeAttributDto[] Items { get; set; } = null!;
    [Parameter] public bool EnColonne { get; set; }

    private List<Tuple<ArmeAttributDto, int>> _items = null!; 
    
    protected override void OnParametersSet()
    {
        var ids = Items.Select(i => i.Id).Distinct();
        var listeBrute = ids.Select(id =>
            new Tuple<ArmeAttributDto, int>(Items.First(i => i.Id == id), Items.Count(i => i.Id == id))
        ).OrderBy(a => a.Item1.Nom).ToList();
        
        // On place les Attributs spéciaux en dernier
        _items = listeBrute.Where(i => !i.Item1.Nom.EndsWith("*")).ToList();
        _items.AddRange(listeBrute.Where(i => i.Item1.Nom.EndsWith("*")));

        base.OnParametersSet();
    }
}