@using BlazorWjdr.Models
<ul class="list-inline">
    @foreach (var item in Items)
    {
        <li class="list-inline-item"><AttributDArmeItem Item="@item"/></li>
    }
</ul>
@code{
    [Parameter] public ArmeAttributDto[] Items { get; set; } = null!;
}