<thead>
    <tr>
        <td>Armes à distance</td>
        <td>Groupes</td>
        <td>Maîtrise</td>
        <td>Attributs</td>
        <td>Dégâts</td>
        <td>Portée</td>
        <td>Rechargement</td>
        <td>Enc.</td>
        <td>Prix</td>
        <td>Disponibilité</td>
    </tr>
</thead>