@using BlazorWjdr.Components.Race
@using BlazorWjdr.Components.Table

@inject RacesService _racesService
@inject TablesService _tablesService
@code {
    [Parameter, EditorRequired] public RaceSelectionnee Selection { get; set; } = null!;
}
<div class="row">
    <div class="col-5">
        <PageSectionRowTitle Title="1. Déterminer sa race" />
        <div class="card-body">
            <p class="card-text">
                On effectue un jet sur la table ci-contre.
            </p>
            <p class="card-text">
                Si le résultat n'est pas celui attendu, on peut choisir une race en dépensant le coût indiqué en points d'expérience.
            </p>
            <p>
                <div class="btn-group btn-group-sm w-100" role="group" aria-label="Basic radio toggle button group">
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesHumainsSelectionnee Race=@_racesService.Humains />
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesHalflingsSelectionnee Race=@_racesService.Halflings />
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesNainsSelectionnee Race=@_racesService.Nains />
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesElfesSylvainsSelectionnee Race=@_racesService.ElfesSylvains />
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesHautsElfesSelectionnee Race=@_racesService.HautsElfes />
                    <CheckBoxPageCreationPerso Actif=@Selection.RaceDesGnomesSelectionnee Race=@_racesService.Gnomes />
                </div>
            </p>
            <TableDetail Item=@_tablesService.GetTable(10) MasquerTitre=true FixedColSize=60 />
        </div>
    </div>
    <div class="col pt-5">
        <img style="max-width:33%; max-height:340px;" src="./images/races/@(Selection.Race.Id)f.png" alt="@Selection.Race.NomFeminin">
        <img style="max-width:33%; max-height:340px;" src="./images/races/@(Selection.Race.Id)m.png" alt="@Selection.Race.NomMasculin">
        <img style="max-width:32%; max-height:340px;" src="./images/races/@(Selection.Race.Id)s.png" alt="@Selection.Race.NomMasculin">
    </div>
</div>
