@using BlazorWjdr.Components.Table

@inject TablesService _tablesService
@code {
    [Parameter, EditorRequired] public RaceSelectionnee Selection { get; set; } = null!;
}
<div class="row">
    <div class="col">
        <PageSectionRowTitle Title="3. Déterminer ses origines" />
        <!-- Lieu de naissance -->
        <div class="card-body">
            @if (Selection.RaceDesElfesSylvainsSelectionnee)
            {
                <TableDetail Item=@_tablesService.GetTable(25) />
            }
            @if (Selection.RaceDesHautsElfesSelectionnee)
            {
                <TableDetail Item=@_tablesService.GetTable(30) />
            }
            @if (Selection.RaceDesGnomesSelectionnee)
            {
                <TableDetail Item=@_tablesService.GetTable(26) />
            }
            @if (Selection.RaceDesHalflingsSelectionnee)
            {
                <TableDetail Item=@_tablesService.GetTable(27) />
            }
            @if (Selection.RaceDesHumainsSelectionnee)
            {
                <TableDetail Item=@_tablesService.GetTable(28) />
            }
            @if (Selection.RaceDesNainsSelectionnee)
            {
                <TableDetail Item=@_tablesService.GetTable(29) />
            }
        </div>
    </div>
    <div class="col">
        @if (Selection.RaceDesGnomesSelectionnee || Selection.RaceDesHalflingsSelectionnee || Selection.RaceDesNainsSelectionnee)
        {
            <div class="card-body">
                <TableDetail Item=@_tablesService.GetTable(28) />
            </div>
        }
    </div>
</div>
