@using BlazorWjdr.Components.Table

@inject TablesService TablesSvc
@code {
    [Parameter, EditorRequired] public RaceSelectionnee Selection { get; set; } = null!;
}
<div class="row">
    <div class="col-6">
        <PageSectionRowTitle Title="7. Donner de la vie à son personnage" />
        <div class="section">
            <ul>
                <li>Choisir votre nom et votre sexe</li>
                <li>Déterminer votre âge</li>
                <li>Déterminer votre signe astral</li>
                <li>Déterminer vos caractéristiques physiques (taille, poids, couleur des yeux et des cheveux, main directrice, etc.)</li>
                <li>Précisez vos origines</li>
                <li>Déterminer votre famille (profession des parents, frères et soeurs)</li>
                <li>Déterminer votre orientation sexuelle</li>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <div class="section">
            <TableDetail Item=TablesSvc.GetTable(22) FixedColSize=35 />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="section">
            <h4>Etoffer le passé et le caractère du personnage</h4>
            <ul>
                <li>Votre famille, à quoi ressemble-t-elle ?</li>
                <li>Quelle activité pratiquaient vos parents ?</li>
                <li>Comment s’est déroulée votre enfance ?</li>
                <li>Quand avez-vous quitté la maison familiale ?</li>
                <li>Qui sont vos meilleurs amis ?</li>
                <li>Quel est votre plus grand désir ?</li>
                <li>Quels sont vos meilleurs et pires souvenirs ?</li>
                <li>Avez-vous des croyances religieuses ?</li>
                <li>Êtes-vous loyal envers quelque chose ou quelqu’un ?</li>
                <li>Pourquoi partez-vous à l’aventure ?</li>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <div class="section">
            <h4>Quelques liens...</h4>
            <ul>
                <li>
                    Générateurs de noms :
                    <a target="_blank" href="https://fr.fantasynamegenerators.com/warhammer-noms-empire.php">Empire</a>
                    <ItemIcon Icon="infinity" Classes="me-1 ms-1" />
                    <a target="_blank" href="https://fr.fantasynamegenerators.com/warhammer-noms-bretonniens.php">Bretonnie</a>
                    <ItemIcon Icon="infinity" Classes="me-1 ms-1" />
                    <a target="_blank" href="https://fr.fantasynamegenerators.com/warhammer-noms-de-nains.php">Nains</a>
                    <ItemIcon Icon="infinity" Classes="me-1 ms-1" />
                    <a target="_blank" href="https://fr.fantasynamegenerators.com/warhammer-noms-elfes-sylvains.php">Elfes sylvains</a>
                    <ItemIcon Icon="infinity" Classes="me-1 ms-1" />
                    <a target="_blank" href="https://fr.fantasynamegenerators.com/warhammer-noms-de-hauts-elfes.php">Hauts elfes</a>
                </li>
                <li>
                    Trouver un portrait :
                    <a target="_blank" href="https://www.pinterest.fr/boutiqueleroliste/artwork-personnages-jeu-de-r%C3%B4le/">www.pinterest.fr</a>
                    <ItemIcon Icon="infinity" Classes="me-1 ms-1" />
                    <a href="https://www.artstation.com/">www.artstation.com</a>
                    <ItemIcon Icon="infinity" Classes="me-1 ms-1" />
                    <a href="https://www.deviantart.com/">www.deviantart.com</a>
                </li>
            </ul>
        </div>
        @if (Selection.RaceDesHalflingsSelectionnee)
        {
            <div class="section">
                <TableDetail Item=@TablesSvc.GetTable(91) FixedColSize=100 />
            </div>
        }
    </div>
</div>
