<div class="row">
    <div class="col-6">
        <PageSectionRowTitle Title="8. Déterminer son ambition personnelle" />
        <div class="section">
            <p class="card-text">
                Vient ensuite le choix des Ambitions !
            </p>
            <p class="card-text">
                Une nouvelle notion, avec des ambitions à court terme (visiter une terre lointaine, s'intégrer à une culture exotique, venger un ami tombé au combat, sympathiser avec un érudit isolé…) et des ambitions à long terme (posséder votre propre auberge, débarrasser les collège de magie de l’influence des elfes…).
            </p>
            <p class="card-text">
                Réaliser une ambition de court terme rapporte 50 XP (et on peut en choisir une autre), tandis que réaliser une ambition de long terme rapporte 500 XP et permet, soit d’en choisir une nouvelle, soit de mettre le personnage à la retraite pour en créer un nouveau qui démarrera avec la moitié des XP du retraité !
            </p>
        </div>
    </div>
    <div class="col-6">
        <div class="section">
            <h4>Insufler un souffle à l'équipe</h4>
            <p class="card-text">
                C’est là qu’on essaie de se mettre d’accord avec tout le monde pour savoir si les personnages sont amis, de simples compagnons de voyage, etc.
                On peut déterminer une Ambition d’équipe !
                Même idée : des ambitions courtes (qui donnent 50 XP à tout le monde) et d’énormes ambitions d’équipe à long terme (genre construire un château) qui permettent là aussi à tout le monde de gagner 500 XP et de prendre ou pas une retraite bien méritée.
            </p>
        </div>
    </div>
</div>
