@using BlazorWjdr.Components.Table

@inject TablesService TablesSvc
<div class="row">
    <div class="col-7">
        <PageSectionRowTitle Title="9. Dépenser ses XP (points d'expérience)" />
        <div class="section">
            <TableDetail Item=@TablesSvc.GetTable(21) MasquerTitre=true />
        </div>
    </div>
    <div class="col-5">
        <div class="section">
            <TableDetail Item=@TablesSvc.GetTable(20) />
        </div>
    </div>
</div>
