@page "/references"

@using CharHammer.Components.Reference

@inject ReferencesService Service

<TopRowTitleSection Title="Références" />
<div class="row">
    <div class="col-6">
        <table class="table table-striped">
            <tbody>
                @foreach (var reference in Service.AllReferences
                    .Where(r => r.Version == 1)
                    .OrderBy(r => r.AnneeDePublication))
                {
                    <ReferenceRow Item=@reference />
                }
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <table class="table table-striped">
            <tbody>
                @foreach (var reference in Service.AllReferences
                    .Where(r => r.Version == 2)
                    .OrderBy(r => r.AnneeDePublication))
                {
                    <ReferenceRow Item=@reference />
                }
            </tbody>
        </table>
    </div>
</div>