<span class="ajuster" @onclick="Moins">
    <ItemIcon Icon="minus"/>
</span>
<input type="text" class="saisie-score" value="@CurrentValue"/>
<span class="ajuster" @onclick="Plus">
    <ItemIcon Icon="plus"/>
</span>
@code {
    [Parameter] public int CurrentValue { get; set; }
    private void Plus() => CurrentValue++;
    private void Moins() => CurrentValue--;
}