@page "/talents"

@using BlazorWjdr.Components.Aptitude

@inject AptitudesService _cttService
@inject AppState _appState
@code {
    private IEnumerable<AptitudeDto> _talentsLines = null!;

    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Talents");
        _talentsLines = _cttService.AllTalents.ToList();
    }
}
<div class="section">
    <p class="text-justify">
        If you can take a Talent multiple times, it may have a special rule for what this means written into its description. Further, it may have an associated Skill marked under ‘Tests’ (see Talent Format): if so, for each time you have the Talent, you gain +1 SL on any successful use of a Skill tied to the Talent.
    </p>
</div>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th style="width:275px">Talent</th>
            <th>Aptitudes liées</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var talent in _talentsLines.Where(t => t.Ignore == false && t.Parent is null))
        {
            <TalentRow Item=@talent />
        }
    </tbody>
</table>
