@page "/competences/{CompetenceId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Arme
@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject AptitudesService _aptitudesService
@inject ArmesService _armesService
@inject CarrieresService _carrieresService
@inject AppState _appState
@code {
    [Parameter] public string CompetenceId { get; set; } = null!;

    private AptitudeDto Item { get; set; } = null!;
    private CarriereDto[] _carrieres = null!;

    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Compétence");
    }

    protected override void OnParametersSet()
    {
        Item = _aptitudesService.GetAptitude(int.Parse(CompetenceId));
        _carrieres = _carrieresService.GetCarrieresProposant(Item);
    }
}
<div class="row">

    <ColFrise />
    <div class="col-5">
        <div class="card-body" style="padding-top: 0;">
            <h1 class="card-title" style="font-size: xxx-large;">@Item.Nom</h1>
            <AptitudeDescription Item="@Item" />
        </div>
    </div>

    <div class="col-5">
        @if (_carrieres.Any())
        {
            <div class="card-body" style="padding-top: 0; padding-right: 0;">

                <h4 class="card-title title-primary">Carrières proposant cette compétence</h4>
                <p class="card-text">
                    <CarriereItemList Items="@_carrieres" />
                </p>
            </div>
        }
        @if (_aptitudesService.DonneAccesADesArmes(Item))
        {
            <div class="card-body" style="padding-top: 0; padding-right: 0;">
                <h4 class="card-title">Armes accessibles via ce talent</h4>
                <p class="card-text">
                    <ArmeItemList Items="@_armesService.GetArmesDeMaitrise(Item).ToArray()" />
                </p>
            </div>
        }
    </div>

</div>
