@page "/talents/{TalentId}/"

@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Sortilege
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject AptitudesService _cttService
@inject CarrieresService _carrieresService
@inject ArmesService _armesService
@inject SortilegesService _sortilegesService

<MainTopRow/>

<div class="content px-4">

    <div class="row">

        <div class="col-6" style="padding-right: 0;">
            <div class="card-body" style="padding-top: 0; padding-right: 0;">

                <h1 class="card-title" style="font-size: xxx-large;">@Item.Nom</h1>
                <AptitudeDescription Item="@Item"/>

            </div>
        </div>

        <div class="col-6">
            @if (_carrieres.Any())
            {
                <div class="card-body" style="padding-top: 0; padding-right: 0;">
                    <h4 class="card-title">Carrières proposant ce talent</h4>
                    <p class="card-text">
                        <CarriereItemList Items="@_carrieres"/>
                    </p>
                </div>
            }
            @if (AptitudesService.DonneAccesADesSortileges(Item))
            {
                <div class="card-body" style="padding-top: 0; padding-right: 0;">
                    <h4 class="card-title">Sortilèges accessibles via ce talent</h4>
                    <p class="card-text">
                        <SortilegeItemList Items="@_sortilegesService.AllSortileges.Where(s => s.Aptitudes.Contains(Item)).ToArray()"/>
                    </p>
                </div>
            }
        </div>

    </div>

</div>

@code {

    [Parameter]
    public string TalentId { get; set; } = null!;

    private AptitudeDto Item { get; set; } = null!;

    private CarriereDto[] _carrieres = null!;

    protected override void OnParametersSet()
    {
        Item = _cttService.GetTalent(int.Parse(TalentId));
        _carrieres = _carrieresService.GetCarrieresProposant(Item);
    }

}