@page "/talents/{TalentId}/"

@using BlazorWjdr.Components.Aptitude
@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Sortilege

@inject AptitudesService Service
@inject CarrieresService CarrieresService
@inject SortilegesService SortilegesService
@inject AppState AppState

@code {
    [Parameter, EditorRequired] public string TalentId { get; set; } = null!;

    private AptitudeDto Item { get; set; } = null!;

    private CarriereDto[] _carrieres = null!;

    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Talent");
    }

    protected override void OnParametersSet()
    {
        Item = Service.GetTalent(int.Parse(TalentId));
        _carrieres = CarrieresService.GetCarrieresProposant(Item);
    }
}
<div class="row">

    <ColFrise />
    <div class="col-5">
        <div class="section">
            <h1>@Item.Nom</h1>
            <AptitudeDescription Item=@Item />
        </div>
    </div>

    <div class="col-5">
        @if (_carrieres.Any())
        {
            <div class="section pe-0">
                <h3>Carrières proposant ce talent</h3>
                <p>
                    <CarriereItemList Items=@_carrieres />
                </p>
            </div>
        }
        @if (AptitudesService.DonneAccesADesSortileges(Item))
        {
            <div class="section pe-0">
                <h3>Sortilèges accessibles via ce talent</h3>
                <p>
                    <SortilegeItemList Items=@SortilegesService.AllSortileges.Where(s => s.Aptitudes.Contains(Item)) />
                </p>
            </div>
        }
    </div>

</div>
