@page "/regles/acquisition-aptitudes/"

@using BlazorWjdr.Components.Table

@inject AptitudesService _aptitudesService
@inject TablesService _tablesService
@inject AppState _appState
@code {
    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("");
    }
}
<div class="row">

    <div class="col-4" style="padding-right: 0;">
        <div class="card-body" style="padding-top: 0; padding-right: 0;">
            <h1 style="font-size: xxx-large;">Compétences</h1>
        </div>

        <CardBody Titre="Compétences de Base">
            <CardParagraphes Text="Les compétences de base sont accessible à tout personnage, en utilisant le score de la caractéristique associée avec un bonus dépendant du nombre d'acquisitions (+5% par Acquisition, sans bonus si jamais acquis)." />
        </CardBody>

        <CardBody Titre="Compétences Avancées">
            <CardParagraphes Text="Les compétences avancées exigent des connaissances spécialisées, une formation ou une expérience de première main pour pouvoir même tenter de les utiliser. Vous ne pouvez tester une compétence avancée que si vous avez suivi au moins une progression. Si ce n'est pas le cas, vous ne pouvez pas tenter de tester la compétence. Ainsi, peu importe à quel point vous êtes intelligent, vous ne comprendrez pas les points les plus fins de la loi sans la Compétence de Connaissance (Loi)." />
        </CardBody>

        <CardBody Titre="Compétences Mélée et Tir">
            <CardParagraphes Text="Les compétences de Mélée peuvent être utilisées sans être acquises, comme toute Compétence de Base, toutefois vous ne bénéficierez pas des Attributs avantageux des armes, seulement de leurs défauts.\nLes armes dépendantes des compétences de Tir nécessitent d'avoir acquis la compétence associée pour être utilisées efficacement, même si le simple fait de tenir l'une d'elle en main peut parfois suffir àà intimider un adversaire." />
        </CardBody>

        <div class="card-body">
            <TableDetail Item="@_tablesService.GetTable(87)" />
        </div>
    </div>
    <div class="col-4" style="padding-right: 0;">
        <div class="card-body" style="padding-top: 0; padding-right: 0;">
            <h1 style="font-size: xxx-large;">Talents</h1>
            <CardParagraphes Text="Vos Talents reflètent les domaines dans lesquels vous excellez et vous démarquez lors de l'utilisation de vos compétences ou dans certaines situations particulières. Les talents représentent toutes les astuces, les bizarreries et les aptitudes spéciales que vous avez acquises tout au long de votre vie.\nSi vous pouvez prendre un Talent plusieurs fois, il aura soit une règle spéciale pour ce que cela signifie écrit dans sa description, soit il aura une compétence associée marquée sous'Tests' (voir Format du Talent). Pour chaque fois que vous avez le Talent, vous gagnez +1 BS sur toute utilisation réussie d'une compétence liée au Talent." />
        </div>
        <div class="card-body" style="padding-top: 0; padding-right: 0;">
            <h1 style="font-size: xxx-large;">Traits</h1>
            <CardParagraphes Text="Les Traits représentents des facultés, des comportements ou encore des traits psychologiques qui vous sont innés, de par votre race, votre culture, votre éducation ou encore votre persévérance dans l'exercice de votre carrière.\nLes traits sont généralement acquis dès la création du personnage. Par la suite, pour acquérir un Trait, votre carrière actuelle doit la proposer mais vous devez également avoir complété cette carrière pour y avoir accès. Seule exception, s'il s'agit de votre carrière initiale, vous pouvez en acquérir un parmi les 7 aptitudes à choisir dans votre carrière." />
        </div>
    </div>
    <div class="col-4" style="padding-right: 0;">
        <div class="card-body">
            <TableDetail Item="@_tablesService.GetTable(21)" />
        </div>
    </div>

</div>
