@page "/traits/{TraitId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Aptitude

@inject AptitudesService Service
@inject CarrieresService CarrieresService
@inject AppState AppState
@code {
    [Parameter, EditorRequired] public string TraitId { get; set; } = null!;

    private AptitudeDto Item { get; set; } = null!;
    private CarriereDto[] _carrieres = null!;

    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Trait");
    }

    protected override void OnParametersSet()
    {
        Item = Service.GetAptitude(int.Parse(TraitId));
        AppState.SetMainTopRowTitle(Item.CategSpe);
        _carrieres = CarrieresService.GetCarrieresProposant(Item);
    }
}
<div class="row">
    <ColFrise />
    <div class="col-5">
        <div class="section">
            <h1>@Item.Nom</h1>
            <h5><em>@Item.CategSpeSexy</em></h5>
            <AptitudeDescription Item=@Item />
        </div>
    </div>
    <div class="col-5">
        @if (_carrieres.Any())
        {
            <div class="section pe-0">
                <h5>Carrières proposant ce trait</h5>
                <p>
                    <CarriereItemList Items=@_carrieres />
                </p>
            </div>
        }
    </div>
</div>
