<h4>Le Vieux Monde</h4>
<p>
    <IndexLink Href="univers/introduction/" Title="Introduction" />
    <IndexLink Href="chronologie/" Title="Chronologie" />
    <IndexLink Href="lieux/vieux-monde/" Title="Contrées, Régions, Lieux" Icon="compass" />
</p>
<p>
    <IndexLink Href="bestiaire/" Title="Bestiaire" Icon="bug" Primary=true />
    <IndexLink Href="personnages/" Title="Archétypes" Icon="person" />
    <IndexLink Href="races/" Title="Races & Cultures" />
</p>
<h4>Environnements</h4>
<p>
    <IndexLink Href="environnement/egouts/" Title="Les égouts" />
</p>
