@using CharHammer.Components.Bestiole

@inject BestiolesService Service

<h4>Dernières recrues</h4>
@foreach (var aventurier in Service.AllPjs.OrderByDescending(pj => pj.DateDeCreation))
{
    <div><BestioleItem Item=@aventurier /></div>
}