@page "/talents"

@using CharHammer.Components.Aptitude

@inject AptitudesService Service

<TopRowTitleSection Title="Talents" />
<div class="section">
    <p class="text-justify">
        If you can take a Talent multiple times, it may have a special rule for what this means written into its description. Further, it may have an associated Skill marked under ‘Tests’ (see Talent Format): if so, for each time you have the Talent, you gain +1 SL on any successful use of a Skill tied to the Talent.
    </p>
</div>

<table>
    <thead>
        <tr>
            <th class="w-2rem"></th>
            <th class="w-2rem"></th>
            <th class="w-22rem">Trait</th>
            <th>Aptitudes liées</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var talent in Service.AllTalents.Where(t => t is { Ignore: false, Parent: null }))
        {
            <TalentRow Item=@talent />
        }
    </tbody>
</table>
