@page "/scenarios/la-fleur-de-sang/"

@using BlazorWjdr.Services

@inject ScenariosService _scenariosService

<MainTopRow>
    <h3 class="card-title">La Fleur de Sang</h3>
</MainTopRow>

<div class="content px-4">

    <h3 class="card-title">Introduction</h3>
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">Une clairière éclairée par la lune. Sur une statue allégorique de la mort, une corneille est perchée. Derrière elle, on peut apercevoir un cimetière. Tout à coup, l'oiseau décolle. Il se dirige vers une immense muraille de rocs et se met à monter, monter... Soudain, il passe par dessus les murs d'une cité posée au sommet de l'immense piton rocheux. Les multiples lueurs issues de la vie humaine passent lentement sous les ailes noires de l’oiseau... Une voix s'élève dans la nuit. C'est celle d'une personne très âgée :</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">
                    <em>« Arrivé au terme de ma vie, désormais chenu et vieilli comme le monde, je m'apprête à laisser sur ce parchemin le témoignage des faits admirables et terribles auxquels j'ai assisté dans ma jeunesse. Que les Dieux m'accordent la sagesse et la grâce d'être le témoin transparent des événements qui survinrent dans la Cité de Middenheim, au plus sombre du nord de l'Empire. Mon histoire débute vers la fin de l'automne de l'année de Sigmar 2502 et comme beaucoup de grandes histoires en ce monde, celle-ci débute dans la pénombre d'une taverne enfumée... »</em>
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">A ce moment là, la corneille se pose délicatement sur le toit d'une taverne. La caméra entre à l'intérieur de la bâtisse en traversant le carreau teinté d'une fenêtre...</p>
            </div>
        </div>
    </div>

    <h3 class="card-title">Chapitre I : La Taverne de la Chope Moussue</h3>
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                <p class="card-text"><em>Le lieu :</em> une taverne de bonne réputation dans le quartier bourgeois du Nord Ouest de Middenheim.</p>
                <p class="card-text">Au départ, les PJs se trouvent dans la taverne de la Chope Moussue, dont le propriétaire est Maître Kanter. Ils viennent certainement d’horizons différents, mais, par manque de place, ils sont obligés de se regrouper à la même tablée. Normalement, à ce stade, la difficulté pour qu’ils se lient doit être importante. Profitez donc de ce moment pour qu’ils se présentent, aient quelques interactions avec le personnel, voire qu’ils participent au concours organisé par Maître Kanter (quiconque veut participer raconte une histoire. Le vainqueur ne paye pas ses boissons). Quel que soit le nombre de PJs, il reste une place de libre à la table. Un jeune homme, visiblement de noble naissance, rentre. Pour sa description, souvenez vous de Vincent Pérez dans la Reine Margot, en plus coloré. Détail notable : il porte une bague sertie d’une grosse pierre bleue. Donc, cet homme entre et lance à la cantonade avec un fort accent du Reikland : "Mes amis, ce soir, tournée générale ! Je suis amoureux et l'amour donne soif !". Après quelques instants de liesses dans la salle (quels soiffards !), il vient s'asseoir, les bras chargés de chopes, à la dernière place de libre, près des PJs.</p>
                <p class="card-text">Là, il engage la conversation avec eux en se présentant : "Christian Von Maule, pour vous servir" ce qui donne le moyen de faire parler les PJs entre eux et de faire en sorte qu'ils se lient encore un peu plus. Quant à Christian, son sujet de prédilection est une certaine Clara, "belle comme un ange de Shallya, à la longue chevelure couleur de blés mûrs, aux yeux limpides comme un ciel d'été...". Aujourd'hui, après avoir réussi à discrètement se rencontrer dans un parc de Middenheim (le Grand Parc) ils ont résolu en secret de partir et de se marier. Partir, oui, car les parents de Clara sont résolument contre ce mariage, peut-être ont-ils d'autres projets pour elle, et il est vrai que Christian n'est que le cadet d'une petite famille. Ils doivent se revoir le lendemain pour mettre au point "l'enlèvement" de la jeune femme. Au fur et à mesure de la discussion, alors que la soirée avance, quelques tables se libèrent...</p>
                <p class="card-text">Soudain, au milieu de la conversation, une demi-douzaine d'individus à la mine louche entre dans la salle. Parmi eux, un homme bien habillé qui ressemble à un noble estalien (Il est vêtu de noir, porte le bouc finement taillé et arbore une impressionnante cicatrice sur la joue gauche). Un des hommes qui l'accompagne désigne la table libre la plus proche de celle des PJs et le groupe se dirige vers elle. Arrivé à la hauteur de Christian, l'Estalien trébuche légèrement et le percute. De la bière gicle sur les vêtements sombres du balafré... Et c'est le drame ! Il sort à demi son épée du fourreau avant qu'un de ses hommes ne le retienne. Christian, éméché, semble consterné. Le silence se fait dans la taverne, la tension monte. Maître Kanter, l'aubergiste, se fraye un chemin vers la table...</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <h5 class="card-title">La tirade</h5>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Tou vas régrétter ta maladresse, Hombre ! Tou n'as même pas idée dou prix d'oune telle vétoure !</p>
                <p class="replique pnj-christian"><em>Christian :</em> Un gentilhomme commence par se présenter, Je suis Christian Von Maule, pour vous servir.</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Y moi, yé souis Juan Sanchez Villalobos de Ramirez et y'attend réparacion dé cette insoulte qué a été faite à mia personna.</p>
                <p class="replique pnj-christian"><em>Christian :</em> Ne s'excuse pas l'innocent et...</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Il souffit !</p>
                <p class="kanter"><em>Maître Kanter :</em> Allez Messeigneurs, laissez-moi donc vous offrir une autre bière histoire d'oublier ce malheureux incident...</p>
                <p class="replique pnj-christian"><em>Christian :</em> Vous n'êtes pas obligé ! Je peux régler ce problème moi-même !</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Quelle impoudanza !</p>
                <p class="replique pnj-kanter"><em>Maître Kanter (tout bas à Christian) :</em> Voyons Christian ! Je connais ce genre d'individus, il ne faut pas les provoquer ! Pensez à votre fiancée !</p>
                <p class="replique pnj-christian"><em>Christian :</em> Je...</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Oune fiancée ! Cé misérablé petit étron à réoussi à sédouir oune femme ! (Rires gras de ses compagnons) Il faudra qué yé loui rende visite quand y'en aurai fini avec loui ! Elle vérra la différenza ! (Nouveaux rire gras)</p>
                <p class="replique pnj-christian"><em>Christian (qui se lève d'un bond et agrippe l'Estalien par le col) :</em> Bâtard !</p>
                <p class="replique pnj-estalien">L'Estalien (en se dégageant, aidé de ses comparses) : Personne né traite Juan Sanchez Villalobos De Ramirez dé bâtard y sourvit !</p>
                <p class="replique pnj-christian"><em>Christian (qui lui jette son gant au visage) :</em> Soit ! Demain, à la première heure ! Dans la clairière de Morr ! Prenez vos témoins !</p>
                <p class="replique pnj-estalien">L'Estalien (un sourire menaçant aux lèvres) : y toi, petit roquet... n'oublis pas les tiens !</p>
                <p class="replique pnj-christian"><em>Christian :</em> ils sont déjà là ! (Il désigne les PJs !)</p>
                <p class="replique pnj-pjs"><em>Les PJs :</em> (!?!)</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Démain, tou vas mourir !</p>
                <p class="replique pnj-christian"><em>Christian :</em> Ne comptez pas trop là-dessus Monseigneur (il appuie le "monseigneur" de tout son mépris).</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> En tant qué offensé, yé choisi lé pistolet...</p>
                <p class="replique pnj-christian"><em>Christian :</em> Comme il vous plaira Monseigneur !</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Alors à demain ! Vamos, allons boire dans ounà casa plus acceuillanté (il sort avec ses comparses, mais avant de passer la porte, il lance un regard étrange, menaçant de bête sauvage).</p>
                <p class="replique pnj-christian"><em>Christian (aux PJs) :</em> vous avez vu ? Cet abruti d'Estalien ne porte même pas de pistolet !</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p>Vous devez ici expliquer que <strong>les duels sont légaux à Middenheim, pourvu qu'ils aient lieu dans la clairière de Morr</strong>, un espace dégagé, non loin du pied du Fauschlag (le pic sur lequel est située Middenheim). <strong>Ils nécessitent les présences d'un membre de la guilde des notaires et d’un initié de Morr</strong>. On peut éventuellement y adjoindre un représentant du culte de Shallya, mais ce dernier point n’a rien d’obligatoire ! Il y a toujours au moins un initié de Morr près de l'oratoire qui se trouve dans la clairière. Quand au notaire, il va falloir le réveiller. Misons donc sur <strong>Maître Archibaldus Spitzfindig</strong> (ce qui signifie pointilleux) qui, lors de son réveil en fanfare prononcera ces mots qui resteront dans l'histoire :&nbsp;<em>« Par la divine providence de Véréna ! Encore un duel ! Avec quelles armes ? Pistolets ? Très bien, mais les balles et la poudre sont à la charge du perdant ! Plus de jeunesse, vraiment ! »</em></p>
                <p class="card-text">Christian, particulièrement optimiste, leur donne rendez-vous pour le lendemain, à la porte de l'ouest (gérer les conversations qui peuvent naître...) et tout le monde peut aller se coucher. Vous pouvez ici jouer la recherche d’un endroit où dormir pour les persos qui ne sont pas originaires de la cité... notez que la taverne de la Chope Moussue ne propose ni lit ni dortoir : ce n’est pas une auberge.</p>
            </div>
            <div class="card-body">
                <div class="bulle px-3">
                    <h5 class="card-title">Comment gérer ce chapitre ?</h5>
                    <p class="card-text">
                        Cette partie fonctionne en réalité comme une scène cinématique de jeu vidéo, ce ne sera pas un problème avec des joueurs débutants, qui auront tendance à se laisser porter par le début de l’aventure. Mais certaines réactions des PJs peuvent être gênantes pour la suite : par exemple, ils peuvent prendre à parti les Estaliens. Dans ce cas, faites intervenir la garde. Le ton montera toujours, mais il y aura moins de chances que cela dégénère en bataille rangée dans l’auberge. Pour les magiciens à l’incantation trop facile, rappelez-leur l’Ordonnance de Sorcellerie de Magnus (cf. les Royaumes de Sorcellerie) ainsi que le fait qu’il est impossible de lancer un sort discrètement.
                    </p>
                    <p class="card-text">
                        Mais surtout, pour la réussite du scénario, Christian ne doit pas donner d’informations précises sur Clara, comme son nom de famille ou le quartier où elle vit.
                        De même, si vous pensez que vos joueurs ne feront pas le lien entre Maître Kanter et Christian dans le chapitre III, n’hésitez pas à appuyer un peu plus sur leurs bonnes relations. Attention cependant à ne pas trop en faire. Le rapport ne doit pas paraître absolument évident.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <h3 class="card-title">Chapitre II : La clairière des duels</h3>
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">Le lendemain matin, très tôt (outch, j'espère que personne n'a trop bu la veille !). La brume matinale s'accroche encore désespérément aux troncs des arbres qui entourent la clairière. Quatre chevaux sont attachés près de la statue de Morr (sous sa forme de faucheur) qui marque l’entrée et sur laquelle est perchée une corneille. Les personnages s’avancent dans l’espace dégagé, suivis d'un Archibaldus Spitzfindig essoufflé et de son commis qui transporte tout le matériel nécessaire. Christian semble plus crispé que la veille, mais sa fierté l’empêche de reculer. Les estaliens sont déjà là, en compagnie de l'initié de Morr (un homme menu portant une bure noire sur laquelle brille le petit symbole argenté du Portail de la Mort). Derrière eux, on aperçoit les grilles de fer forgé qui marquent l'entrée d’une seconde clairière qui sert à l'inhumation des pauvres et des indigents dans des fosses communes. Près d'elles se trouvent deux hommes dépenaillés, des fossoyeurs, appuyés contre une charrette attelée à un petit âne noir.</p>
            </div>
            <div class="card-body">
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Yé failli attendré !</p>
                <p class="replique pnj-christian"><em>Christian :</em> Pressé de mourir ?</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Tou fais lé fier ! Tou lé féra moins au royaume dé Morr !</p>
                <p class="replique pnj-maitre"><em>Maître Spitzfindig :</em> Messieurs, messieurs ! Cette situation est déjà bien assez désagréable comme cela ! Alors restons dans le cadre strict de la loi ! </p>
                <p class="replique pnj-initie"><em>L'initié de Morr :</em> Et dans celui ô combien plus important du respect divin !</p>
                <p class="replique pnj-maitre"><em>Maître Spitzfindig :</em> Bien sûr, bien sûr ! Hum, et bien commençons ! Tout d'abord, messieurs, je dois vous demander si vous êtes tous les deux encore d'accord pour régler votre différend de cette manière et selon les conditions qui m'ont été rapportées... A savoir un duel d'honneur au pistolet.</p>
                <p class="replique pnj-estalien"><em>L'Estalien (immédiatement) :</em> Yé lé souis !</p>
                <p class="replique pnj-christian"><em>Christian (après une courte hésitation) :</em> Moi aussi !</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p class="replique pnj-maitre"><em>Maître Spitzfindig :</em> Bien, bien... Il me faut vos signatures ainsi que celles de vos témoins (son commis s'avance avec un parchemin qu'il fait signer par les différents partis. Tous les estaliens signent d'une croix... y compris Juan) ainsi que celle du représentant de l'église (qui signe). Ces pièces seront versées au greffe du palais de justice de la Cité... En cas de réclamation de l’un ou l'autre des partis ici présent... Messieurs, veuillez vous préparer !</p>
                <p class="replique pnj-initie"><em>L'initié de Morr :</em> Hum hum... (il cherche à attirer l’attention du notaire)</p>
                <p class="replique pnj-maitre"><em>Maître Spitzfindig :</em> Oh oui ! Pardonnez moi !</p>
                <p class="replique pnj-initie"><em>L'initié de Morr :</em> Mettez-vous à genoux, tous ! (Tout le monde le fait, enfin j'espère !) Que la très sainte miséricorde de Morr vous soit accordée, que sa bénédiction vous accompagne jusqu'à votre fin et au-delà, qu'elle vous protège de l'assassin et de la mort-vivance. N'oubliez jamais que son royaume se trouve à la fin de toute chose. Défiez-vous d'éveiller sa colère et ne succombez pas aux attraits maléfiques du Chaos. Benedictus amen ! Vous pouvez vous relever...</p>
                <p class="replique pnj-maitre"><em>Maître Spitzfindig :</em> Bien, bien ! Veuillez maintenant tous deux me remettre l'argent nécessaire à la poudre et aux balles <em>(on le lui donne... il recompte méticuleusement)</em> Parfait ! Cette avance sera rendue au vainqueur et je garderai celle du perdant. Gamin, présente-leur les armes (le commis s'approche avec une mallette noire. Il l'ouvre : elle contient deux pistolets de duel plutôt bien ouvragés. Tout le monde peut les contrôler, mais le chargement reste le problème des deux duellistes). Bien, vous pouvez vous préparer ! (Ici, Christian et Juan se débarrassent de leurs capes, de leurs chapeaux et de leurs vestes... Ils restent en chemise, blanche pour Christian et noire pour son adversaire).</p>
                <p class="replique pnj-christian"><em>Christian (pour lui, mais audible par les PJs) :</em> Clara... Je le fais pour toi mon amour... Tu seras fière de moi... Je défends notre honneur pour la première fois... (Il frissonne alors que le soleil se lève)</p>
            </div>
            <div class="card-body">
                <p class="card-text">Les deux duellistes restent au milieu de la clairière tandis que tout le monde s'écarte... L'initié de Morr s'éloigne en priant pour le salut de leurs âmes tout en manipulant longuement son rosaire. Le notaire est le dernier à s'éloigner. Il a donné les dernières consignes. Christian et Juan s'approchent l'un de l'autre puis se mettent dos à dos. Alors maître Spitzfindig se met à compter en criant. A chaque cri, les duellistes avancent d'un pas. 1 ! 2 ! 3 ! 4 ! 5 ! 6 ! 7 ! 8 ! 9 ! 10 ! A dix, les deux hommes se retournent... tendent le bras et visent ! Christian tremble légèrement. Il tire le premier. Des corneilles s'envolent. Tout de suite après, Juan ouvre le feu. Les deux hommes sont debout au milieu d'un peu de fumée blanche. La fumée finit de se dissiper. Ils sont toujours debout. Mais bientôt, Christian s'écroule en arrière. Juan est impassible, puis il s'avance vers Christian et lui crache dessus ajoutant "Hiro des puta, oune chémise neuve". Il passe ensuite le doigt dans le trou qu’a ouvert la balle de Christian dans sa manche...</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">Que font les PJs ? A priori, ils sont sensés se précipiter au secours du blessé. Christian gît sur le dos, une tache sanglante en forme de fleur s'est formée au niveau de son cœur sur sa belle chemise blanche. Il essaie de parler au personnage le plus proche.</p>
                <p class="card-text">Christian (à l'agonie) : J'ai joué et j'ai... perdu... Clara ! Où es tu ? (il agrippe la chemise du PJ) promets-moi... que tu donneras... ma chevalière... à Clara... en gage de mon amour... Et dis-lui... que je la verrai dès que je serai... remis... Je vous invite... mariage... Promets-moi !</p>
                <p class="card-text">Dès que la promesse est donnée, Christian s'éteint dans un gargouillis sanglant... Si les PJs semblent donner l'impression de vouloir garder la chevalière pour eux (qui après tout doit valoir quelques centaines de couronnes d'or) l'initié de Morr leur fera remarquer qu'une promesse faite à un mourant est sacrée aux yeux de la divinité et qu'il serait très présomptueux de ne pas en tenir compte. Les deux hommes qui attendaient près de là, avec leur charrette, viennent chercher le corps. L'initié de Morr leur réclame ensuite deux pièces de cuivre pour payer l'inhumation dans la fosse commune ainsi que la courte cérémonie (si un PJ propose de payer des funérailles plus belles, l'initié lui explique qu'en tant que mort lors d'un duel, Christian, même noble, n'a pas le droit d'être enterré autre part car il a fait venir sur lui, consciemment, le regard de Morr)... Entre temps, Juan et ses acolytes partent, après avoir récupéré leur argent auprès du notaire. Alors qu'ils passent près des PJs, ceux-ci peuvent remarquer leur air particulièrement satisfait. Juan se permet même de faire une révérence aux éventuelles demoiselles du groupe.</p>
                <p class="card-text">Il est temps de retourner en ville et de se mettre à la recherche de cette Clara dont ils ne savent presque rien...</p>
                <p class="card-text"></p>
            </div>
            <div class="card-body">
                <div class="bulle px-3">
                    <h5 class="card-title">Comment gérer ce chapitre ?</h5>
                    <p class="card-text">
                        Pas grand-chose a ajouter par rapport à la première partie, les conseils donnés restent valables. Essayez au maximum de faire passer l’émotion lors du duel ainsi qu’au moment où Christian rend l’âme. Pour ceux d’entre vous qui jouent en musique, je ne peux ici que vous conseiller d’utiliser la BO du film Barry Lindon... Elle contient des pistes particulièrement appropriées.
                    </p>
                    <p class="card-text">
                        Il se peut qu’avec un groupe de joueurs expérimentés, vous soyez confronté à un problème de motivation : pourquoi donc rechercher cette fille alors qu’ils n’y ont aucun intérêt ? Dans ce cas, jouez la carte de la religion. Après tous, ils ont fait un serment devant Morr... Une simple corneille qui les suit partout et les observe avec un air bizarre (pour une corneille !) devrait suffire à les garder dans le droit chemin. Si cela ne fonctionne pas, à vous de voir pour l’utilisation de moyens plus radicaux (perte d’un point de destin, changer de joueurs ?)
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>