@page "/scenarios/la-fleur-de-sang/"

@using BlazorWjdr.Services

@inject ScenariosService _scenariosService

<MainTopRow Title="La Fleur de Sang"/>

<div class="content px-4">

    <h3 class="card-title">Introduction</h3>
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">Une clairière éclairée par la lune. Sur une statue allégorique de la mort, une corneille est perchée. Derrière elle, on peut apercevoir un cimetière. Tout à coup, l'oiseau décolle. Il se dirige vers une immense muraille de rocs et se met à monter, monter... Soudain, il passe par dessus les murs d'une cité posée au sommet de l'immense piton rocheux. Les multiples lueurs issues de la vie humaine passent lentement sous les ailes noires de l’oiseau... Une voix s'élève dans la nuit. C'est celle d'une personne très âgée :</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">
                    <em>« Arrivé au terme de ma vie, désormais chenu et vieilli comme le monde, je m'apprête à laisser sur ce parchemin le témoignage des faits admirables et terribles auxquels j'ai assisté dans ma jeunesse. Que les Dieux m'accordent la sagesse et la grâce d'être le témoin transparent des événements qui survinrent dans la Cité de Middenheim, au plus sombre du nord de l'Empire. Mon histoire débute vers la fin de l'automne de l'année de Sigmar 2502 et comme beaucoup de grandes histoires en ce monde, celle-ci débute dans la pénombre d'une taverne enfumée... »</em>
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">A ce moment là, la corneille se pose délicatement sur le toit d'une taverne. La caméra entre à l'intérieur de la bâtisse en traversant le carreau teinté d'une fenêtre...</p>
            </div>
        </div>
    </div>

    <h3 class="card-title">Chapitre I : La Taverne de la Chope Moussue</h3>
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                <p class="card-text"><em>Le lieu :</em> une taverne de bonne réputation dans le quartier bourgeois du Nord Ouest de Middenheim.</p>
                <p class="card-text">Au départ, les PJs se trouvent dans la taverne de la Chope Moussue, dont le propriétaire est Maître Kanter. Ils viennent certainement d’horizons différents, mais, par manque de place, ils sont obligés de se regrouper à la même tablée. Normalement, à ce stade, la difficulté pour qu’ils se lient doit être importante. Profitez donc de ce moment pour qu’ils se présentent, aient quelques interactions avec le personnel, voire qu’ils participent au concours organisé par Maître Kanter (quiconque veut participer raconte une histoire. Le vainqueur ne paye pas ses boissons). Quel que soit le nombre de PJs, il reste une place de libre à la table. Un jeune homme, visiblement de noble naissance, rentre. Pour sa description, souvenez vous de Vincent Pérez dans la Reine Margot, en plus coloré. Détail notable : il porte une bague sertie d’une grosse pierre bleue. Donc, cet homme entre et lance à la cantonade avec un fort accent du Reikland : "Mes amis, ce soir, tournée générale ! Je suis amoureux et l'amour donne soif !". Après quelques instants de liesses dans la salle (quels soiffards !), il vient s'asseoir, les bras chargés de chopes, à la dernière place de libre, près des PJs.</p>
                <p class="card-text">Là, il engage la conversation avec eux en se présentant : "Christian Von Maule, pour vous servir" ce qui donne le moyen de faire parler les PJs entre eux et de faire en sorte qu'ils se lient encore un peu plus. Quant à Christian, son sujet de prédilection est une certaine Clara, "belle comme un ange de Shallya, à la longue chevelure couleur de blés mûrs, aux yeux limpides comme un ciel d'été...". Aujourd'hui, après avoir réussi à discrètement se rencontrer dans un parc de Middenheim (le Grand Parc) ils ont résolu en secret de partir et de se marier. Partir, oui, car les parents de Clara sont résolument contre ce mariage, peut-être ont-ils d'autres projets pour elle, et il est vrai que Christian n'est que le cadet d'une petite famille. Ils doivent se revoir le lendemain pour mettre au point "l'enlèvement" de la jeune femme. Au fur et à mesure de la discussion, alors que la soirée avance, quelques tables se libèrent...</p>
                <p class="card-text">Soudain, au milieu de la conversation, une demi-douzaine d'individus à la mine louche entre dans la salle. Parmi eux, un homme bien habillé qui ressemble à un noble estalien (Il est vêtu de noir, porte le bouc finement taillé et arbore une impressionnante cicatrice sur la joue gauche). Un des hommes qui l'accompagne désigne la table libre la plus proche de celle des PJs et le groupe se dirige vers elle. Arrivé à la hauteur de Christian, l'Estalien trébuche légèrement et le percute. De la bière gicle sur les vêtements sombres du balafré... Et c'est le drame ! Il sort à demi son épée du fourreau avant qu'un de ses hommes ne le retienne. Christian, éméché, semble consterné. Le silence se fait dans la taverne, la tension monte. Maître Kanter, l'aubergiste, se fraye un chemin vers la table...</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <h5 class="card-title">La tirade</h5>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Tou vas régrétter ta maladresse, Hombre ! Tou n'as même pas idée dou prix d'oune telle vétoure !</p>
                <p class="replique pnj-christian"><em>Christian :</em> Un gentilhomme commence par se présenter, Je suis Christian Von Maule, pour vous servir.</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Y moi, yé souis Juan Sanchez Villalobos de Ramirez et y'attend réparacion dé cette insoulte qué a été faite à mia personna.</p>
                <p class="replique pnj-christian"><em>Christian :</em> Ne s'excuse pas l'innocent et...</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Il souffit !</p>
                <p class="kanter"><em>Maître Kanter :</em> Allez Messeigneurs, laissez-moi donc vous offrir une autre bière histoire d'oublier ce malheureux incident...</p>
                <p class="replique pnj-christian"><em>Christian :</em> Vous n'êtes pas obligé ! Je peux régler ce problème moi-même !</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Quelle impoudanza !</p>
                <p class="replique pnj-kanter"><em>Maître Kanter (tout bas à Christian) :</em> Voyons Christian ! Je connais ce genre d'individus, il ne faut pas les provoquer ! Pensez à votre fiancée !</p>
                <p class="replique pnj-christian"><em>Christian :</em> Je...</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Oune fiancée ! Cé misérablé petit étron à réoussi à sédouir oune femme ! (Rires gras de ses compagnons) Il faudra qué yé loui rende visite quand y'en aurai fini avec loui ! Elle vérra la différenza ! (Nouveaux rire gras)</p>
                <p class="replique pnj-christian"><em>Christian (qui se lève d'un bond et agrippe l'Estalien par le col) :</em> Bâtard !</p>
                <p class="replique pnj-estalien">L'Estalien (en se dégageant, aidé de ses comparses) : Personne né traite Juan Sanchez Villalobos De Ramirez dé bâtard y sourvit !</p>
                <p class="replique pnj-christian"><em>Christian (qui lui jette son gant au visage) :</em> Soit ! Demain, à la première heure ! Dans la clairière de Morr ! Prenez vos témoins !</p>
                <p class="replique pnj-estalien">L'Estalien (un sourire menaçant aux lèvres) : y toi, petit roquet... n'oublis pas les tiens !</p>
                <p class="replique pnj-christian"><em>Christian :</em> ils sont déjà là ! (Il désigne les PJs !)</p>
                <p class="replique pnj-pjs"><em>Les PJs :</em> (!?!)</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Démain, tou vas mourir !</p>
                <p class="replique pnj-christian"><em>Christian :</em> Ne comptez pas trop là-dessus Monseigneur (il appuie le "monseigneur" de tout son mépris).</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> En tant qué offensé, yé choisi lé pistolet...</p>
                <p class="replique pnj-christian"><em>Christian :</em> Comme il vous plaira Monseigneur !</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Alors à demain ! Vamos, allons boire dans ounà casa plus acceuillanté (il sort avec ses comparses, mais avant de passer la porte, il lance un regard étrange, menaçant de bête sauvage).</p>
                <p class="replique pnj-christian"><em>Christian (aux PJs) :</em> vous avez vu ? Cet abruti d'Estalien ne porte même pas de pistolet !</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p>Vous devez ici expliquer que <strong>les duels sont légaux à Middenheim, pourvu qu'ils aient lieu dans la clairière de Morr</strong>, un espace dégagé, non loin du pied du Fauschlag (le pic sur lequel est située Middenheim). <strong>Ils nécessitent les présences d'un membre de la guilde des notaires et d’un initié de Morr</strong>. On peut éventuellement y adjoindre un représentant du culte de Shallya, mais ce dernier point n’a rien d’obligatoire ! Il y a toujours au moins un initié de Morr près de l'oratoire qui se trouve dans la clairière. Quand au notaire, il va falloir le réveiller. Misons donc sur <strong>Maître Archibaldus Spitzfindig</strong> (ce qui signifie pointilleux) qui, lors de son réveil en fanfare prononcera ces mots qui resteront dans l'histoire :&nbsp;<em>« Par la divine providence de Véréna ! Encore un duel ! Avec quelles armes ? Pistolets ? Très bien, mais les balles et la poudre sont à la charge du perdant ! Plus de jeunesse, vraiment ! »</em></p>
                <p class="card-text">Christian, particulièrement optimiste, leur donne rendez-vous pour le lendemain, à la porte de l'ouest (gérer les conversations qui peuvent naître...) et tout le monde peut aller se coucher. Vous pouvez ici jouer la recherche d’un endroit où dormir pour les persos qui ne sont pas originaires de la cité... notez que la taverne de la Chope Moussue ne propose ni lit ni dortoir : ce n’est pas une auberge.</p>
            </div>
            <div class="card-body">
                <div class="bulle px-3">
                    <h5 class="card-title">Comment gérer ce chapitre ?</h5>
                    <p class="card-text">
                        Cette partie fonctionne en réalité comme une scène cinématique de jeu vidéo, ce ne sera pas un problème avec des joueurs débutants, qui auront tendance à se laisser porter par le début de l’aventure. Mais certaines réactions des PJs peuvent être gênantes pour la suite : par exemple, ils peuvent prendre à parti les Estaliens. Dans ce cas, faites intervenir la garde. Le ton montera toujours, mais il y aura moins de chances que cela dégénère en bataille rangée dans l’auberge. Pour les magiciens à l’incantation trop facile, rappelez-leur l’Ordonnance de Sorcellerie de Magnus (cf. les Royaumes de Sorcellerie) ainsi que le fait qu’il est impossible de lancer un sort discrètement.
                    </p>
                    <p class="card-text">
                        Mais surtout, pour la réussite du scénario, Christian ne doit pas donner d’informations précises sur Clara, comme son nom de famille ou le quartier où elle vit.
                        De même, si vous pensez que vos joueurs ne feront pas le lien entre Maître Kanter et Christian dans le chapitre III, n’hésitez pas à appuyer un peu plus sur leurs bonnes relations. Attention cependant à ne pas trop en faire. Le rapport ne doit pas paraître absolument évident.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <h3 class="card-title">Chapitre II : La clairière des duels</h3>
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">Le lendemain matin, très tôt (outch, j'espère que personne n'a trop bu la veille !). La brume matinale s'accroche encore désespérément aux troncs des arbres qui entourent la clairière. Quatre chevaux sont attachés près de la statue de Morr (sous sa forme de faucheur) qui marque l’entrée et sur laquelle est perchée une corneille. Les personnages s’avancent dans l’espace dégagé, suivis d'un Archibaldus Spitzfindig essoufflé et de son commis qui transporte tout le matériel nécessaire. Christian semble plus crispé que la veille, mais sa fierté l’empêche de reculer. Les estaliens sont déjà là, en compagnie de l'initié de Morr (un homme menu portant une bure noire sur laquelle brille le petit symbole argenté du Portail de la Mort). Derrière eux, on aperçoit les grilles de fer forgé qui marquent l'entrée d’une seconde clairière qui sert à l'inhumation des pauvres et des indigents dans des fosses communes. Près d'elles se trouvent deux hommes dépenaillés, des fossoyeurs, appuyés contre une charrette attelée à un petit âne noir.</p>
            </div>
            <div class="card-body">
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Yé failli attendré !</p>
                <p class="replique pnj-christian"><em>Christian :</em> Pressé de mourir ?</p>
                <p class="replique pnj-estalien"><em>L'Estalien :</em> Tou fais lé fier ! Tou lé féra moins au royaume dé Morr !</p>
                <p class="replique pnj-maitre"><em>Maître Spitzfindig :</em> Messieurs, messieurs ! Cette situation est déjà bien assez désagréable comme cela ! Alors restons dans le cadre strict de la loi ! </p>
                <p class="replique pnj-initie"><em>L'initié de Morr :</em> Et dans celui ô combien plus important du respect divin !</p>
                <p class="replique pnj-maitre"><em>Maître Spitzfindig :</em> Bien sûr, bien sûr ! Hum, et bien commençons ! Tout d'abord, messieurs, je dois vous demander si vous êtes tous les deux encore d'accord pour régler votre différend de cette manière et selon les conditions qui m'ont été rapportées... A savoir un duel d'honneur au pistolet.</p>
                <p class="replique pnj-estalien"><em>L'Estalien (immédiatement) :</em> Yé lé souis !</p>
                <p class="replique pnj-christian"><em>Christian (après une courte hésitation) :</em> Moi aussi !</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p class="replique pnj-maitre"><em>Maître Spitzfindig :</em> Bien, bien... Il me faut vos signatures ainsi que celles de vos témoins (son commis s'avance avec un parchemin qu'il fait signer par les différents partis. Tous les estaliens signent d'une croix... y compris Juan) ainsi que celle du représentant de l'église (qui signe). Ces pièces seront versées au greffe du palais de justice de la Cité... En cas de réclamation de l’un ou l'autre des partis ici présent... Messieurs, veuillez vous préparer !</p>
                <p class="replique pnj-initie"><em>L'initié de Morr :</em> Hum hum... (il cherche à attirer l’attention du notaire)</p>
                <p class="replique pnj-maitre"><em>Maître Spitzfindig :</em> Oh oui ! Pardonnez moi !</p>
                <p class="replique pnj-initie"><em>L'initié de Morr :</em> Mettez-vous à genoux, tous ! (Tout le monde le fait, enfin j'espère !) Que la très sainte miséricorde de Morr vous soit accordée, que sa bénédiction vous accompagne jusqu'à votre fin et au-delà, qu'elle vous protège de l'assassin et de la mort-vivance. N'oubliez jamais que son royaume se trouve à la fin de toute chose. Défiez-vous d'éveiller sa colère et ne succombez pas aux attraits maléfiques du Chaos. Benedictus amen ! Vous pouvez vous relever...</p>
                <p class="replique pnj-maitre"><em>Maître Spitzfindig :</em> Bien, bien ! Veuillez maintenant tous deux me remettre l'argent nécessaire à la poudre et aux balles <em>(on le lui donne... il recompte méticuleusement)</em> Parfait ! Cette avance sera rendue au vainqueur et je garderai celle du perdant. Gamin, présente-leur les armes (le commis s'approche avec une mallette noire. Il l'ouvre : elle contient deux pistolets de duel plutôt bien ouvragés. Tout le monde peut les contrôler, mais le chargement reste le problème des deux duellistes). Bien, vous pouvez vous préparer ! (Ici, Christian et Juan se débarrassent de leurs capes, de leurs chapeaux et de leurs vestes... Ils restent en chemise, blanche pour Christian et noire pour son adversaire).</p>
                <p class="replique pnj-christian"><em>Christian (pour lui, mais audible par les PJs) :</em> Clara... Je le fais pour toi mon amour... Tu seras fière de moi... Je défends notre honneur pour la première fois... (Il frissonne alors que le soleil se lève)</p>
            </div>
            <div class="card-body">
                <p class="card-text">Les deux duellistes restent au milieu de la clairière tandis que tout le monde s'écarte... L'initié de Morr s'éloigne en priant pour le salut de leurs âmes tout en manipulant longuement son rosaire. Le notaire est le dernier à s'éloigner. Il a donné les dernières consignes. Christian et Juan s'approchent l'un de l'autre puis se mettent dos à dos. Alors maître Spitzfindig se met à compter en criant. A chaque cri, les duellistes avancent d'un pas. 1 ! 2 ! 3 ! 4 ! 5 ! 6 ! 7 ! 8 ! 9 ! 10 ! A dix, les deux hommes se retournent... tendent le bras et visent ! Christian tremble légèrement. Il tire le premier. Des corneilles s'envolent. Tout de suite après, Juan ouvre le feu. Les deux hommes sont debout au milieu d'un peu de fumée blanche. La fumée finit de se dissiper. Ils sont toujours debout. Mais bientôt, Christian s'écroule en arrière. Juan est impassible, puis il s'avance vers Christian et lui crache dessus ajoutant "Hiro des puta, oune chémise neuve". Il passe ensuite le doigt dans le trou qu’a ouvert la balle de Christian dans sa manche...</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">Que font les PJs ? A priori, ils sont sensés se précipiter au secours du blessé. Christian gît sur le dos, une tache sanglante en forme de fleur s'est formée au niveau de son cœur sur sa belle chemise blanche. Il essaie de parler au personnage le plus proche.</p>
                <p class="replique pnj-christian"><em>Christian (à l'agonie) :</em> J'ai joué et j'ai... perdu... Clara ! Où es tu ? (il agrippe la chemise du PJ) promets-moi... que tu donneras... ma chevalière... à Clara... en gage de mon amour... Et dis-lui... que je la verrai dès que je serai... remis... Je vous invite... mariage... Promets-moi !</p>
                <p class="card-text">Dès que la promesse est donnée, Christian s'éteint dans un gargouillis sanglant... Si les PJs semblent donner l'impression de vouloir garder la chevalière pour eux (qui après tout doit valoir quelques centaines de couronnes d'or) l'initié de Morr leur fera remarquer qu'une promesse faite à un mourant est sacrée aux yeux de la divinité et qu'il serait très présomptueux de ne pas en tenir compte. Les deux hommes qui attendaient près de là, avec leur charrette, viennent chercher le corps. L'initié de Morr leur réclame ensuite deux pièces de cuivre pour payer l'inhumation dans la fosse commune ainsi que la courte cérémonie (si un PJ propose de payer des funérailles plus belles, l'initié lui explique qu'en tant que mort lors d'un duel, Christian, même noble, n'a pas le droit d'être enterré autre part car il a fait venir sur lui, consciemment, le regard de Morr)... Entre temps, Juan et ses acolytes partent, après avoir récupéré leur argent auprès du notaire. Alors qu'ils passent près des PJs, ceux-ci peuvent remarquer leur air particulièrement satisfait. Juan se permet même de faire une révérence aux éventuelles demoiselles du groupe.</p>
                <p class="card-text">Il est temps de retourner en ville et de se mettre à la recherche de cette Clara dont ils ne savent presque rien...</p>
                <p class="card-text"></p>
            </div>
            <div class="card-body">
                <div class="bulle px-3">
                    <h5 class="card-title">Comment gérer ce chapitre ?</h5>
                    <p class="card-text">
                        Pas grand-chose a ajouter par rapport à la première partie, les conseils donnés restent valables. Essayez au maximum de faire passer l’émotion lors du duel ainsi qu’au moment où Christian rend l’âme. Pour ceux d’entre vous qui jouent en musique, je ne peux ici que vous conseiller d’utiliser la BO du film Barry Lindon... Elle contient des pistes particulièrement appropriées.
                    </p>
                    <p class="card-text">
                        Il se peut qu’avec un groupe de joueurs expérimentés, vous soyez confronté à un problème de motivation : pourquoi donc rechercher cette fille alors qu’ils n’y ont aucun intérêt ? Dans ce cas, jouez la carte de la religion. Après tous, ils ont fait un serment devant Morr... Une simple corneille qui les suit partout et les observe avec un air bizarre (pour une corneille !) devrait suffire à les garder dans le droit chemin. Si cela ne fonctionne pas, à vous de voir pour l’utilisation de moyens plus radicaux (perte d’un point de destin, changer de joueurs ?)
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="card-title">Chapitre III : A la recherche d'un Ange...</h3>
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">
                    Les lieux : plusieurs endroits dans l'ouest de la cité de Middenheim.
                </p>
                <p class="card-text">
                    Comment retrouver Clara ? Plusieurs pistes s'ouvrent ici pour les PJs. Elles vont être décrites les unes après les autres : le hasard, le Grand Parc et la taverne (la troisième est la bonne, et il y a de fortes chance que les joueurs y pensent tout de suite, il ne faut pas oublier qu'il s'agit là d'un scénario d'introduction !)
                </p>
                <p class="card-text">
                    <strong>Piste 1, le hasard :</strong> Partir au hasard dans la cité en cherchant une fille de bonne famille s'appelant Clara... Possible mais très long et avec de multiples possibilités d'erreurs. De plus, s'ils la retrouvent enfin, il sera trop tard pour elle (mais peut-être pas pour dénoncer sa "famille"). Si vos joueurs choisissent cette solution, autant en changer ! 
                </p>
                <p class="card-text">
                    <strong>Piste 2, le Grand Parc :</strong> un peu plus subtile que la précédente (mais pas tellement mieux !). Les PJs peuvent espérer que Christian et la jeune femme avaient rendez-vous aujourd'hui dans le parc... Et ils auraient raison. Malheureusement, Clara est séquestrée et si les personnages mettent trop de temps à la retrouver, elle finira de la même manière qu'avec la première piste. S'ils décrivent les tourtereaux à un habitué du lieu (milicien, marchand de douceurs, mère de famille, enfant), ils pourront peut-être apprendre que ces jeunes gens se retrouvaient <span class="insister">près d'un kiosque à musique</span>. Personne ne les a jamais vus parler ensemble, mais ils se lançaient des regards sans équivoque, si bien qu'hier matin, le chaperon de la jeune femme les a remarqués et a obligé Clara à partir (en réalité, ils se passaient des petits billets tandis que la servante, mélomane, écoutait la musique). On se souvient, que tous deux arrivaient à quelques minutes d'intervalle de <span class="insister">l'entrée ouest du parc</span>. En fait, Christian louait une petite chambre dans la rue qui mène au parc pour pouvoir observer l'arrivée de Clara.
                </p>
                <p class="card-text"> 
                    <strong>Piste 3, la taverne :</strong> les PJs peuvent se souvenir que maître Kanter, le tavernier, avait l'air de connaître Christian... et pour cause, puisque le jeune homme, depuis qu'il était à Middenheim était l'un de ses habitués. Il l'appréciait beaucoup et sera très peiné en apprenant qu'il est mort. Du coup, il fera tout son possible pour aider les personnages : <em class="pnj-kanter">« Un si gentil jeune homme... et pas comme tous ces nobles plein de morgue. Si simple ! Ah, s'il m'avait écouté ! Je lui avais bien dit de ne pas se frotter avec ce maudit tiléen ! Estalien ? C'est du pareil au même ! Pauvre garçon ! Et sa Clara ! Que va-t-elle devenir ? ».</em> Bon, autant le dire tout de suite, il ne sait pas qui elle peut bien être. Il ne l'a jamais vu et Christian ne lui en a pas dit beaucoup plus qu'aux PJs, si ce n'est qu'elle est originaire d'une famille bourgeoise. Par contre il peut donner l'adresse d'un ami de Christian, <span class="insister">un poète bretonnien du nom d'Hercules de Savignac</span>, à qui il aura, c'est sûr, dit beaucoup plus de choses. 
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <h5 class="card-title">Hercules de Savignac</h5>
                <p class="card-text">
                    Quand les PJs trouvent Hercules de Savignac, il est <span class="insister">au lit dans une chambre de bonne</span>, se remettant consciencieusement d'une gueule de bois de trois jours ! Il n'a rien à voir avec ce que les PJs peuvent imaginer du noble bretonnien (et après tout, l'est t'il vraiment ?), il reste pendant toute la conversation en chemise de nuit avec <span class="insister">deux donzelles dénudées</span> et pas très finaudes à ses côtés qui tentent sans grand succès de remonter un drap trop petit sur les parties charnues de leur anatomie. Lui aussi est très <span class="insister">attristé de la disparition de son ami</span> et très vite de grosses larmes se mettent à couler le long de son immense nez. Voilà ce que ce véritable colosse pourra leur apprendre entre deux crises de larmes et une rasade de cognac : <span class="insister">Clara est la fille adoptive d'une famille de riches marchands drapiers</span> du quartier de la porte ouest. Christian lui a dit il y a quelques jours qu'elle était <span class="insister">maltraitée</span> et qu'elle ne pensait qu'à fuir de chez elle. Il ne se rappelle plus de son nom de famille, mais l'enseigne des drapiers représente un sceptre vert autour duquel s'enroule une pièce de tissu : <em>« les Mundtun, ou Mundtach ou un truc comme ça »</em> (en réalité les Mundtuch). Très vite, Hercules se saoule de nouveau et n'est plus bon à rien, les filles s'occupent de lui et font sortir les pjs...
                    <TooltipIcon Text="Dans le doute, au cas où les PJs s'en inquiéteraient, Hercules n'est pour rien dans cette histoire, c'est juste un fêtard qui abuse un peu (beaucoup) trop de la bouteille."/>
                </p>
                <h5 class="card-title">La maison Mundtuch</h5>
                <p class="card-text">
                    Trouver l’imposante maison Mundtuch est maintenant un jeu d'enfant, il leur suffit de <span class="insister">se renseigner dans les rues ou chez des commerçants</span>. En arrivant devant la <span class="insister">grande bâtisse au colombage typiquement impérial</span>, les PJs voient <span class="insister">Juan et ses acolytes</span> en sortir ! Toujours très satisfaits de leur journée, ceux-ci ne les remarquent pas (les PJs peuvent donc les suivre s'ils le veulent mais dans ce cas, ils ne vont que dépenser une partie de leur argent bien mal acquis dans une taverne proche).
                </p>
                <p class="card-text">
                    Mais comment trouver Clara ? Simplement demander à la voir ne suffira évidemment pas, les <span class="insister">domestiques prétextent qu'elle est souffrante</span> et qu'elle ne peut pas recevoir ("et d'ailleurs qui êtes vous ? Cessez de nous importuner ou nous appelons le guet !").
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">
                    S'ils questionnent discrètement les <span class="insister">voisins</span>, sans avoir l'air de vouloir savoir absolument quelque chose, ils apprendront que <em>"cette maladie de la petite, c'est bien du malheur, les pauvres gens voici pas vingt ans, ils perdaient aussi une fille adoptive ! Mais c'est des braves gens, alors ils ont décidé de faire le bonheur d'une autre orpheline"</em>. Ils peuvent doucement interroger une <span class="insister">jeune servante de la famille de retour du marché</span>. Ils apprendront ainsi que <em>"Monsieur, Madame, ainsi que Mademoiselle Clara sont partis très tôt ce matin avec le carrosse"</em>. Elle n'en sait pas plus : <em>"c'est étrange d'ailleurs, la pauvre est si faible depuis le début de sa maladie (hier après midi), je crois qu'ils l'ont emmenée chez un médecin réputé du centre de la cité"</em>. Bien sûr, c'est une fausse piste, les Mundtuch ont aussi abusé une partie de leur personnel, ceux en qui ils ne peuvent pas encore avoir une confiance totale. En réalité, la pauvre Clara a été emmenée (elle est droguée depuis la veille ce qui explique sa "maladie") dans l'entrepôt de la famille, près de la porte ouest car des choses inavouables doivent s'y dérouler. <span class="insister">S'ils se renseignent un petit peu dans la rue</span>, ils apprendront rapidement que le carrosse n'est pas parti vers le centre mais <span class="insister">vers l'ouest</span> et que justement, la famille Mundtuch possède <span class="insister">un entrepôt à l'entrée de la ville</span>.
                </p>
            </div>
            <div class="card-body">
                <div class="bulle px-3">
                    <h5 class="card-title">Comment gérer ce chapitre ?</h5>
                    <p class="card-text">
                        Si les joueurs vont trop vite, faites en sorte que les choses traînent en longueur tout en les stressant au maximum. Mettez-leur des contretemps dans les pattes. Pour cela, utilisez leurs histoires personnelles, jouez sur l’humeur de leurs interlocuteurs, sur les absences des gens (Maître Kanter n’est pas là la première fois qu’ils vont le voir etc.) L’important est qu’ils se dirigent vers l’entrepôt à la tombée de la nuit.    
                    </p>
                    <p class="card-text">
                        De plus, évitez un affrontement précoce avec Juan et ses hommes même s’il est vrai qu’en pleine ville, les protagonistes seront rapidement séparés par le guet. Qui plus est, les PJs auront tout le mal du monde à se justifier, après tout, le duel était parfaitement légal.
                    </p>
                    <p class="card-text">
                        Enfin, dans le cadre d’un scénario d’introduction, vous pouvez profiter de leurs déplacements pour ajouter une scène avec un prophète des rues qui leur révélera de façon cryptique, et entre deux « c’est la fin du monde ! », une partie de leur futur (si vous en avez une idée !).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="card-title">Chapitre IV : La Vérité</h3>
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                <p class="card-text">
                    <em>Le lieu :</em> l'entrepôt se trouve dans le quartier de Sudgarten, à la limite avec les ruelles malfamées de l'Ostwald. Autant dire que l'on entre quasiment dans un autre monde : les pauvres se font plus présents et les mendiants regardent les PJs d'un oeil torve (surtout les borgnes !). Petit à petit, les rues se sont vidées au point de paraître désertes.
                </p>
                <p class="card-text">
                    Quand les personnages arrivent devant l'entrepôt, <span class="insister">Juan monte la garde avec deux à cinq de ses hommes</span> (selon l’expérience de vos joueurs et de leurs personnages). Ils se tiennent <span class="insister">dans l'ombre d'une ruelle</span> toute proche et il est probable que, l’obscurité aidant, les PJs ne les voient pas tout de suite. On lui a ordonné d'empêcher quiconque d'entrer.
                    <TooltipIcon Text="En réalité, il ne sait pas ce qui se trame à l'intérieur de la bâtisse et du moment que la paye est bonne il ne posera pas de questions (en fait, il soupçonne une quelconque conspiration de guilde, mais rien de plus. D'ailleurs, il n'a pas vu qui se trouvait dans le carrosse)."/>
                    Dès qu’il reconnaît les PJs, il se lance à l'attaque sans chercher à discuter. Si tuer ne le gène absolument pas, mourir oui : il fuira dès que la moitié de ses hommes seront hors de combat et/ou que lui-même aura encaissé un coup critique. Le guet n'interviendra pas : on lui a suffisamment graissé la patte pour qu'il ne vienne pas y voir de plus près (évidement, si des éclairs magiques et autres boules de feux apparaissent, cette fois, les forces de l'ordre se dépêcheront d'intervenir... en 1D10+2 minutes !)
                </p>
                <p class="card-text">
                    Quand ce problème est réglé, les PJs peuvent enfin entrer dans l'entrepôt. Au dessus d’eux, perchée sur le toit, ils remarquent <span class="insister">une corneille qui semble les observer</span> avec curiosité. Il s’agit d’un présage : de par leur serment à un mourant, ils sont sous le regard de Morr...
                </p>
                <p class="card-text">
                    Dans l'entrepôt, tout est calme. Le <span class="insister">carrosse</span> est stationné près de l'entrée, les <span class="insister">chevaux</span> ont juste l'air particulièrement nerveux. De <span class="insister">grands ballots de draps</span> sont disposés partout le long des murs. Vers le fond, dans un renfoncement, se trouve <span class="insister">une trappe fermée</span>. Elle n'est pas verrouillée mais <span class="insister">des sons inquiétants, comme une curieuse mélopée</span>, semblent monter des entrailles du sous-sol. Si les PJs l'ouvrent, ils découvrent une échelle qui descend dans le noir. En bas se trouve un court couloir de pierre qui mène à une lourde porte entrebâillée. Des lueurs inquiétantes se reflètent sur les parois du corridor (ici, l'éventuel "sens de la magie" des PJs s'affole !)
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <h5 class="card-title">En sous-sol...</h5>
                <p class="card-text">
                    Quand les personnages poussent la porte, ils tombent sur une scène des plus inquiétantes : <span class="insister">une jeune femme nue et inconsciente</span>, correspondant au signalement de Clara, est étendue sur une sorte d'autel en bois massif. Son corps enchaîné est recouvert de peintures aux teintes les plus criardes possibles. Un peu partout, <span class="insister">des bougies noires</span> sont allumées. Des personnes se tiennent près de la jeune femme : <span class="insister">deux vieillards</span> (Hector et Helga) vêtus de longues robes noires qui <span class="insister">psalmodient derrière l'autel</span>, face à un brasero de métal, ainsi que <span class="insister">quelques autres silhouettes encapuchonnées</span> qui se tiennent dos à l’entrée, devant l'autel (des serviteurs de la familles et accessoirement cultistes eux aussi). Du brasero s'élève <span class="insister">une fumée</span> qui oscille entre le pourpre et le rose pâle... Et au sein même de cette fumée semblent apparaître <span class="insister">des visages aux rictus de fous</span>. Des ricanements et de long soupirs se font entendre, suivis parfois de râles de plaisir déments... <span class="insister">Test de Sang-froid</span> pour tout le monde, au risque de prendre 1 point de folie en cas d’échec !
                </p>
                <p class="card-text">
                    Au moment où les personnages entrent, le vieillard se retourne et se prépare à plonger un poignard dans le cœur de Clara... Combat ! Les serviteurs ne cherchent qu'à s'enfuir alors que leurs maître et maîtresse combattent jusqu'à la mort car ils comprennent bien qu'ils n'ont plus rien à perdre.
                </p>
                <p class="card-text">
                    Dès que <span class="insister">Clara est libre</span>, la fumée démoniaque du brasero se dissipe, tandis que retentit un ricanement sinistre suivit d'une voix susurrante à la beauté perverse : "X âmes pour mon Maître Slaanesh..." (Le X est égal au nombre de morts dans la pièce)
                </p>
                <p class="card-text">
                    Dans le cas où les personnages n'empêcheraient pas Hector de sacrifier Clara, le rituel serait accompli, la fumée du brasero se solidifiant pour former une démonette de Slaanesh qui se joindrait aux forces des cultistes pour achever les PJs (dommage !). Notez que dans ce cas de figure, les serviteurs cultistes se rallieront et attaqueront les PJs avec un entrain fanatique (re-dommage !)
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <div class="bulle px-3">
                    <h5 class="card-title">Comment gérer ce chapitre ?</h5>
                    <p class="card-text">
                        Et bien voilà le temps des combats ! A vous de calibrer l’opposition en fonction de votre groupe de PJs. Si les personnages souffrent trop face à Juan et ses hommes, ne placez dans la salle du rituel qu’Hector, Helga et deux serviteurs. S’ils massacrent les estaliens ou sont des vétérans du jeu, boostez un peu le nombre de cultistes. En ce qui concerne les points d’expérience à distribuer, tablez sur 150-200 selon la qualité du roleplay de vos joueurs.    
                    </p>
                </div>
            </div>
            <h3 class="card-title">Conclusion</h3>            
            <div class="card-body">
                <p class="card-text">
                    La voix lasse du vieillard reprend : « Quelle triste histoire que celle- ci... Nous parvînmes bien à sauver la jeune Clara... et la justice du Comte mena l'enquête pour savoir si d'autres familiers de cette famille maudite étaient aussi des adorateurs du démon... De nombreux serviteurs furent inquiétés, mais à la parefin, seule une poignée d'entre eux fut reconnue coupable du crime d'alliance avec les forces des ténèbres. Quand à Clara, elle entra peu de temps après dans un couvent de l'Ordre de Notre Dame de la Compassion, son jeune esprit avait été ébranlé plus que de raison et son âme avait besoin de repos... Repos qui, à nous, ne nous serait pas accordé avant... Mais je m'égare une fois de plus... Elle fut anéantie quand elle apprit la mort de son bien-aimé Christian. Je vis de mes yeux la dernière étincelle de bonheur disparaître à ce moment-là de son regard si clair. Nous lui donnâmes alors la chevalière... Mais, elle la refusa. Je n'ai pas tout de suite compris pourquoi. Mais moi qui suis désormais entouré de tous ces vieux souvenirs d'une vie d'aventures et de luttes contre les démons, désormais je la comprends. D'ailleurs, au moment où j'écris ces quelques lignes, la bague de Christian est posée devant moi, sa pierre bleue brillant encore comme elle le faisait le soir où il est entré dans la taverne de Maître Kanter... »
                </p>
                <p class="card-text">
                    Pour les âmes sensibles, une version alternative de ce scénario pourrait être tentée : Christian n'est que blessé lors du duel et il tombe dans le coma pour la durée de l'histoire. Il se réveille peu de temps après la libération de Clara et ils partent tous deux couler des jours heureux loin de Middenheim... Voilà la différence entre les théâtres de Shakespeare et de Molière !
                </p>
            </div>
        </div>
    </div>

</div>