@using CharHammer.Services
@code {
    bool AfficherLiensHumains;
    bool AfficherLiensElfes = true;
}
<div class="hstack gap-2">
    <span class="hover-pointer" @onclick="_ => AfficherLiensHumains = !AfficherLiensHumains">
        <BtnChevron Icon=@(AfficherLiensHumains ? "chevron-top" : "chevron-bottom") />
    </span>
    <BtnRace Race="Humains" Href="regles/creation-de-personnage/1/" />
    <BtnList Href="table-carrieres-initiales/1/" />
    <BtnInfo Href="univers/races/humains/" />
</div>
@if (AfficherLiensHumains)
{
    <div class="hstack gap-2">
        <span>
            <BtnChevron Icon="chevron-top" Invisible=true />
        </span>
        <BtnRace Race="Impériaux" />
        <BtnList Href=@($"table-carrieres-initiales/{RacesService.IdHumainsImperiaux}/") />
        <BtnInfo />
    </div>
    <div class="hstack gap-2">
        <span>
            <BtnChevron Icon="chevron-top" Invisible=true />
        </span>
        <BtnRace Race="Bretonniens" />
        <BtnList Href=@($"table-carrieres-initiales/{RacesService.IdHumainsBretonniens}/") />
        <BtnInfo />
    </div>
    <div class="hstack gap-2">
        <span>
            <BtnChevron Icon="chevron-top" Invisible=true />
        </span>
        <BtnRace Race="Gospodars" />
        <BtnList Href=@($"table-carrieres-initiales/{RacesService.IdHumainsGospodars}/") />
        <BtnInfo />
    </div>
    <div class="hstack gap-2">
        <span>
            <BtnChevron Icon="chevron-top" Invisible=true />
        </span>
        <BtnRace Race="Ungols" />
        <BtnList Href=@($"table-carrieres-initiales/{RacesService.IdHumainsUngols}/") />
        <BtnInfo />
    </div>
}
<div class="hstack gap-2">
    <span>
        <BtnChevron Icon="chevron-top" Invisible=true />
    </span>
    <BtnRace Race="Halflings" Href="regles/creation-de-personnage/26/" />
    <BtnList Href=@($"table-carrieres-initiales/{RacesService.IdHalflings}/") />
    <BtnInfo Href="univers/races/halflings/" />
</div>
<div class="hstack gap-2">
    <span>
        <BtnChevron Icon="chevron-top" Invisible=true />
    </span>
    <BtnRace Race="Nains" Href="regles/creation-de-personnage/27/" />
    <BtnList Href=@($"table-carrieres-initiales/{RacesService.IdNains}/") />
    <BtnInfo Href="univers/races/nains/" />
</div>
<div class="hstack gap-2">
    <span>
        <BtnChevron Icon="chevron-top" Invisible=true />
    </span>
    <BtnRace Race="Gnômes" Href="regles/creation-de-personnage/63/" />
    <BtnList Href=@($"table-carrieres-initiales/{RacesService.IdGnomes}/") />
    <BtnInfo Href="univers/races/gnomes/" />
</div>
<div class="hstack gap-2">
    <span class="me-auto hover-pointer" @onclick="_ => AfficherLiensElfes = !AfficherLiensElfes">
        <BtnChevron Icon=@(AfficherLiensElfes ? "chevron-top" : "chevron-bottom") />
    </span>
    <BtnRace Race="Elfes"/>
    <BtnList/>
    <BtnInfo/>
</div>
@if (AfficherLiensElfes)
{
    <div class="hstack gap-2">
        <span>
            <BtnChevron Icon="chevron-top" Invisible=true />
        </span>
        <BtnRace Race="Elfes sylvains" Href="regles/creation-de-personnage/65/" />
        <BtnList Href=@($"table-carrieres-initiales/{RacesService.IdElfesSylvains}/") />
        <BtnInfo Href="univers/races/elfes-sylvains/" />
    </div>
    <div class="hstack gap-2">
        <span>
            <BtnChevron Icon="chevron-top" Invisible=true />
        </span>
        <BtnRace Race="Hauts-elfes" Href="regles/creation-de-personnage/66/" />
        <BtnList Href=@($"table-carrieres-initiales/{RacesService.IdHautsElfes}/") />
        <BtnInfo Href="univers/races/hauts-elfes/" />
    </div>
}