@page "/scenarios/"

@using BlazorWjdr.Components.Campagne
@using BlazorWjdr.Services

@inject ScenariosService _scenariosService
@code{
    private string Filtre { get; set; } = "";
    private bool PasDeDaubes { get; set; } = true;
}
<MainTopRow Title="Scénarios"/>

<div class="content px-4">
    
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-4">
            <input type="text" @bind-value="@Filtre" @bind-value:event="oninput" placeholder="Filtrer"/>
            <input class="ml-5" type="checkbox" @bind="@PasDeDaubes"/><span>Masquer les daubes</span>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <table class="table">
                    <thead>
                         <tr>
                             <th class="tgroupe"></th>
                             <th class="tgroupe">Nom</th>
                             <th class="tgroupe">Note</th>
                             <th class="tgroupe">Durée</th>
                             <th class="tgroupe">Difficulté</th>
                             <th class="tgroupe">Style</th>
                             <th class="tgroupe">Lieux</th>
                             <th class="tgroupe">Source & Auteur</th>
                         </tr>
                    </thead>
                    <tbody class="alternate-color-dark">
                    @foreach (var scenar in _scenariosService.AllScenarios(PasDeDaubes, Filtre))
                    {
                        <ScenarioRow Item="@scenar"/>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>