@page "/campagne/{CampagneId}/seances/"

@using BlazorWjdr.Components.Campagne

@inject CampagnesService _campagnesService
@inject AppState _appState
@code {
    [Parameter, EditorRequired] public string CampagneId { get; set; } = null!;

    private CampagneDto _campagne = null!;

    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Carnets de Campagne");
    }

    protected override void OnParametersSet()
    {
        _campagne = _campagnesService.AllCampagnes().First(c => c.Id.ToString() == CampagneId);
    }
}
<div class="row section">
    @foreach (var campagne in _campagnesService.AllCampagnes())
    {
        <div class="col-3">
            <LinkCampagne Titre=@campagne.Titre CampagneId=@campagne.Id.ToString() Actif=@(CampagneId == @campagne.Id.ToString()) />
        </div>
    }
</div>
<div class="section">
    <CampagneDetail Campagne=@_campagne />
</div>
