@page "/"
@page "/carrieres"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject CarrieresService _competenceService

<MainTopRow>
    <span class="title-primary top-row-title">Carrières</span>
</MainTopRow>

<div class="content px-4">
    <table class="table">
        <thead>
            <!--tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr-->
        </thead>
        <tbody>
            @foreach (var carriere in _carrieresLines.Where(c => c.Parent == null))
            {
                <CarriereRow Item="carriere" />
            }
        </tbody>
    </table>
</div>


@code {
    private List<CarriereDto> _carrieresLines = null!;

    protected override async Task OnInitializedAsync()
    {
        var carrieres = await _competenceService.ItemsCarrieres();
        _carrieresLines = carrieres.ToList();
    }
}
