@page "/carrieres"

@using BlazorWjdr.DomainModel
@using BlazorWjdr.Services
<!--
@inject ProfilsService CompetenceService
@inject CompetencesEtTalentsService CompetenceService
-->
@inject CarrieresService CompetenceService

<h1>Carrières</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (carrieresLines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Carrière</th>
                <th>Avancée</th>
                <th>Restriction</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carriere in carrieresLines)
            {
                <tr>
                    <td>@carriere.Libelle</td>
                    <td>@carriere.EstUneCarriereAvancee</td>
                    <td>@carriere.Restriction</td>
                    <td>@carriere.Source</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CarriereDto> carrieresLines = null!;

    protected override async Task OnInitializedAsync()
    {
        var carrieres = await CompetenceService.ItemsCarrieres();
        carrieresLines = carrieres.ToList();
        //carrieresLines.RemoveAll(c => c.Ignore);
    }
}
