@page "/carrieres"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject CarrieresService _competenceService

<h1>Carrières</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Carrière</th>
            <th>Avancée</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var carriere in _carrieresLines.Where(c => c.CarriereMere == null))
        {
            <CarriereRow Item="carriere" />
        }
    </tbody>
</table>

@code {
    private List<CarriereDto> _carrieresLines = null!;

    protected override async Task OnInitializedAsync()
    {
        var carrieres = await _competenceService.ItemsCarrieres();
        _carrieresLines = carrieres.ToList();
        //carrieresLines.RemoveAll(c => c.Ignore);
    }
}
