@page "/competences"

@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using BlazorWjdr.Components.Competence

@inject CompetencesEtTalentsService _competenceService

<h1>Compétences</h1>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Compétence</th>
        <th>Carac.</th>
        <th>Base</th>
        <th>Talents liés</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var competence in _competencesLines)
        {
            <CompetenceRow Item="@competence" /> 
        }
    </tbody>
</table>

@code {
    private List<CompetenceDto> _competencesLines = null!;

    protected override async Task OnInitializedAsync()
    {
        var competences = await _competenceService.ItemsCompetences();
        _competencesLines = competences.ToList();
        _competencesLines.RemoveAll(c => c.Ignore || c.CompetenceParente != null);
    }
}
