@page "/competences/{CompetenceId}/"

@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Components.Talent
@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject CompetencesEtTalentsService _competencesEtTalentsService
@inject CarrieresService _carrieresService

<MainTopRow>
</MainTopRow>

<div class="content px-4">

    <div class="row">
        
        <div class="col-6" style="padding-right: 0;">
            <div class="card-body" style="padding-top: 0; padding-right: 0;">
                
                <h1 class="card-title" style="font-size: xxx-large;">@Competence.Nom</h1>
                <CompetenceDescription Item="@Competence"/>

            </div>
        </div>

        <div class="col-6">
            <div class="card-body" style="padding-top: 0; padding-right: 0;">
                
                <h5 class="card-title title-primary">Carrières proposant cette compétence</h5>
                <p class="card-text">
                    <CarriereItemList Items="@_carrieres"/>
                </p>
                
            </div>
        </div>

    </div>

</div>
@code {
    [Parameter]
    public string CompetenceId { get; set; } = null!;

    private CompetenceDto Competence { get; set; } = null!;
    
    private CarriereDto[] _carrieres = null!;

    protected override async Task OnParametersSetAsync()
    {
        Competence = _competencesEtTalentsService.GetCompetence(int.Parse(CompetenceId));
        _carrieres = await _carrieresService.GetCarrieresProposant(Competence);
    }
}
