@page "/"

@using BlazorWjdr.Components.Index
@using BlazorWjdr.Services

@inject CarrieresService _carrSvc
@inject AppState _appState

<MainTopRow Title="Charente Hammer - Index"/>

<div class="content px-4">

    <div class="row">

        <div class="col-4">
            <div class="card-body">
                <IndexCarrieresEtAptitudes/>
            </div>
            
            <div class="card-body">
                <h4 class="card-title">Création de Personnage</h4>
                <div class="mb-2">
                    <ItemIcon Icon="document" Classes="ml-2 mr-1"/>
                    <em class="mr-2">Feuille de personnage</em>
                    <a style="font-weight:bold;" target="_blank" href="download/feuille-de-perso_wjdr.docx">DOCX</a>
                    <a style="font-weight:bold;" target="_blank" href="download/feuille-de-perso_wjdr.pdf">PDF</a>
                </div>
                <p>
                    <a href="regles/creation-de-personnage/1/" class="btn btn-sm btn-secondary">Humain</a>
                    <a href="regles/creation-de-personnage/26/" class="btn btn-sm btn-secondary">Halfling</a>
                    <a href="regles/creation-de-personnage/27/" class="btn btn-sm btn-secondary">Nain</a>
                    <a href="regles/creation-de-personnage/63/" class="btn btn-sm btn-secondary">Gnôme</a>
                    <a href="regles/creation-de-personnage/65/" class="btn btn-sm btn-secondary">Elfe sylvain</a>
                    <a href="regles/creation-de-personnage/66/" class="btn btn-sm btn-secondary">Haut elfe</a>
                </p>
                <IndexPresentationRacesJouables/>
                <IndexTablesCarrieresInitiales/>
            </div>
            
            <div class="card-body">
                <IndexDernieresRecrues/>
            </div>
        </div>

        <div class="col-4">
            <div class="card-body">
                <IndexMatos/>
            </div>
            
            <div class="card-body">
                <h4 class="card-title">La Vie d'Aventurier</h4>
                <p>
                    <a href="regles/base/" class="mb-1 btn btn-sm btn-secondary">Les Tests, la base</a>
                    <a href="regles/combat/" class="mb-1 btn btn-sm btn-secondary">Combats</a>
                    <a href="regles/sauts-chutes-poursuites/" class="mb-1 btn btn-sm btn-secondary">Sauts, chutes, poursuites</a>
                    <a href="regles/blessures/" class="mb-1 btn btn-sm btn-secondary">Blessures et Soins</a>
                    <a href="regles/maladies/" class="mb-1 btn btn-sm btn-secondary">Maladies</a>
                    <a href="regles/folie/" class="mb-1 btn btn-sm btn-secondary">Folie</a>
                    <a href="regles/corruption/" class="mb-1 btn btn-sm btn-secondary">Corruption</a>
                </p>
                <h5 class="card-title">Tables des Coups Critiques</h5>
                <p>
                    <a href="table-coups-critiques/tete/" class="mb-1 btn btn-sm btn-secondary">Tête</a>
                    <a href="table-coups-critiques/bras/" class="mb-1 btn btn-sm btn-secondary">Bras</a>
                    <a href="table-coups-critiques/torse/" class="mb-1 btn btn-sm btn-secondary">Torse</a>
                    <a href="table-coups-critiques/jambe/" class="mb-1 btn btn-sm btn-secondary">Jambe</a>
                    <a href="table-coups-critiques/fumbles/" class="mb-1 btn btn-sm btn-secondary">Oops!</a>
                </p>
                <h5 class="card-title">Tables des Traits et Troubles</h5>
                <p>
                    <a href="tables-traits-et-troubles/troubles-mineurs/" class="mb-1 btn btn-sm btn-secondary">Troubles mineurs</a>
                    <a href="tables-traits-et-troubles/folies/" class="mb-1 btn btn-sm btn-secondary">Folies</a>
                    <a href="tables-traits-et-troubles/maladies/" class="mb-1 btn btn-sm btn-secondary">Maladies</a>
                </p>
            </div>
            <div class="card-body">
                <h4 class="card-title">Sorcellerie et Inspiration Divine</h4>
                <p>
                    <a href="regles/inspiration-divine/" class="mb-1 btn btn-sm btn-secondary">Inspiration et Colère Divine</a>
                    <a href="regles/sorcellerie/" class="mb-1 btn btn-sm btn-secondary">Sorcellerie</a>
                    <a href="regles/tables-des-echos-du-chaos/" class="mb-1 btn btn-sm btn-secondary">Tables des Echos du Chaos</a>
                </p>
            </div>
        </div>
        
        <div class="col-3">
            <div class="card-body">
                <h4 class="card-title">Le Vieux Monde</h4>
                <p>
                    <a href="univers/introduction/" class="btn btn-sm btn-secondary">Introduction</a>
                    <a href="chronologie/" class="btn btn-sm btn-secondary">Chronologie</a>
                    <a href="lieux/vieux-monde/" class="btn btn-sm btn-secondary">Lieux</a>
                </p>
                <p>
                    <a href="bestiaire/" class="btn btn-sm btn-primary">Bestiaire</a>
                    <a href="personnages/" class="btn btn-sm btn-secondary">Archétypes</a>
                    <a href="races/" class="btn btn-sm btn-secondary">Races</a>
                </p>
            </div>
            
            <div class="card-body">
                <h4 class="card-title">Religion</h4>
                <p>
                    <a href="univers/pantheon/" class="mb-1 btn btn-sm btn-primary">Le Panthéon Divin</a>
                </p>
                <IndexDieuxMajeurs/>
                <IndexDieuxMineurs/>
                <IndexDieuxDuChaos/>
            </div>
            
            <div class="card-body">
                <h4 class="card-title">Campagne</h4>
                <p>
                    <a href="campagne/13/seances/" class="btn btn-sm btn-primary">Carnets de Route</a>
                    <a href="maitre-du-jeu/13/2021-10-30/" class="btn btn-sm btn-secondary mr-1">Dernière séance</a>
                    @if (_appState.JeSuisDieu)
                    {
                        <a href="maitre-du-jeu/13/2021-11-20/" class="btn btn-sm btn-secondary mr-1">Prochaine séance</a>
                    }
                </p>
                @if (_appState.JeSuisDieu)
                {
                    <p>
                        <a href="personnages/" class="btn btn-sm btn-secondary mr-1">Personnages</a>
                        <a href="scenarios/" class="btn btn-sm btn-secondary mr-1">Scénarios</a>
                    </p>
                }
            </div>
        </div>
    </div>

</div>