@page "/references"

@using BlazorWjdr.Components.Reference

@inject ReferencesService Service
@inject AppState AppState
@code {
    private List<ReferenceDto> _lines = null!;

    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Références");
        _lines = Service.AllReferences;
    }
}

<div class="row">
    <div class="col-6">
        <table class="table table-striped">
            <tbody>
                @foreach (var reference in _lines
                    .Where(r => r.Version == 1)
                    .OrderBy(r => r.AnneeDePublication))
                {
                    <ReferenceRow Item=@reference />
                }
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <table class="table table-striped">
            <tbody>
                @foreach (var reference in _lines
                    .Where(r => r.Version == 2)
                    .OrderBy(r => r.AnneeDePublication))
                {
                    <ReferenceRow Item=@reference />
                }
            </tbody>
        </table>
    </div>
</div>