@page "/"

@using BlazorWjdr.Components.Index
@using BlazorWjdr.Components.Index.CreationPerso

@inject AppState _appState
@code {
    protected override void OnInitialized()
    {
        _appState.SetMainTopRowTitle("Charente Hammer");
    }
}

<div class="row">
    <div class="col-lg-4">
        <div class="py-4">
            <IndexCarrieresEtAptitudes />
        </div>

        <div class="py-4">
            <h4>Création de Personnage</h4>
            <div class="mb-2">
                <ItemIcon Icon="document" Classes="ms-3 me-1" />
                <em class="me-2">Feuille de personnage</em>
                <a class="insister" target="_blank" href="download/feuille-de-perso_wjdr.docx">DOCX</a>
                <a class="insister" target="_blank" href="download/feuille-de-perso_wjdr.pdf">PDF</a>
            </div>
            <div class="bulle shadow-sm me-5" style="width:15rem;">
                <IndexCreationPerso/>
            </div>
        </div>

        <div class="py-4">
            <IndexDernieresRecrues />
        </div>
    </div>

    <div class="col-lg-4">
        <div class="py-4">
            <IndexMatos />
        </div>

        <div class="py-4">
            <h4>La Vie d'Aventurier</h4>
            <div class="list-inline mb-2">
                <IndexLink Href="regles/base/" Title="Les Tests, la base" />
                <IndexLink Href="regles/combat/" Title="Combats" />
                <IndexLink Href="regles/sauts-chutes-poursuites/" Title="Sauts, chutes, poursuites" />
            </div>
            <div class="list-inline">
                <IndexLink Href="regles/blessures/" Title="Blessures et Soins" />
                <IndexLink Href="regles/maladies/" Title="Maladies" />
                <IndexLink Href="regles/folie/" Title="Folie" />
                <IndexLink Href="regles/corruption/" Title="Corruption" />
            </div>
            <h5>Tables des Coups Critiques</h5>
            <div class="list-inline">
                <IndexLink Href="table-coups-critiques/tete/" Title="Tête" />
                <IndexLink Href="table-coups-critiques/bras/" Title="Bras" />
                <IndexLink Href="table-coups-critiques/torse/" Title="Torse" />
                <IndexLink Href="table-coups-critiques/jambe/" Title="Jambe" />
                <IndexLink Href="table-coups-critiques/fumbles/" Title="Oops!" />
            </div>
            <h5>Tables des Traits et Troubles</h5>
            <p>
                <IndexLink Href="tables-traits-et-troubles/troubles-mineurs/" Title="Troubles mineurs" />
                <IndexLink Href="tables-traits-et-troubles/folies/" Title="Folies" />
                <IndexLink Href="tables-traits-et-troubles/maladies/" Title="Maladies" />
            </p>
        </div>
        <div class="py-4">
            <h4>Sorcellerie et Inspiration Divine</h4>
            <p>
                <IndexLink Href="regles/inspiration-divine/" Title="Inspiration et Colère Divine" />
                <IndexLink Href="regles/sorcellerie/" Title="Sorcellerie" />
                <IndexLink Href="regles/tables-des-echos-du-chaos/" Title="Tables des Echos du Chaos" />
            </p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="py-4">
            <h4>Le Vieux Monde</h4>
            <p class="mb-2">
                <IndexLink Href="univers/introduction/" Title="Introduction" />
                <IndexLink Href="chronologie/" Title="Chronologie" />
                <IndexLink Href="lieux/vieux-monde/" Title="Lieux" />
            </p>
            <p>
                <IndexLink Href="bestiaire/" Title="Bestiaire" Primary=true />
                <IndexLink Href="personnages/" Title="Archétypes" />
                <IndexLink Href="races/" Title="Races" />
            </p>
            <h4>Environements</h4>
            <p>
                <IndexLink Href="environement/egouts/" Title="Les égouts" />
            </p>
        </div>

        <div class="py-4">
            <h4>Religion</h4>
            <p class="mb-2">
                <IndexLink Href="univers/pantheon/" Title="Le Panthéon Divin" Primary=true />
            </p>
            <IndexDieuxMajeurs />
            <IndexDieuxMineurs />
            <IndexDieuxDuChaos />
        </div>

        <div class="py-4">
            <IndexCampagne />
        </div>

        <div class="py-4">
            <IndexLink Href="todo" Title="Au travail !" />
        </div>
    </div>
</div>