@page "/"

<MainTopRow>
    <h3 class="card-title">Index</h3>
</MainTopRow>

<div class="content px-4">

    <div class="ml-3 mb-3 pl-2">

        <div class="row">

            <div class="col-4">
                <div class="card-body">
                    <h5 class="card-title">Carrières</h5>
                    <p class="card-text">
                        <a href="/carrieres-liste/toutes/toutes/" class="mb-1 btn btn-sm btn-primary">Toutes</a>
                        <a href="/carrieres-liste/toutes/de-base/" class="mb-1 btn btn-sm btn-secondary"><em>De base</em></a>
                        <a href="/carrieres-liste/toutes/avancees/" class="mb-1 btn btn-sm btn-secondary"><em>Avancées</em></a>
                    </p>
                    <h5 class="card-title">Compétences & talents</h5>
                    <p class="card-text">
                        <a href="/competences/" class="mb-1 btn btn-sm btn-secondary">Compétences</a>
                        <a href="/talents/" class="mb-1 btn btn-sm btn-secondary"><em>Talents</em></a>
                    </p>
                </div>
            </div>

            <div class="col-4">
                <div class="card-body">
                    <h5 class="card-title">Equipement</h5>
                    <p class="card-text">
                        <a href="/equipement/armes-liste/toutes/toutes/" class="mb-1 btn btn-sm btn-primary">Armes</a>
                        <a href="/equipement/armes-liste/melee/toutes/" class="mb-1 btn btn-sm btn-secondary"><em>Mélée</em></a>
                        <a href="/equipement/armes-liste/tir/toutes/" class="mb-1 btn btn-sm btn-secondary"><em>Tir</em></a>
                        <a href="/equipement/armes-liste/boucliers/toutes/" class="mb-1 btn btn-sm btn-secondary"><em>Boucliers</em></a>
                        <a href="/equipement/armes-liste/munitions/toutes/" class="mb-1 btn btn-sm btn-secondary"><em>Munitions</em></a>
                    </p>
                    <p class="card-text">
                        <a href="/equipement/armures/toutes/" class="mb-1 btn btn-sm btn-primary">Armures</a>
                        <a href="/equipement/armures/legeres/" class="mb-1 btn btn-sm btn-secondary"><em>Légères</em></a>
                        <a href="/equipement/armures/moyennes/" class="mb-1 btn btn-sm btn-secondary"><em>Moyennes</em></a>
                        <a href="/equipement/armures/lourdes/" class="mb-1 btn btn-sm btn-secondary"><em>Lourde</em></a>
                    </p>
                    <p class="card-text">
                        <a href="/equipement/vetements/" class="mb-1 btn btn-sm btn-secondary">Vêtements</a>
                        <a href="/equipement/autre/" class="mb-1 btn btn-sm btn-secondary"><em>Autre</em></a>
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="card-body">
                    <h5 class="card-title">Le Vieux Monde</h5>
                    <p class="card-text">
                        <a href="https://localhost:5001/races/" class="mb-1 btn btn-sm btn-secondary">Races</a>
                        <a href="https://localhost:5001/bestiaire/" class="mb-1 btn btn-sm btn-secondary">Bestiaire</a>
                        <a href="https://localhost:5001/personnages/" class="mb-1 btn btn-sm btn-secondary">Personnages</a>
                    </p>
                    <p class="card-text">
                        <a href="https://localhost:5001/chronologie/" class="mb-1 btn btn-sm btn-secondary">Chronologie</a>
                        <a href="https://localhost:5001/lieux/" class="mb-1 btn btn-sm btn-secondary">Lieux</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card-body">
                    <h5 class="card-title">Création de personnage</h5>
                    <p class="card-text">
                        <a href="/regles/creation-de-personnage/25/" class="mb-1 btn btn-sm btn-secondary">Elfe</a>
                        <a href="/regles/creation-de-personnage/63/" class="mb-1 btn btn-sm btn-secondary">Gnôme</a>
                        <a href="/regles/creation-de-personnage/26/" class="mb-1 btn btn-sm btn-secondary">Halfling</a>
                        <a href="/regles/creation-de-personnage/1/" class="mb-1 btn btn-sm btn-secondary">Humain</a>
                        <a href="/regles/creation-de-personnage/27/" class="mb-1 btn btn-sm btn-secondary">Nain</a>
                    </p>
                    <h5 class="card-title">Table des carrières initiales</h5>
                    <p class="card-text">
                        <a href="/table-carrieres-initiales/25/" class="mb-1 btn btn-sm btn-secondary">Elfes</a>
                        <a href="/table-carrieres-initiales/63/" class="mb-1 btn btn-sm btn-secondary">Gnômes</a>
                        <a href="/table-carrieres-initiales/26/" class="mb-1 btn btn-sm btn-secondary">Halfelings</a>
                        <a href="/table-carrieres-initiales/1/" class="mb-1 btn btn-sm btn-secondary">Humains</a>
                        <a href="/table-carrieres-initiales/27/" class="mb-1 btn btn-sm btn-secondary">Nains</a>
                    </p>
                    <h5 class="card-title">Tables des traits et troubles</h5>
                    <p class="card-text">
                        <a href="/tables-traits-et-troubles/traits/" class="mb-1 btn btn-sm btn-secondary">Signes distinctifs</a>
                        <a href="/tables-traits-et-troubles/troubles-mineurs/" class="mb-1 btn btn-sm btn-secondary">Troubles mineurs</a>
                        <a href="/tables-traits-et-troubles/folies/" class="mb-1 btn btn-sm btn-secondary">Folies</a>
                        <a href="/tables-traits-et-troubles/maladies/" class="mb-1 btn btn-sm btn-secondary">Maladies</a>
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="card-body">
                    <h5 class="card-title">Combat</h5>
                    <p class="card-text">
                        <a href="/regles/combat/" class="mb-1 btn btn-sm btn-secondary">Déroulement d'un combat</a>
                    </p>
                    <h5 class="card-title">Tables des coups critiques</h5>
                    <p class="card-text">
                        <a href="/table-coups-critiques/tete/" class="mb-1 btn btn-sm btn-secondary">Tête</a>
                        <a href="/table-coups-critiques/bras/" class="mb-1 btn btn-sm btn-secondary">Bras</a>
                        <a href="/table-coups-critiques/torse/" class="mb-1 btn btn-sm btn-secondary">Torse</a>
                        <a href="/table-coups-critiques/jambe/" class="mb-1 btn btn-sm btn-secondary">Jambe</a>
                    </p>                
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>

    </div>

</div>