@page "/"

@using BlazorWjdr.Components.Index
@using BlazorWjdr.Components.Index.CreationPerso

@inject AppState AppState
@code {
    protected override void OnInitialized()
    {
        AppState.SetMainTopRowTitle("Charente Hammer");
    }
}
<div class="row">
    <div class="col-lg-4">
        <div class="py-4">
            <IndexCarrieresEtAptitudes />
        </div>

        <div class="py-4">
            <IndexCreationPerso/>
        </div>

        <div class="py-4">
            <IndexDernieresRecrues />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="py-4">
            <IndexAventureRegles />
         </div>
        <div class="py-4">
           <IndexMatos />
        </div>
        <div class="py-4">
            <IndexMagie />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="py-4">
            <IndexLore />
        </div>

        <div class="py-4">
            <IndexReligion />
        </div>

        <div class="py-4">
            <IndexCampagne />
        </div>

        <div class="py-4">
            <IndexLink Href="todo" Title="Au travail !" />
        </div>
    </div>
</div>