@page "/"

@using BlazorWjdr.Components.Bestiole
@using BlazorWjdr.Services

@inject BestiolesService _bestiolesService

<MainTopRow Title="Charente Hammer - Index"/>

<div class="content px-4">

    <div class="row">

        <div class="col-4">
            <div class="card-body">
                <h4 class="card-title">Carrières</h4>
                <p>
                    <a href="carrieres-liste/toutes/toutes/" class="mb-1 btn btn-sm btn-primary">Toutes</a>
                    <a href="carrieres-liste/toutes/de-base/" class="mb-1 btn btn-sm btn-secondary"><em>De base</em></a>
                    <a href="carrieres-liste/toutes/avancees/" class="mb-1 btn btn-sm btn-secondary"><em>Avancées</em></a>
                </p>
                <h4 class="card-title">Caractéristiques, Compétences & talents</h4>
                <p>
                    <a href="regles/caracteristiques/" class="mb-1 btn btn-sm btn-secondary">Caractéristiques</a>
                    <a href="regles/destin-resilience/" class="mb-1 btn btn-sm btn-secondary">Motivation, Destin & Résilience</a>
                    <a href="competences/" class="mb-1 btn btn-sm btn-secondary">Compétences</a>
                    <a href="talents/" class="mb-1 btn btn-sm btn-secondary">Talents</a>
                </p>
            </div>
        </div>

        <div class="col-4">
            <div class="card-body">
                <h4 class="card-title">Equipement</h4>
                <p>
                    <a href="equipement/armes-liste/toutes/toutes/" class="mb-1 btn btn-sm btn-primary">Armes</a>
                    <a href="equipement/armes-liste/melee/toutes/" class="mb-1 btn btn-sm btn-secondary"><em>Mélée</em></a>
                    <a href="equipement/armes-liste/armes-de-parade/toutes/" class="mb-1 btn btn-sm btn-secondary"><em>Boucliers</em></a>
                    <a href="equipement/armes-liste/tir/toutes/" class="mb-1 btn btn-sm btn-secondary"><em>Tir</em></a>
                    <a href="equipement/armes-liste/munitions/toutes/" class="mb-1 btn btn-sm btn-secondary"><em>Munitions</em></a>
                </p>
                <p>
                    <a href="equipement/armures/toutes/" class="mb-1 btn btn-sm btn-primary">Armures</a>
                    <a href="equipement/armures/legeres/" class="mb-1 btn btn-sm btn-secondary"><em>Légères</em></a>
                    <a href="equipement/armures/moyennes/" class="mb-1 btn btn-sm btn-secondary"><em>Moyennes</em></a>
                    <a href="equipement/armures/lourdes/" class="mb-1 btn btn-sm btn-secondary"><em>Lourde</em></a>
                </p>
                <p>
                    <a href="guide-du-consommateur/tout/" class="mb-1 btn btn-sm btn-primary">Guide du Consommateur</a>
                    <a href="equipement-de-depart/" class="mb-1 btn btn-sm btn-secondary">Equipement de Départ</a>
                </p>
            </div>
        </div>
        <div class="col-3">
            <div class="card-body">
                <h4 class="card-title">Le Vieux Monde</h4>
                <p>
                    <a href="univers/introduction/" class="mb-1 btn btn-sm btn-secondary">Introduction</a>
                    <a href="chronologie/" class="mb-1 btn btn-sm btn-secondary">Chronologie</a>
                    <a href="lieux/" class="mb-1 btn btn-sm btn-secondary">Lieux</a>
                </p>
                <p>
                    <a href="bestiaire/" class="mb-1 btn btn-sm btn-primary">Bestiaire</a>
                    <a href="personnages/" class="mb-1 btn btn-sm btn-secondary">Archétypes</a>
                    <a href="races/" class="mb-1 btn btn-sm btn-secondary">Races</a>
                </p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                <h4 class="card-title">Création de Personnage</h4>
                <div class="mb-2">
                    <ItemIcon Icon="document" Classes="ml-2 mr-1"/>
                    <em class="mr-2">Feuille de personnage</em>
                    <a style="font-weight:bold;" target="_blank" href="download/feuille-de-perso_wjdr.docx">DOCX</a>
                    <a style="font-weight:bold;" target="_blank" href="download/feuille-de-perso_wjdr.pdf">PDF</a>
                </div>
                <p>
                    <a href="regles/creation-de-personnage/1/" class="mb-1 btn btn-sm btn-secondary">Humain</a>
                    <a href="regles/creation-de-personnage/26/" class="mb-1 btn btn-sm btn-secondary">Halfling</a>
                    <a href="regles/creation-de-personnage/27/" class="mb-1 btn btn-sm btn-secondary">Nain</a>
                    <a href="regles/creation-de-personnage/63/" class="mb-1 btn btn-sm btn-secondary">Gnôme</a>
                    <a href="regles/creation-de-personnage/65/" class="mb-1 btn btn-sm btn-secondary">Elfe sylvain</a>
                    <a href="regles/creation-de-personnage/66/" class="mb-1 btn btn-sm btn-secondary">Haut elfe</a>
                </p>
                <h5 class="card-title">Présentation des Races Jouables</h5>
                <p>
                    <a href="univers/race/humains/" class="mb-1 btn btn-sm btn-secondary">Humain</a>
                    <a href="univers/race/halflings/" class="mb-1 btn btn-sm btn-secondary">Halfling</a>
                    <a href="univers/race/nains/" class="mb-1 btn btn-sm btn-secondary">Nain</a>
                    <a href="univers/race/gnomes/" class="mb-1 btn btn-sm btn-secondary">Gnôme</a>
                    <a href="univers/race/elfes-sylvains/" class="mb-1 btn btn-sm btn-secondary">Elfe sylvain</a>
                    <a href="univers/race/hauts-elfes/" class="mb-1 btn btn-sm btn-secondary">Haut elfe</a>
                </p>
                <h5 class="card-title">Table des Carrières Initiales</h5>
                <p>
                    <a href="table-carrieres-initiales/1/" class="mb-1 btn btn-sm btn-secondary">Humain</a>
                    <a href="table-carrieres-initiales/26/" class="mb-1 btn btn-sm btn-secondary">Halfling</a>
                    <a href="table-carrieres-initiales/27/" class="mb-1 btn btn-sm btn-secondary">Nain</a>
                    <a href="table-carrieres-initiales/63/" class="mb-1 btn btn-sm btn-secondary">Gnôme</a>
                    <a href="table-carrieres-initiales/65/" class="mb-1 btn btn-sm btn-secondary">Elfe sylvain</a>
                    <a href="table-carrieres-initiales/66/" class="mb-1 btn btn-sm btn-secondary">Haut elfe</a>
                </p>
            </div>
            <div class="card-body">
                <h4 class="card-title">Dernières recrues</h4>
                <table class="table">
                    <tbody class="alternate-color-dark">
                    @foreach (var aventurier in _bestiolesService.AllPjs.OrderByDescending(pj => pj.DateDeCreation))
                    {
                        <tr>
                            <td>@aventurier.DateDeCreation</td>
                            <td><BestioleItem Item="@aventurier"/></td>
                            <td>@aventurier.Joueur</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <h4 class="card-title">La Vie d'Aventurier</h4>
                <p>
                    <a href="regles/base/" class="mb-1 btn btn-sm btn-secondary">Les Tests, la base</a>
                    <a href="regles/combat/" class="mb-1 btn btn-sm btn-secondary">Combats</a>
                    <a href="regles/sauts-chutes-poursuites/" class="mb-1 btn btn-sm btn-secondary">Sauts, chutes, poursuites</a>
                    <a href="regles/blessures/" class="mb-1 btn btn-sm btn-secondary">Blessures et Soins</a>
                    <a href="regles/maladies/" class="mb-1 btn btn-sm btn-secondary">Maladies</a>
                    <a href="regles/folie/" class="mb-1 btn btn-sm btn-secondary">Folie</a>
                    <a href="regles/corruption/" class="mb-1 btn btn-sm btn-secondary">Corruption</a>
                </p>
                <p>
                    <a href="regles/cheminement-professionnel/" class="mb-1 btn btn-sm btn-primary">Cheminement professionnel</a>
                    <a href="regles/acquisition-aptitudes/" class="mb-1 btn btn-sm btn-primary">Acquérir des aptitudes</a>
                </p>
                <h4 class="card-title">Tables des Coups Critiques</h4>
                <p>
                    <a href="table-coups-critiques/tete/" class="mb-1 btn btn-sm btn-secondary">Tête</a>
                    <a href="table-coups-critiques/bras/" class="mb-1 btn btn-sm btn-secondary">Bras</a>
                    <a href="table-coups-critiques/torse/" class="mb-1 btn btn-sm btn-secondary">Torse</a>
                    <a href="table-coups-critiques/jambe/" class="mb-1 btn btn-sm btn-secondary">Jambe</a>
                    <a href="table-coups-critiques/fumbles/" class="mb-1 btn btn-sm btn-secondary">Oops!</a>
                </p>
                <h4 class="card-title">Tables des Traits et Troubles</h4>
                <p>
                    <a href="tables-traits-et-troubles/traits/" class="mb-1 btn btn-sm btn-secondary">Signes distinctifs</a>
                    <a href="tables-traits-et-troubles/troubles-mineurs/" class="mb-1 btn btn-sm btn-secondary">Troubles mineurs</a>
                    <a href="tables-traits-et-troubles/folies/" class="mb-1 btn btn-sm btn-secondary">Folies</a>
                    <a href="tables-traits-et-troubles/maladies/" class="mb-1 btn btn-sm btn-secondary">Maladies</a>
                </p>
                <h4 class="card-title">Sorcellerie et Inspiration Divine</h4>
                <p>
                    <a href="regles/inspiration-divine/" class="mb-1 btn btn-sm btn-secondary">Inspiration et Colère Divine</a>
                    <a href="regles/sorcellerie/" class="mb-1 btn btn-sm btn-secondary">Sorcellerie</a>
                    <a href="regles/tables-des-echos-du-chaos/" class="mb-1 btn btn-sm btn-secondary">Tables des Echos du Chaos</a>
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <h4 class="card-title">Religion</h4>
                <p>
                    <a href="univers/pantheon/" class="mb-1 btn btn-sm btn-primary">Le Panthéon Divin</a>
                    <a href="univers/pantheon/manann/" class="mb-1 btn btn-sm btn-secondary">Manann</a>
                    <a href="univers/pantheon/morr/" class="mb-1 btn btn-sm btn-secondary">Morr</a>
                    <a href="univers/pantheon/myrmidia/" class="mb-1 btn btn-sm btn-secondary">Myrmidia</a>
                    <a href="univers/pantheon/ranald/" class="mb-1 btn btn-sm btn-secondary">Ranald</a>
                    <a href="univers/pantheon/rhya/" class="mb-1 btn btn-sm btn-secondary">Rhya</a>
                    <a href="univers/pantheon/shallya/" class="mb-1 btn btn-sm btn-secondary">Shallya</a>
                    <a href="univers/pantheon/sigmar/" class="mb-1 btn btn-sm btn-secondary">Sigmar</a>
                    <a href="univers/pantheon/taal/" class="mb-1 btn btn-sm btn-secondary">Taal</a>
                    <a href="univers/pantheon/ulric/" class="mb-1 btn btn-sm btn-secondary">Ulric</a>
                    <a href="univers/pantheon/verena/" class="mb-1 btn btn-sm btn-secondary">Verena</a>
                </p>
                <p>
                    <a href="univers/pantheon/arianka/" class="mb-1 btn btn-sm btn-secondary">Arianka</a>
                    <a href="univers/pantheon/haendrik/" class="mb-1 btn btn-sm btn-secondary">Haendrik</a>
                    <a href="univers/pantheon/illuminas/" class="mb-1 btn btn-sm btn-secondary">Illuminas</a>
                    <a href="univers/pantheon/khaine/" class="mb-1 btn btn-sm btn-secondary">Khaine</a>
                    <a href="univers/pantheon/solkan/" class="mb-1 btn btn-sm btn-secondary">Solkan</a>
                    <a href="univers/pantheon/stromfels/" class="mb-1 btn btn-sm btn-secondary">Stromfels</a>
                </p>
                <p>
                    <a href="univers/pantheon-chaos/" class="mb-1 btn btn-sm btn-primary">Les dieux du Chaos</a>
                    <a href="univers/pantheon/khorne/" class="mb-1 btn btn-sm btn-secondary">Khorne</a>
                    <a href="univers/pantheon/nurgle/" class="mb-1 btn btn-sm btn-secondary">Nurgle</a>
                    <a href="univers/pantheon/slaanesh/" class="mb-1 btn btn-sm btn-secondary">Slaanesh</a>
                    <a href="univers/pantheon/tzeench/" class="mb-1 btn btn-sm btn-secondary">Tzeench</a>
                </p>
            </div>
            <div class="card-body">
                <h4 class="card-title">Campagne</h4>
                <p>
                    <a href="aventuriers/13/2021-10-30/" class="mb-1 btn btn-sm btn-primary">Prochaine séance</a>
                    <a href="campagne/13/seances/" class="mb-1 btn btn-sm btn-secondary">Carnets de Route</a>
                    <a href="personnages/" class="mb-1 btn btn-sm btn-secondary">Personnages</a>
                </p>
                <p>
                    <a href="scenarios/" class="mb-1 btn btn-sm btn-primary">Scénarios</a>
                </p>
            </div>
        </div>
    </div>

</div>