@page "/"

<MainTopRow>
    <span class="title-primary top-row-title">Index</span>
</MainTopRow>

<div class="content px-4">

    <div class="ml-3 mb-3 pl-2">

        <div class="row">

            <div class="col-4">
                <div class="card-body">
                    <h5 class="card-title">Carrières</h5>
                    <p class="card-text">
                        <a href="/carrieres-liste/toutes/toutes/" class="mb-1 btn btn-sm btn-primary">Toutes</a>
                        <a href="/carrieres-liste/toutes/de-base/" class="mb-1 btn btn-sm btn-secondary"><em>De base</em></a>
                        <a href="/carrieres-liste/toutes/avancees/" class="mb-1 btn btn-sm btn-secondary"><em>Avancées</em></a>
                    </p>
                    <h5 class="card-title">Table des carrières initiales</h5>
                    <p class="card-text">
                        <a href="/table-carrieres-initiales/25/" class="mb-1 btn btn-sm btn-secondary">Elfes</a>
                        <a href="/table-carrieres-initiales/26/" class="mb-1 btn btn-sm btn-secondary">Halfelings</a>
                        <a href="/table-carrieres-initiales/1/" class="mb-1 btn btn-sm btn-secondary">Humains</a>
                        <a href="/table-carrieres-initiales/27/" class="mb-1 btn btn-sm btn-secondary">Nains</a>
                    </p>
                    <h5 class="card-title">Compétences & talents</h5>
                    <p class="card-text">
                        <a href="/competences/" class="mb-1 btn btn-sm btn-secondary">Compétences</a>
                        <a href="/talents/" class="mb-1 btn btn-sm btn-secondary"><em>Talents</em></a>
                    </p>
                </div>
            </div>

            <div class="col-4">
                <div class="card-body">
                    <h5 class="card-title">Equipement</h5>
                    <p class="card-text">
                        <a href="/equipement/armes-liste/toutes/toutes/" class="mb-1 btn btn-sm btn-primary">Armes</a>
                        <a href="/equipement/armes-liste/toutes/corps-a-corps/" class="mb-1 btn btn-sm btn-secondary"><em>Corps à corps</em></a>
                        <a href="/equipement/armes-liste/toutes/tir/" class="mb-1 btn btn-sm btn-secondary"><em>Tir</em></a>
                        <a href="/equipement/armes-liste/toutes/boucliers/" class="mb-1 btn btn-sm btn-secondary"><em>Boucliers</em></a>
                        <a href="/equipement/armes-liste/toutes/munitions/" class="mb-1 btn btn-sm btn-secondary"><em>Munitions</em></a>
                    </p>
                    <p class="card-text">
                        <a href="/equipement/armures/legeres/" class="mb-1 btn btn-sm btn-primary">Armures</a>
                        <a href="/equipement/armures/legeres/" class="mb-1 btn btn-sm btn-secondary"><em>Légères</em></a>
                        <a href="/equipement/armures/legeres/" class="mb-1 btn btn-sm btn-secondary"><em>Moyennes</em></a>
                        <a href="/equipement/armures/legeres/" class="mb-1 btn btn-sm btn-secondary"><em>Lourde</em></a>
                    </p>
                    <p class="card-text">
                        <a href="/equipement/vetements/" class="mb-1 btn btn-sm btn-secondary">Vêtements</a>
                        <a href="/equipement/autre/" class="mb-1 btn btn-sm btn-secondary"><em>Autre</em></a>
                    </p>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
        </div>


    </div>

</div>