@page "/references"

@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using BlazorWjdr.Components.Reference

@inject ReferencesService _referencesService

<MainTopRow>
    <h3 class="card-title">Référénces</h3>
</MainTopRow>

<div class="content px-4">
    <div class="row">
        
        <div class="col-6">
            <table class="table">
                <tbody>
                @foreach (var reference in _lines
                    .Where(r => r.Version == 1)
                    .OrderBy(r => r.AnneeDePublication))
                {
                    <ReferenceRow Item="@reference"/>
                }
                </tbody>
            </table>
        </div>
        
        <div class="col-6">
            <table class="table">
                <tbody>
                @foreach (var reference in _lines
                    .Where(r => r.Version == 2)
                    .OrderBy(r => r.AnneeDePublication))
                {
                    <ReferenceRow Item="@reference"/>
                }
                </tbody>
            </table>
        </div>
        
    </div>
</div>

@code {
    private List<ReferenceDto> _lines = null!;

    protected override void OnInitialized()
    {
        _lines = _referencesService.AllReferences;
    }
}
