@page "/lieux"

@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using BlazorWjdr.Components.Lieu

@inject LieuxService _lieuxService

<MainTopRow>
    <h3 class="card-title">Lieux</h3>
</MainTopRow>

<div class="content px-4">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var lieu in _lines.Where(l => l.ParentsCount == 1).OrderBy(r => r.Nom))
        {
            <LieuRow Item="@lieu"/>
        }
        </tbody>
    </table>
</div>


@code {
    private LieuDto[] _lines = null!;

    protected override async Task OnInitializedAsync()
    {
        _lines = await _lieuxService.Items();
    }

}