@page "/regles/maladies/"

@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Components.Talent
@using BlazorWjdr.Components.Regle
@using BlazorWjdr.Components.Trait
@using BlazorWjdr.Services

@inject ReglesService _reglesService
@inject TablesService _tablesService
@inject TraitsService _traitsService
@inject CompetencesEtTalentsService _competencesEtTalentsService

<MainTopRow>
    <h3 class="card-title">Maladies et Infections</h3>
</MainTopRow>

<div class="content px-4">

    <div class="row">
        <div class="col-4">
        </div>
    </div>
    
</div>