@using BlazorWjdr.Components.Carriere
@using BlazorWjdr.Components.Competence
@using BlazorWjdr.Components.Talent

<div class="card mb-3">
    <div class="card-header">Recherche</div>
    
    <div class="card-body">
        <div class="text-center">
            <input class="border-4 w-2/3 rounded m-6 p-6 h-8" @bind-value="_searchText"
                   @bind-value:event="oninput" placeholder="Carrières, compétences, talents" style="background-color: #c3fdff"/>
        </div>
    </div>
</div>


@if (_searchText.Length > 2)
{
    <div class="card mb-3">
        <div class="card-header">Résultats</div>

        @if (FilteredCarrieres.Any())
        {
            <div class="card-body mb-3">
                <CarriereItemList Title="Carrières" Items="FilteredCarrieres"/>
            </div>
        }

        @if (FilteredCompetences.Any())
        {
            <div class="card-body mb-3">
                <CompetenceItemList Title="Compétences" Items="FilteredCompetences"/>
            </div>
        }
        
        @if (FilteredTalents.Any())
        {
            <div class="card-body mb-3">
                <TalentItemList Title="Talents" Items="FilteredTalents"/>
            </div>
        }
    </div>
}