@page "/references"

@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using BlazorWjdr.Components.Reference

@inject ReferencesService _referencesService

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Références</th>
        <th>Code</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var reference in _referencesLines.OrderBy(r => r.AnneeDePublication))
    {
        <ReferenceRow Item="@reference"/>
    }
    </tbody>
</table>

@code {
    private ReferenceDto[] _referencesLines = null!;

    protected override async Task OnInitializedAsync()
    {
        _referencesLines = await _referencesService.Items();
    }
}
