@page "/references"

@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using BlazorWjdr.Components.Reference

@inject ReferencesService _referencesService

<h1>Références</h1>

<table class="table">
    <thead>
        <tr>
            <th>Paru en</th>
            <th>Version</th>
            <th>Titre</th>
            <th>Code</th>
            <th>Contenu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reference in _referencesLines.OrderBy(r => r.AnneeDePublication))
        {
        <tr>
            <td>@reference.AnneeDePublication</td>
            <td>@reference.Version</td>
            <td><ReferenceItem Item="@reference" /></td>
            <td>@reference.Code</td>
            <td><button>Carrières...</button></td>
        </tr>
        }
    </tbody>
</table>

@code {
    private ReferenceDto[] _referencesLines = null!;

    protected override async Task OnInitializedAsync()
    {
        _referencesLines = await _referencesService.Items();
    }
}
