@page "/regles/"

@using BlazorWjdr.Models
@using BlazorWjdr.Services

@inject ReglesService _reglesService

<MainTopRow>
    <h3 class="card-title">Règles</h3>
</MainTopRow>

<div class="content px-4">
    <table class="table">
        <thead>
        <tr>
            <th>Règle</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var regle in _lines)
        {
            <tr>
                <td><a href="regles/@regle.Id/">@regle.Titre</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    private List<RegleDto> _lines = null!;

    protected override void OnInitialized()
    {
        _lines = _reglesService.AllRegles;
    }
}