@page "/talents"

@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using BlazorWjdr.Components.Talent

@inject CompetencesEtTalentsService _competencesEtTalentsService

<h1>Talents</h1>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Talent</th>
        <th>Trait</th>
        <th>Compétences liées</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var talent in _talentsLines.Where(t => t.Ignore == false && t.Parent == null))
        {
            <TalentRow Item="talent"/>
        }
    </tbody>
</table>

@code {
    private TalentDto[] _talentsLines = null!;

    protected override async Task OnInitializedAsync()
    {
        _talentsLines = await _competencesEtTalentsService.ItemsTalents();
    }
}
