@page "/talents"

@using BlazorWjdr.Models
@using BlazorWjdr.Services
@using BlazorWjdr.Components.Talent

@inject CompetencesEtTalentsService _competencesEtTalentsService

<MainTopRow>
    <h3 class="card-title">Talents</h3>
</MainTopRow>

<div class="content px-4">
    <div class="card-body">
        <p class="card-text">
            If you can take a Talent multiple times, it may have a special rule for what this means written into its description. Further, it may have an associated Skill marked under ‘Tests’ (see Talent Format): if so, for each time you have the Talent, you gain +1 SL on any successful use of a Skill tied to the Talent.
        </p>
    </div>
    
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th style="width:250px">Talent</th>
            <th>Trait</th>
            <th>Compétences liées</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var talent in _talentsLines.Where(t => t.Ignore == false && t.Parent == null))
        {
            <TalentRow Item="talent"/>
        }
        </tbody>
    </table>
</div>

@code {
    private IEnumerable<TalentDto> _talentsLines = null!;

    protected override void OnInitialized()
    {
        _talentsLines = _competencesEtTalentsService.AllTalents.ToList();
    }
}
