@page "/talent/{TalentId}"

<MainTopRow>
    <span class="title-primary top-row-title">Chronologie</span>
    <h3>Nom du talent</h3>
</MainTopRow>

<div class="content px-4">
    <h1>Nom du talent</h1>
</div>