@code {
    [Parameter, EditorRequired] public EquipementDto[] Items { get; set; } = null!;
    [Parameter] public bool AfficherContenance { get; set; }
}
<table class="table table-striped">
    <tbody>
        <tr class="tgroupe">
            <td>Nom</td>
            <td>Enc.</td>
            @if (AfficherContenance)
            {
                <td>Capacité</td>
            }
            <td>Prix</td>
            <td>Disponibilité</td>
        </tr>
    @foreach (var item in Items)
    {
        <EquipementRow Item=@item AfficherContenance=@AfficherContenance />
    }
    </tbody>
</table>
