@using BlazorWjdr.Models

<table class="table">
    <tbody class="alternate-color-dark">
        <tr class="tgroupe">
            <td>Nom</td>
            <td>Enc.</td>
            <td>Prix</td>
            <td>Disponibilité</td>
        </tr>
    @foreach (var item in Items)
    {
        <EquipementRow Item="@item"/>
    }
    </tbody>
</table>

@code {
    [Parameter] public EquipementDto[] Items { get; set; } = null!;
}